[2015-09-21 17:30] twhitacre opened #1 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #2 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #3 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #4 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #5 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #6 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #7 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #8 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #9 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #10 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #11 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #12 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #13 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #14 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #15 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #16 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #17 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #18 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #19 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #20 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #21 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #22 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #23 "Assignment 1"

[2015-09-21 17:30] twhitacre opened #24 "Assignment 1"

[2015-09-21 18:15] AirForcePierce commented on #17
http://codepen.io/AirForcePierce/pen/pjbdmb?editors=110
My creation!

[2015-09-21 18:18] twhitacre opened #25 "Assignment 1"

[2015-09-21 18:22] IsaacHardy commented on #3
http://codepen.io/isaachardy/pen/rOLYqj?editors=110

[2015-09-21 18:22] #3 closed

[2015-09-21 18:30] twhitacre opened #26 "Assignment 1"

[2015-09-21 18:34] twhitacre opened #27 "Assignment 1"

[2015-09-21 18:59] MichaelGaynor commented on #14
http://codepen.io/Mike_G/pen/GpqOXP?editors=110

[2015-09-21 18:59] #14 closed

[2015-09-21 19:05] jefdonmar commented on #2
http://codepen.io/jefdonmar/pen/WQxdgj?editors=110

[2015-09-21 19:06] JefBlocker commented on #12
http://codepen.io/JefBlocker/pen/RWRxyw?editors=110

[2015-09-21 19:06] #12 closed

[2015-09-21 19:15] AirForcePierce commented on #17
Bug fixes for brew website!
http://codepen.io/AirForcePierce/pen/VvjyBo?editors=110

[2015-09-21 19:15] #17 closed

[2015-09-21 19:22] luketgriffith commented on #1
http://codepen.io/Lukegriffith/pen/wKWPVv?editors=110

[2015-09-21 19:25] Shalmalidp commented on #10
http://codepen.io/shalmali/pen/epzyPr?editors=110

[2015-09-21 19:38] hdannyyi commented on #23
http://codepen.io/hdannyyi/pen/NGrXaR?editors=110

[2015-09-21 19:38] #23 closed

[2015-09-21 19:43] taheaton commented on #27
http://codepen.io/anon/pen/meEBZp?editors=110
http://codepen.io/anon/pen/YyWeww

[2015-09-21 19:43] #27 closed

[2015-09-21 19:59] IsaacHardy commented on #3
Hard Mode: http://codepen.io/isaachardy/pen/PPzExN?editors=100

[2015-09-21 20:00] Johnrae commented on #5
http://codepen.io/Johnrae/pen/PPzQYb?editors=110

[2015-09-21 20:02] JesseSoldat commented on #24
http://codepen.io/jsoldat/pen/KdMQrb

Finished

[2015-09-21 20:02] #24 closed

[2015-09-21 20:15] charlahcodes commented on #8
http://codepen.io/charlahcodes/pen/ZbOvWy?editors=110

[2015-09-21 20:15] jbrz commented on #7
Normal
http://codepen.io/jbrz/pen/GpqyYp

Normal v2.0 (pffft, 'hard?' Me when I'm done - https://i.imgur.com/zpzIwp5.gifv)
http://codepen.io/jbrz/pen/pjbpXa

[2015-09-21 20:15] #7 closed

[2015-09-21 20:25] #8 closed

[2015-09-21 20:27] sbesozzi commented on #6
http://codepen.io/anon/pen/JYKOpy

[2015-09-21 20:28] amitshah86 commented on #1
http://codepen.io/anon/pen/pjbWMm?editors=110

[2015-09-21 20:28] sbesozzi commented on #6
http://codepen.io/anon/pen/JYKOpy

[2015-09-21 20:30] luketgriffith commented on #13
http://codepen.io/Lukegriffith/pen/wKWPVv

[2015-09-21 20:30] #13 closed

[2015-09-21 20:33] corifowler commented on #18
Normal Mode: http://codepen.io/corifowler/pen/meEpzJ?editors=110
Hard Mode: http://codepen.io/corifowler/pen/NGryaY?editors=110

[2015-09-21 20:34] kmooney517 commented on #19
http://codepen.io/anon/pen/GpqQRq?editors=110

[2015-09-21 20:35] #18 closed

[2015-09-21 20:38] #19 closed

[2015-09-21 20:54] thedoublewolf commented on #4
http://codepen.io/thedoublewolf/pen/zvBpZW?editors=110

[2015-09-21 21:01] hyonakim commented on #16
normal mode: http://codepen.io/hyona/pen/PPzRoe?editors=110

still working on hard mode

[2015-09-21 21:18] ceduncan1 commented on #15
http://codepen.io/ceduncan/pen/KdMoaO?editors=110

[2015-09-21 21:21] hopecrichlow commented on #11
http://codepen.io/hopecrichlow/pen/epzVPw/?editors=110

[2015-09-21 21:21] #11 closed

[2015-09-21 21:30] #15 closed

[2015-09-21 21:34] thedoublewolf commented on #4
Hard Mode

http://codepen.io/thedoublewolf/pen/BozrxE?editors=110

[2015-09-21 21:34] sbesozzi commented on #6
http://codepen.io/sbesozzi/pen/rOLdaV

Still working on hard mode!

[2015-09-21 21:35] #4 closed

[2015-09-21 21:40] sbesozzi commented on #6
http://codepen.io/sbesozzi/pen/rOLdaV

Still working on hard mode!

[2015-09-21 22:37] charlahcodes commented on #8
Hard mode: http://codepen.io/charlahcodes/pen/QjEmej

[2015-09-21 22:54] hyonakim commented on #16
hard mode: http://codepen.io/hyona/pen/RWRMaQ

[2015-09-21 23:37] Johnrae commented on #5
http://codepen.io/Johnrae/pen/KdMQJJ?editors=100

Here is the second assignment. I fixed most of the errors in the code i believe, except for the missing break after lost rhino brewery. i am having a hard time finding what part of the code is causing that.

[2015-09-21 23:49] Shalmalidp commented on #10
http://codepen.io/shalmali/pen/zvBRzV?editors=110

brew assignment

[2015-09-21 23:53] jefdonmar commented on #2
Here is the hard version

http://codepen.io/jefdonmar/pen/pjbVZW?editors=110

Here are a few follow-up questions:
- Is there a way to remove all of the <strong> tag that made all of the text bold with out going through and deleting them one by one?
- I also didn't see the shifts in the text to go to the left. I know that I am still a newb here but any assistance in finding that would be fantastic

[2015-09-21 23:53] #2 closed

[2015-09-21 23:54] #5 closed

[2015-09-22 00:40] ceduncan1 commented on #15
http://codepen.io/ceduncan/pen/KdMRRq?editors=110

[2015-09-22 01:12] havisk commented on #21
http://codepen.io/khavis/pen/rOLpGJ?editors=110

[2015-09-22 01:13] #21 closed

[2015-09-22 02:27] kmooney517 commented on #19
hardmode

http://codepen.io/anon/pen/QjExxV?editors=110

[2015-09-22 03:02] sbesozzi commented on #6
normal:
http://codepen.io/sbesozzi/pen/rOLdaV

hard:
http://codepen.io/sbesozzi/pen/XmKYWy

[2015-09-22 03:03] sbesozzi commented on #6
normal:
http://codepen.io/sbesozzi/pen/rOLdaV

hard:
http://codepen.io/sbesozzi/pen/XmKYWy

[2015-09-22 03:03] sbesozzi commented on #6
normal:
http://codepen.io/sbesozzi/pen/rOLdaV

hard:
http://codepen.io/sbesozzi/pen/XmKYWy

[2015-09-22 03:03] #6 closed

[2015-09-22 04:35] hyonakim commented on #16
hard mode: http://codepen.io/hyona/pen/RWRMaQ?editors=110

missed some things

[2015-09-22 04:35] #16 closed

[2015-09-22 04:39] waspnx commented on #25
http://codepen.io/waspnx/pen/bVejRZ?editors=110

[2015-09-22 04:43] JRob1991 commented on #9
http://codepen.io/JRob1991/pen/VvjyoY?editors=110

[2015-09-22 04:43] #9 closed

[2015-09-22 04:54] #25 closed

[2015-09-22 06:18] waspnx commented on #25
hard mode: http://codepen.io/waspnx/pen/wKWEvv

[2015-09-22 09:50] JeanelM123 opened #28 "Assignment One"
http://codepen.io/anon/pen/zvBmVG?editors=110

[2015-09-22 09:50] #28 closed

[2015-09-22 09:51] JeanelM123 commented on #1
http://codepen.io/anon/pen/zvBmVG?editors=110

[2015-09-22 09:52] JeanelM123 opened #29 "Assignment One"
http://codepen.io/anon/pen/zvBmVG?editors=110

[2015-09-22 09:59] JeanelM123 commented on #29
http://codepen.io/anon/pen/RWRqPj

[2015-09-22 09:59] #29 closed

[2015-09-22 10:06] vpdolan commented on #26
http://codepen.io/vpdolan/pen/EVyEgg?editors=110

[2015-09-22 10:06] #26 closed

[2015-09-22 10:56] itawtitawapuddytat opened #30 "Assignment 1"
http://codepen.io/anon/pen/YyWjXr?editors=110

[2015-09-22 11:16] faircloth commented on #20
http://codepen.io/faircloth/pen/bVeaNd?editors=110

[2015-09-22 11:16] #20 closed

[2015-09-22 11:42] BoyzieLee commented on #22
http://codepen.io/BoyzieLee/pen/pjbazL?editors=110

[2015-09-22 11:42] #22 closed

[2015-09-22 13:02] #10 closed

[2015-09-22 13:02] Shalmalidp commented on #10
closed it late

[2015-09-22 13:03] twhitacre opened #31 "Assignment 1"

[2015-09-22 13:19] jisaacks commented on #25
Very cool!

[2015-09-22 13:19] twhitacre opened #32 "Assignment 1"

[2015-09-22 13:28] JeanelM123 commented on #32
http://codepen.io/anon/pen/zvBmVG?editors=110

[2015-09-22 13:28] #32 closed

[2015-09-22 13:30] itawtitawapuddytat commented on #31
http://codepen.io/anon/pen/YyWjXr?editors=110

[2015-09-22 13:30] #31 closed

[2015-09-22 13:33] twhitacre opened #33 "Assignment 1"

[2015-09-22 13:34] demostudent commented on #33
Codepen link

[2015-09-22 13:35] demostudent commented on #33
Another Link

[2015-09-22 13:35] amitshah86 commented on #1
codepen link

[2015-09-22 13:35] #1 closed

[2015-09-22 13:36] jisaacks commented on #15
Great job. I actually have a pic in front of that piece at Botanical Gardens.

[2015-09-22 13:37] #33 closed

[2015-09-22 13:37] MichaelGaynor commented on #14
http://codepen.io/Mike_G/pen/GpqQZN?editors=110
edited hardmode

[2015-09-22 13:39] jisaacks commented on #13
Love how organized your code is!

[2015-09-22 13:41] jisaacks commented on #11
nice!

[2015-09-22 13:51] jisaacks commented on #7
Ha! Nice!

[2015-09-22 13:58] jisaacks commented on #4
Simple, but very clean and nice looking. I like it a lot.

[2015-09-22 13:59] jisaacks commented on #1
@luketgriffith and @JeanelM123 please make sure you are only commenting on issues assigned to you. This issue was assigned to @amitshah86

[2015-09-22 14:01] jisaacks commented on #2
@jefdonmar , yes there are, depending on what exactly you want to do there may be different methods but usually you can use something like **find and replace** in sublime.

[2015-09-22 16:33] #30 closed

[2015-09-22 17:00] hopecrichlow commented on #11
Thanks :)

[2015-09-22 19:30] twhitacre opened #34 "Assignment 2"

[2015-09-22 19:30] twhitacre opened #35 "Assignment 2"

[2015-09-22 19:30] twhitacre opened #36 "Assignment 2"

[2015-09-22 19:30] twhitacre opened #37 "Assignment 2"

[2015-09-22 19:30] twhitacre opened #38 "Assignment 2"

[2015-09-22 19:30] twhitacre opened #39 "Assignment 2"

[2015-09-22 19:30] twhitacre opened #40 "Assignment 2"

[2015-09-22 19:30] twhitacre opened #41 "Assignment 2"

[2015-09-22 19:30] twhitacre opened #42 "Assignment 2"

[2015-09-22 19:30] twhitacre opened #43 "Assignment 2"

[2015-09-22 19:30] twhitacre opened #44 "Assignment 2"

[2015-09-22 19:30] twhitacre opened #45 "Assignment 2"

[2015-09-22 19:30] twhitacre opened #46 "Assignment 2"

[2015-09-22 19:31] twhitacre opened #47 "Assignment 2"

[2015-09-22 19:31] twhitacre opened #48 "Assignment 2"

[2015-09-22 19:31] twhitacre opened #49 "Assignment 2"

[2015-09-22 19:31] twhitacre opened #50 "Assignment 2"

[2015-09-22 19:31] twhitacre opened #51 "Assignment 2"

[2015-09-22 19:31] twhitacre opened #52 "Assignment 2"

[2015-09-22 19:31] twhitacre opened #53 "Assignment 2"

[2015-09-22 19:31] twhitacre opened #54 "Assignment 2"

[2015-09-22 19:31] twhitacre opened #55 "Assignment 2"

[2015-09-22 19:31] twhitacre opened #56 "Assignment 2"

[2015-09-22 19:31] twhitacre opened #57 "Assignment 2"

[2015-09-22 19:33] MichaelGaynor commented on #48
https://github.com/MichaelGaynor/html-CSS-Practice

[2015-09-22 19:33] #48 closed

[2015-09-22 19:54] Shalmalidp commented on #44
https://github.com/Shalmalidp/gitintro-html-css

[2015-09-22 19:54] #44 closed

[2015-09-22 19:56] jefdonmar commented on #36
Normal Version

https://github.com/jefdonmar/Intro_HTML_CSS

[2015-09-22 19:57] amitshah86 commented on #34
https://github.com/amitshah86/Html-css-intro

[2015-09-22 19:57] #34 closed

[2015-09-22 20:01] twhitacre opened #58 "Assignment 2"

[2015-09-22 20:01] twhitacre opened #59 "Assignment 2"

[2015-09-22 20:01] twhitacre opened #60 "Assignment 2"

[2015-09-22 20:01] twhitacre opened #61 "Assignment 2"

[2015-09-22 20:02] twhitacre opened #62 "Assignment 2"

[2015-09-22 20:03] kmooney517 commented on #60
hardmode included

https://github.com/kmooney517/HTML_CSS_Git_Practice

[2015-09-22 20:03] #60 closed

[2015-09-22 20:03] ceduncan1 commented on #61
https://github.com/ceduncan1/git1

[2015-09-22 20:03] #61 closed

[2015-09-22 20:10] vpdolan commented on #52
https://github.com/vpdolan/TuesSept222015Assignment

[2015-09-22 20:10] #52 closed

[2015-09-22 20:31] IsaacHardy commented on #37
https://github.com/IsaacHardy/html-css-testhub

[2015-09-22 20:31] #37 closed

[2015-09-22 20:48] corifowler commented on #51
https://github.com/corifowler/html-css-intro

[2015-09-22 20:48] #51 closed

[2015-09-22 20:58] Johnrae commented on #39
https://github.com/Johnrae/html-css-garbage-site

;)

[2015-09-22 20:58] #39 closed

[2015-09-22 20:59] sbesozzi commented on #40
https://github.com/sbesozzi/html-css-intro

[2015-09-22 20:59] #40 closed

[2015-09-22 21:02] havisk commented on #54
https://github.com/havisk/beginning-html-css

[2015-09-22 21:06] hopecrichlow commented on #45
https://github.com/hopecrichlow/html-css-intro

[2015-09-22 21:06] #45 closed

[2015-09-22 21:06] #54 closed

[2015-09-22 21:24] JesseSoldat commented on #57
https://github.com/JesseSoldat/html-css-intro-Mr.Cage

[2015-09-22 21:24] waspnx commented on #35
https://github.com/waspnx/beastmode_intro

[2015-09-22 21:57] #35 closed

[2015-09-23 00:01] luketgriffith commented on #47
https://github.com/luketgriffith/html-css-intro

[2015-09-23 00:01] #47 closed

[2015-09-23 00:22] hdannyyi commented on #56
https://github.com/hdannyyi/html-css-intro

[2015-09-23 00:22] #56 closed

[2015-09-23 01:09] JRob1991 commented on #59
https://github.com/JRob1991/RB-Top-5

Homework + Hard Mode

[2015-09-23 01:09] #59 closed

[2015-09-23 01:14] faircloth commented on #53
https://github.com/faircloth/HTML_Email_Template

[2015-09-23 01:14] #53 closed

[2015-09-23 01:15] faircloth commented on #53
Will likely make updates before the due date

[2015-09-23 01:33] AirForcePierce commented on #50
https://github.com/AirForcePierce/beginning-of-blog

Starting my personal page, cleaned up the red, white, and blue, added placeholders and hover effect to later turn into my image buttons.

[2015-09-23 01:33] #50 closed

[2015-09-23 01:34] havisk commented on #54
Hard:

https://github.com/havisk/beginning-html-css/commits?author=havisk

[2015-09-23 01:47] hyonakim commented on #49
https://github.com/hyonakim/myironyard-

new repository with some git stuff

[2015-09-23 01:59] charlahcodes commented on #42
https://github.com/charlahcodes/html-css-intro

[2015-09-23 01:59] #42 closed

[2015-09-23 02:04] thedoublewolf commented on #38
https://github.com/thedoublewolf/personal-page

[2015-09-23 02:05] #38 closed

[2015-09-23 02:11] jefdonmar commented on #36
Hard Version was completed and I changed around a few things.

Only thing is with my header, I wanted it to be center and with blue font color and for some reason when I linked my CSS file, it did not do the commands that I laid out.

Would you be able to give me some pointers on where I may have went wrong? Also feel free to send me a link so that I can figure it out myself as well :)

[2015-09-23 02:11] #36 closed

[2015-09-23 03:07] hyonakim commented on #49
Positioned an image in a container where it was not overflowing outside of the container anymore

https://github.com/hyonakim/myironyard-

[2015-09-23 03:07] #49 closed

[2015-09-23 04:16] JefBlocker commented on #46
https://github.com/JefBlocker/html-css-intro

[2015-09-23 04:16] #46 closed

[2015-09-23 05:09] itawtitawapuddytat commented on #43
https://github.com/itawtitawapuddytat/html-css-intro

[2015-09-23 05:09] #43 closed

[2015-09-23 05:19] jbrz commented on #41
https://github.com/jbrz/TIYfe/tree/master/Homework/ass2

embedding things is literally the devil.  Not pretty.  Not happy with it.  fix it later.  js will provide all the answers.

Also not sure if it was a good idea to just do my whole projects folder as a repo.  probably not.  now there's that GitInto repo sitting there that I don't know how to delete...

https://p.gr-assets.com/540x540/fit/host

[2015-09-23 05:19] #41 closed

[2015-09-23 10:49] taheaton commented on #58
https://github.com/taheaton/html-css-intro

[2015-09-23 10:50] taheaton commented on #58
Tim - I private messaged you on this as well - sorry about that!!!

[2015-09-23 10:50] #58 closed

[2015-09-23 11:19] BoyzieLee commented on #62
I created more than 1 repository.
There are 7 commits on this link: https://github.com/BoyzieLee/HTML-css-intro
There are 2 commits on this link: https://github.com/BoyzieLee/NavigatingAtlanta

[2015-09-23 11:41] JeanelM123 commented on #55
echo "# Assignment2" >> README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin https://github.com/JeanelM123/Assignment2.git
git push -u origin master

[2015-09-23 12:57] JesseSoldat commented on #57
https://github.com/JesseSoldat/html-css-intro-Mr.Cage

[2015-09-23 12:57] #57 closed

[2015-09-23 13:46] twhitacre commented on #34
:+1: Great work. A solid number of commits for the work.

[2015-09-23 13:47] jbrz commented on #41
Ok, redid my repo setup.

homework's here now: https://github.com/jbrz/TIYhw/tree/master/assign2

I'm the worst, I know.

[2015-09-23 13:49] twhitacre commented on #35
:+1: Nice work. Solid number of commits.

[2015-09-23 13:55] twhitacre commented on #36
:+1: Great work. Good number of commits.

To answer your question - my guess is it might be because of [this line here](https://github.com/jefdonmar/Intro_HTML_CSS/blob/master/main.css#L1). You don't need those `<css>` blocks around your CSS since you are already inside of a CSS file type.

[2015-09-23 13:56] twhitacre commented on #55
Moved from another person's issue:

There are 7 commits on this link: https://github.com/BoyzieLee/HTML-css-intro
There are 2 commits on this link: https://github.com/BoyzieLee/NavigatingAtlanta

[2015-09-23 13:56] #55 closed

[2015-09-23 13:57] twhitacre commented on #61
:+1: Great work. Good number of commits.

Love the gif you linked to in your Readme.

[2015-09-23 14:00] twhitacre commented on #60
:+1: Looks good. Solid number of commits.

[2015-09-23 14:01] twhitacre commented on #59
:+1: Looks good. Nice work!

[2015-09-23 14:02] twhitacre commented on #58
@taheaton - no worries at all!

:+1: Project looks good. Nice work.

[2015-09-23 14:09] twhitacre commented on #56
:+1: nice work. Good number of commits.

[2015-09-23 14:22] hopecrichlow commented on #45
Does it count towards hard mode if I made a ton of changes and then reverted to a previous commit?

[2015-09-23 14:27] twhitacre commented on #57
:+1: Nice work. Good number of commits.

[2015-09-23 14:36] twhitacre commented on #55
:+1: Looks great. Nice work.

[2015-09-23 14:37] twhitacre commented on #53
:+1: Great work. Good number of commits.

[2015-09-23 14:38] twhitacre commented on #54
:+1: great work! Good number of commits.

[2015-09-23 14:39] twhitacre commented on #52
:+1: Good work @vpdolan - good number of commits.

[2015-09-23 14:40] twhitacre commented on #51
:+1: Great work. Good number of commits and your site is responsive!

[2015-09-23 14:41] twhitacre commented on #50
:+1: Looking good. Good number of commits.

[2015-09-23 14:42] twhitacre commented on #49
:+1: Great work. Good number of commits!

[2015-09-23 14:43] twhitacre commented on #48
This is pretty horrible little website :smile:

Seriously, though :+1: great work. Good number of commits.

[2015-09-23 14:44] twhitacre commented on #47
:+1: Great work. Good number of commits.

[2015-09-23 14:46] twhitacre commented on #46
:+1: Great work! loved the site.

Good number of commits too.

[2015-09-23 14:51] twhitacre commented on #44
:+1: Great work! Good number of commits.

Also, I love Bhojanic!

[2015-09-23 14:54] twhitacre commented on #45
@hopecrichlow yep, it still counts.

Great work, and good number of commits. You really do want to make sure you always add a `Readme.md` file though. Since that wasn't part of the requirements though, I'll still mark this complete.

[2015-09-23 14:54] twhitacre commented on #43
:+1: Great work. Good number of commits.

[2015-09-23 14:55] twhitacre commented on #42
:+1: Great work. Great number of commits.

[2015-09-23 14:58] twhitacre commented on #41
:+1: Great work. Good commits.

Love the gifs. For the future, if you want to add images inside of markdown, you can do so like...

[code]

![Image of Yaktocat](http://media.giphy.com/media/hWLcx3F50s5Qk/giphy.gif)

[2015-09-23 14:59] twhitacre commented on #40
:+1: Great work and great commits.

[2015-09-23 15:01] twhitacre commented on #38
:+1: Great work and good commits.

Note in the [code here](https://github.com/thedoublewolf/personal-page/blob/master/index.html#L9-L25), you want to avoid using `<table>`'s for layout unless you are specifically layout out grid data like you would find in an excel spreadsheet.

[2015-09-23 15:02] twhitacre commented on #39
:+1: great work and good commits!

[2015-09-23 15:05] twhitacre commented on #37
:+1: Great work and good commits!

[2015-09-23 16:19] amitshah86 commented on #34
Thanks Tim!

Sent from my iPhone

[2015-09-23 20:02] twhitacre opened #63 "Assignment 3"

[2015-09-23 20:02] twhitacre opened #64 "Assignment 3"

[2015-09-23 20:02] twhitacre opened #65 "Assignment 3"

[2015-09-23 20:02] twhitacre opened #66 "Assignment 3"

[2015-09-23 20:02] twhitacre opened #67 "Assignment 3"

[2015-09-23 20:02] twhitacre opened #68 "Assignment 3"

[2015-09-23 20:02] twhitacre opened #69 "Assignment 3"

[2015-09-23 20:02] twhitacre opened #70 "Assignment 3"

[2015-09-23 20:02] twhitacre opened #71 "Assignment 3"

[2015-09-23 20:02] twhitacre opened #72 "Assignment 3"

[2015-09-23 20:02] twhitacre opened #73 "Assignment 3"

[2015-09-23 20:02] twhitacre opened #74 "Assignment 3"

[2015-09-23 20:02] twhitacre opened #75 "Assignment 3"

[2015-09-23 20:02] twhitacre opened #76 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #77 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #78 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #79 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #80 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #81 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #82 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #83 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #84 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #85 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #86 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #87 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #88 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #89 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #90 "Assignment 3"

[2015-09-23 20:03] twhitacre opened #91 "Assignment 3"

[2015-09-23 20:04] luketgriffith commented on #78
http://luketgriffith.github.io/layout/

[2015-09-23 20:04] #78 closed

[2015-09-23 20:10] IsaacHardy commented on #66
Master Rep: https://github.com/IsaacHardy/Position_Mimic

gh-pages link: http://isaachardy.github.io/Position_Mimic/

[2015-09-23 20:10] #66 closed

[2015-09-23 20:57] taheaton commented on #76
https://github.com/taheaton/teaching-gh-pages

Best I can do without hurting myself!!!

[2015-09-23 21:00] kmooney517 commented on #84
repository: https://github.com/kmooney517/OctocatHTML_CSS_Practice

url: http://kmooney517.github.io/OctocatHTML_CSS_Practice

Comment: It still bothers me that I can't get the triangle to sit still when adjusting the page size.

[2015-09-23 21:00] #84 closed

[2015-09-23 21:40] Shalmalidp commented on #74
https://github.com/Shalmalidp/day4

<REPO link

[2015-09-23 21:42] Johnrae commented on #68
http://johnrae.github.io/octocatcss/
^link to web page
https://github.com/Johnrae/octocatcss
^link to repo

[2015-09-23 21:42] #68 closed

[2015-09-23 21:47] Shalmalidp commented on #74
http://shalmalidp.github.io/day4/

gh-pages

[2015-09-23 22:15] kmooney517 commented on #84
I started from scratch and did another one - the triangles stay still not when I adjust the page size.... I can't tell why they do this time and not the first time. any ideas??

https://github.com/kmooney517/Octocat2

[2015-09-23 22:40] amitshah86 commented on #63
https://github.com/amitshah86/assignment3

[2015-09-23 22:46] ceduncan1 commented on #80
https://github.com/ceduncan1/octodex

http://ceduncan1.github.io/octodex/

[2015-09-23 22:47] #80 closed

[2015-09-23 22:54] waspnx commented on #64
gh-pages: http://waspnx.github.io/layout/
repository: https://github.com/waspnx/layout

[2015-09-23 22:54] #64 closed

[2015-09-23 23:09] hopecrichlow commented on #75
https://github.com/hopecrichlow/Octodex

http://hopecrichlow.github.io/Octodex/

Still working on it!

[2015-09-23 23:09] vpdolan commented on #85
ttps://github.com/vpdolan/Assignment3

[2015-09-23 23:09] #85 closed

[2015-09-23 23:39] AirForcePierce commented on #82
https://github.com/AirForcePierce/cleverkitties

The repo with the branch added!

[2015-09-23 23:40] AirForcePierce commented on #82
http://airforcepierce.github.io/cleverkitties/

Its not "pixel perfect" but it's close!

[2015-09-23 23:40] #82 closed

[2015-09-23 23:59] faircloth commented on #86
http://faircloth.github.io/CSS_Layout_Assignment3/

[2015-09-23 23:59] faircloth commented on #86
https://github.com/faircloth/CSS_Layout_Assignment3/commits/master

[2015-09-23 23:59] #86 closed

[2015-09-24 00:08] JesseSoldat commented on #90
https://github.com/JesseSoldat/CSS-Floats-Positioning/tree/gh-pages

[2015-09-24 00:15] hdannyyi commented on #89
https://github.com/hdannyyi/octodex

http://hdannyyi.github.io/octodex/ (gh-pages)

[2015-09-24 00:15] #89 closed

[2015-09-24 00:15] jefdonmar commented on #65
So I wasn't able to get the the triangle portion on this. I know it had something to do with the before and after commands but I wasn't able to figure it out.

http://jefdonmar.github.io/layoutHW3/

[2015-09-24 00:15] #65 closed

[2015-09-24 00:23] thedoublewolf commented on #67
repository ----> https://github.com/thedoublewolf/octodex-recreation
live site ----> file:///Users/jonathanwarren/tiy/projects/Assignment03/index.html

[2015-09-24 00:24] #67 closed

[2015-09-24 00:30] charlahcodes commented on #71
http://charlahcodes.github.io/html-css-layout-intro/

[2015-09-24 00:30] charlahcodes commented on #71
https://github.com/charlahcodes/html-css-layout-intro

[2015-09-24 00:45] JesseSoldat commented on #90
While trying to post my gh-pages I came across this error

 Your site is having problems building: The submodule learning-gh-pages was not properly initialized with a .gitmodules file. For more information, see https://help.github.com/articles/page-build-failed-missing-submodule.

tried to create a new repository and repeat my steps but some errors occurred. I don't know what to do maybe I can sho

[2015-09-24 00:47] charlahcodes commented on #71
Had trouble getting the text to center next to the small "author" images...

[2015-09-24 00:48] #71 closed

[2015-09-24 01:16] Shalmalidp commented on #74
file:///Users/shalmalipadgaokar/tiy/projects/92315day4/index.html

<modification to the code added # to container>

[2015-09-24 01:16] Shalmalidp commented on #74
resubmitting the gh-pages

[2015-09-24 01:23] Shalmalidp commented on #74
file:///Users/shalmalipadgaokar/tiy/projects/92315day4/index.html

[2015-09-24 01:23] #74 closed

[2015-09-24 01:23] Shalmalidp commented on #74
no changes reflected to the gh-pages to resubmit

[2015-09-24 01:29] JefBlocker commented on #77
I was not able to complete either part of the assignment.  I've worked on it all afternoon and evening and I cannot seem to figure out how to single out the larger images to apply the CSS only to them.  I followed my directions to create create the additional branch and was unable to make it work, either.  I don't understand why I was unable to figure it out.

[2015-09-24 02:06] corifowler commented on #83
Repository: https://github.com/corifowler/cats-css

GH-Pages: http://corifowler.github.io/cats-css/

[2015-09-24 02:06] #83 closed

[2015-09-24 02:16] itawtitawapuddytat commented on #72
need to work on triangles. Triangles are in CSS, however, not showing up
https://itawtitawapuddytat.github.io/learning-ghpages/

[2015-09-24 02:27] itawtitawapuddytat commented on #72
https://github.com/itawtitawapuddytat/learning-ghpages/tree/gh-pages

[2015-09-24 02:27] #72 closed

[2015-09-24 02:47] JRob1991 commented on #73
https://github.com/JRob1991/Octocats

http://jrob1991.github.io/Octocats/

[2015-09-24 02:47] #73 closed

[2015-09-24 02:51] sbesozzi commented on #69
https://github.com/sbesozzi/Intro-HTML-CSS-Layout

http://sbesozzi.github.io/Intro-HTML-CSS-Layout/

[2015-09-24 02:51] #69 closed

[2015-09-24 02:57] havisk commented on #87
https://github.com/havisk/HTML-CSS-Layout

http://havisk.github.io/HTML-CSS-Layout/

[2015-09-24 02:57] #87 closed

[2015-09-24 03:07] hyonakim commented on #81
Cats Repository
https://github.com/hyonakim/catproject/tree/gh-pages

Cats Cats Cats Triangles Triangles Triangles!
http://hyonakim.github.io/catproject

[2015-09-24 03:07] #81 closed

[2015-09-24 03:18] MichaelGaynor commented on #79
https://github.com/MichaelGaynor/Octodex-Practice

http://michaelgaynor.github.io/Octodex-Practice/

[2015-09-24 03:18] #79 closed

[2015-09-24 03:53] jbrz commented on #70
Ok.  Confusing.  Here's the gh-pages thing.  The images are all absolute or something.  When I open the html in-browser, they're fine.  Not sure what the deal is.  Will continue trying to mess with it.
https://jbrz.github.io/TIYhw/

Repo.  Part of the problem maybe?  The gh-pages is branched off my homework repo - which is the folder holding my assignment folders, so it's a level higher - I actual

[2015-09-24 11:09] JefBlocker commented on #77
Okay, I got some sleep and at least I was able to create the gh pages link: http://jefblocker.github.io/learning-positioning/.

I understand that every CSS element is a box, but I cannot seem to wrap my head around how I access img src for the larger images, individually, so I can manipulate how they appear.  I'm probably making it harder than it is, but that's where I'm stuck.

[2015-09-24 11:44] BoyzieLee commented on #88
file:///Users/boyziemathis/tiy/floatingboxes/index.html

argh.  I still have a lot of changes to make..... I was stuck on a annoying problem that was not due to my code but I couldn't see it because I had my screen too small :/

[2015-09-24 12:11] JesseSoldat commented on #90
update here is my homework

http://jessesoldat.github.io/CSS-Floats-Positioning

https://github.com/JesseSoldat/CSS-Floats-Positioning/tree/gh-pages

[2015-09-24 12:11] #90 closed

[2015-09-24 12:24] kmooney517 commented on #84
this is the gh-pages link for my second attempt - http://kmooney517.github.io/Octocat2/

[2015-09-24 12:26] #70 closed

[2015-09-24 12:58] Shalmalidp commented on #74
text aligned to the image on the left
https://github.com/Shalmalidp/day4

[2015-09-24 13:01] vpdolan commented on #91
http://vpdolan.github.io/Assignment3.

[2015-09-24 13:19] jisaacks commented on #90
Your homework looks great, however it looks like you put a repository within a repository. This is called a `submodule` in the **git** world. The issue you were having is related to that. Be careful when creating new projects and initializing git repositories. Before you create a project, think about where in your file system you want this project to exist. You can use the commands `pwd`, `ls`, an

[2015-09-24 13:22] jisaacks commented on #89
This looks great! The only thing you are missing is the triangles. If you get time, go back and add that, but if not, don't worry about it.

[2015-09-24 13:24] jisaacks commented on #88
@BoyzieLee if you look at your url, you see how it starts with `file://` that means that you are looking at a file on your computer. Since we are not on your computer we cannot look at your work. You will need to publish your page to github and share that link. That link should start with `https://`

[2015-09-24 13:27] jisaacks commented on #91
@vpdolan please check before you comment that you are commenting on the assignment that is assigned to you. This issue is assigned to @JeanelM123.

[2015-09-24 13:41] jisaacks commented on #86
This looks great. Love how you put the whole thing in it's own box. You forgot the triangles, no big deal, but if you get time you can always add them later if you like.

[2015-09-24 13:42] jisaacks commented on #83
Looks great!

[2015-09-24 13:43] jisaacks commented on #84
2nd one looks good. Not seeing an issue with the triangles. You can come grab me and show me what you mean later if you like.

[2015-09-24 13:46] jisaacks commented on #82
At this point, we weren't looking for pixel perfection. This looks great. Good job!

[2015-09-24 13:48] jisaacks commented on #80
Looks awesome!

[2015-09-24 13:49] jisaacks commented on #80
Just noticed the gif in your read me. Did you know you could put them inline with markdown like so:

![](http://d.gr-assets.com/hostedimages/1380222758ra/646902.gif)

:)

[2015-09-24 13:52] jisaacks commented on #81
Looks super!

[2015-09-24 13:53] ceduncan1 commented on #80
Thanks! I figured there was a way, just hadn't gotten around to figuring it out.

[2015-09-24 13:57] jisaacks commented on #78
Looks good. Next time post a link to both your gh pages (which you did here), and also to the repo it self please :)

[2015-09-24 13:59] jisaacks commented on #75
Looks good so far. Thanks for turning in what you have. I am going to go a head and reopen it for now so you can go back and add the rest when you get time. Always work on current homework first tho.

[2015-09-24 14:01] jisaacks commented on #76
@taheaton please create a `gh-pages` branch so we can see your page rendered. If you need help with that, please ask myself, Tim, or a fellow student.

[2015-09-24 14:02] jisaacks commented on #73
Looks good.

[2015-09-24 14:04] jisaacks commented on #74
Good job on this @Shalmalidp!

[2015-09-24 14:06] jisaacks commented on #72
What you have looks good. The triangles are not showing up because you are trying to add them to a class called `bracketed` which is the example we did in class, but does not exists in the octocat html. Also you can get rid of the black dots/circles by adding the css `list-style: none;` to either the **ul** or **li**.

[2015-09-24 14:09] jisaacks commented on #77
Jef, thanks so much for turning in what you have done and commenting with your issues. Please feel free to ask either instructor (myself or Tim), or any of your fellow classmates for help with something like that of you get stuck. @twhitacre is going over the solutions to this problem in class today.

[2015-09-24 14:10] jisaacks commented on #71
Try looking into the css property `line-height` to help with that. This looks good though.

[2015-09-24 14:18] jisaacks commented on #70
Yeah be sure when you are creating new projects and initializing repos to be aware of where you are in your files system and where you want your project to be. You can use `pwd`, `ls`, and `cd` for introspection to make sure everything looks right.

About lists, they have some default styles from the user agent that are causing your issues, but they can all be turned off with css. But you should s

[2015-09-24 14:22] jisaacks commented on #68
This looks good, you have it set to be huge though, so it was hard to see at first.

[2015-09-24 14:23] jisaacks commented on #69
Good job.

[2015-09-24 14:24] jisaacks commented on #67
Love it. Great description in your read me as well.

[2015-09-24 14:25] jisaacks commented on #64
This looks good, try to add the triangles if you have time, if not, not a big deal.

[2015-09-24 14:27] jisaacks commented on #65
What you have looks good, if you get a chance later on, go back and add the triangles, but if you don't, no big deal. When turning in your assignment, remember to post a link to the live site (which you did) and also the repo.

[2015-09-24 14:29] jisaacks commented on #63
Is this live on gh-pages? Can you please provide a link.

[2015-09-24 15:08] BoyzieLee commented on #88
will do, about to add it now...

On Thu, Sep 24, 2015 at 9:24 AM, JD Isaacks <notifications@github.com>
wrote:

--
Boyzie

[2015-09-24 17:30] hopecrichlow commented on #75
Ok, thanks!

[2015-09-24 17:32] BoyzieLee commented on #88
https://github.com/BoyzieLee/floatingboxes
Here is the http link.

I know its horrible. I didn't realize that the size of my screen was affecting what I was looking at... Just realized it this morning:/ I can redue this this weekend if needed.

[2015-09-24 17:37] taheaton commented on #76
Here it is ... https://github.com/taheaton/teaching-gh-pages/tree/gh-pages

[2015-09-24 17:37] #76 closed

[2015-09-24 18:02] jisaacks commented on #76
Thanks, no big deal but for future reference, the link I was referring to looks like this: http://taheaton.github.io/teaching-gh-pages/

You can access it by going to your repo's settings.

[2015-09-24 18:04] jisaacks commented on #88
@BoyzieLee please create a `gh-pages` branch and then send me a link to the live site.

[2015-09-24 18:08] amitshah86 commented on #63
http://amitshah86.github.io/assignment3/

[2015-09-24 18:08] #63 closed

[2015-09-24 18:40] twhitacre opened #92 "Assignment 4"
This issue is for amitshah86. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #93 "Assignment 4"
This issue is for waspnx. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #94 "Assignment 4"
This issue is for jefdonmar. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #95 "Assignment 4"
This issue is for IsaacHardy. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #96 "Assignment 4"
This issue is for thedoublewolf. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #97 "Assignment 4"
This issue is for johnrae. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #98 "Assignment 4"
This issue is for sbesozzi. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #99 "Assignment 4"
This issue is for jbrz. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #100 "Assignment 4"
This issue is for charlahcodes. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #101 "Assignment 4"
This issue is for itawtitawapuddytat. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #102 "Assignment 4"
This issue is for Jrob1991. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #103 "Assignment 4"
This issue is for shalmalidp. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #104 "Assignment 4"
This issue is for hopecrichlow. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #105 "Assignment 4"
This issue is for taheaton. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #106 "Assignment 4"
This issue is for JefBlocker. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #107 "Assignment 4"
This issue is for luketgriffith. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #108 "Assignment 4"
This issue is for MichaelGaynor. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #109 "Assignment 4"
This issue is for ceduncan1. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #110 "Assignment 4"
This issue is for hyonakim. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #111 "Assignment 4"
This issue is for AirForcePierce. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #112 "Assignment 4"
This issue is for corifowler. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #113 "Assignment 4"
This issue is for kmooney517. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #114 "Assignment 4"
This issue is for vpdolan. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #115 "Assignment 4"
This issue is for faircloth. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #116 "Assignment 4"
This issue is for havisk. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #117 "Assignment 4"
This issue is for BoyzieLee. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #118 "Assignment 4"
This issue is for hdannyyi. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #119 "Assignment 4"
This issue is for JesseSoldat. You should submit a link to your final project for Assignment 4

[2015-09-24 18:40] twhitacre opened #120 "Assignment 4"
This issue is for JeanelM123. You should submit a link to your final project for Assignment 4

[2015-09-24 20:20] BoyzieLee commented on #117
Branches link: https://github.com/BoyzieLee/floatingboxes/branches

[2015-09-24 20:26] BoyzieLee commented on #117
Here is the link.... http://boyzielee.github.io/floatingboxes/

[2015-09-25 08:55] BoyzieLee commented on #88
I sent this through issue #117 yesterday! Here is the branch link: https://github.com/BoyzieLee/floatingboxes/branches

Here is the horrible live link: http://boyzielee.github.io/floatingboxes/
I'm going to redue this this weekend.

[2015-09-25 08:56] BoyzieLee commented on #88
... my bad. I just realized that I replied to the wrong thing yesterday. Sorry.
https://github.com/tiy-atl-js-sept-2015/Assignments/issues/117

[2015-09-25 08:57] BoyzieLee commented on #117
... Oops, I sent the wrong thing to the wrong person. Meant to send that to JD.

[2015-09-25 10:56] Shalmalidp commented on #103
Did I submit something....I was just commiting n pushing to repo as it was done

Sent via the Samsung GALAXY S®4, an AT&T 4G LTE smartphone

<div>-------- Original message --------</div><div>From: Tim Whitacre <notifications@github.com> </div><div>Date:09/24/2015  2:40 PM  (GMT-05:00) </div><div>To: tiy-atl-js-sept-2015/Assignments <Assignments@noreply.github.com> </div><div>Cc: Shalmali Padgaokar

[2015-09-25 18:35] Shalmalidp commented on #103
link for repository
file:///Users/shalmalipadgaokar/tiy/projects/92415day4/normalmode/index.html

link for gh-pages
http://shalmalidp.github.io/92415NormalMode/

[2015-09-25 19:49] AirForcePierce commented on #111
http://airforcepierce.github.io/normmodeboyz/

gh-pages link

[2015-09-25 19:50] AirForcePierce commented on #111
https://github.com/AirForcePierce/normmodeboyz

link to my repo

[2015-09-25 19:50] #111 closed

[2015-09-25 19:54] MichaelGaynor commented on #108
https://github.com/MichaelGaynor/Normalize-Website

http://michaelgaynor.github.io/Normalize-Website/

[2015-09-25 19:54] #108 closed

[2015-09-25 22:30] thedoublewolf commented on #96
repo ---> https://github.com/thedoublewolf/pricing-plan/tree/master
live page ---> http://thedoublewolf.github.io/pricing-plan/

[2015-09-26 01:27] waspnx commented on #93
gh-pages: http://waspnx.github.io/trybeforeyoubuy/

repo: https://github.com/waspnx/trybeforeyoubuy

[2015-09-26 17:16] kmooney517 commented on #113
Normal Mode: The background image shows up on my end but not when I use the gh-pages link. can't figure out why.

gh-pages: http://kmooney517.github.io/simplepricing/
repository: https://github.com/kmooney517/simplepricing

Hard Mode:
gh-pages: http://kmooney517.github.io/SkinnyTies/
repository: https://github.com/kmooney517/SkinnyTies

[2015-09-26 17:16] #113 closed

[2015-09-26 21:21] charlahcodes commented on #100
Repository: https://github.com/charlahcodes/webpage-from-an-image
GH-Pages: http://charlahcodes.github.io/webpage-from-an-image/

[2015-09-26 21:22] #100 closed

[2015-09-27 05:35] thedoublewolf commented on #96
hard mode
repo ---> https://github.com/thedoublewolf/skinnyties
live page ---> http://thedoublewolf.github.io/skinnyties/

[2015-09-27 05:35] #96 closed

[2015-09-27 14:08] Shalmalidp commented on #103
file:///Users/shalmalipadgaokar/tiy/projects/92415day4/hardmode/index.html

[2015-09-27 18:22] JesseSoldat commented on #119
http://jessesoldat.github.io/skinnyTies/
http://jessesoldat.github.io/simple-pricing-/

https://github.com/JesseSoldat/skinnyTies
https://github.com/JesseSoldat/simple-pricing-

[2015-09-27 18:22] #119 closed

[2015-09-27 19:13] hyonakim commented on #110
Normal Mode:
https://github.com/hyonakim/HostSite
http://hyonakim.github.io/HostSite/

Hard Mode:
https://github.com/hyonakim/SkinnyTies
http://hyonakim.github.io/SkinnyTies/

[2015-09-27 19:13] #110 closed

[2015-09-27 19:53] IsaacHardy commented on #95
(Hard Mode) Rep: https://github.com/IsaacHardy/Mimic_Skinnyties

(Hard Mode) GH-pages Link: http://isaachardy.github.io/Mimic_Skinnyties/

[2015-09-27 19:53] #95 closed

[2015-09-27 19:56] Johnrae commented on #97
http://johnrae.github.io/bigtree/
^page link
https://github.com/Johnrae/bigtree
^repo link

[2015-09-27 19:56] #97 closed

[2015-09-27 20:37] luketgriffith commented on #107
Hard mode:
https://github.com/luketgriffith/ties
http://luketgriffith.github.io/ties/
Normal mode:
https://github.com/luketgriffith/normal
http://luketgriffith.github.io/normal/

[2015-09-27 20:37] #107 closed

[2015-09-27 21:41] taheaton commented on #105
Assignment 4:  https://github.com/taheaton/Ish
https://github.com/taheaton/Ish/tree/gh-pages

[2015-09-27 23:43] faircloth commented on #115
https://github.com/faircloth/WebpageMimic

[2015-09-27 23:55] faircloth commented on #115
http://faircloth.github.io/WebpageMimic/

[2015-09-27 23:55] #115 closed

[2015-09-28 00:15] corifowler commented on #112
GH-Pages: http://corifowler.github.io/skinny-ties-weird/

Repository: https://github.com/corifowler/skinny-ties-weird

[2015-09-28 00:15] #112 closed

[2015-09-28 01:31] jefdonmar commented on #94
Here is the link to my normal mode

https://github.com/jefdonmar/HW4W1/tree/gh-pages

Full disclosure, between company and family things, this did not get the attention that it deserved given my constraints this weekend. Would love to sit down 1:1 and discuss this because I feel that I was making my things a bit too complicated in terms of my HTML and CSS code

[2015-09-28 02:02] #93 closed

[2015-09-28 02:23] amitshah86 commented on #92
http://amitshah86.github.io/TryBeforeYouBuy

[2015-09-28 02:23] #92 closed

[2015-09-28 02:26] amitshah86 commented on #92
http://amitshah86.github.io/TryBeforeYouBuy

[2015-09-28 03:03] sbesozzi commented on #98
https://github.com/sbesozzi/html-css-webpage

http://sbesozzi.github.io/html-css-webpage/

[2015-09-28 03:03] #98 closed

[2015-09-28 03:43] JefBlocker commented on #106
Here's the link to my final project for assignment 4: http://jefblocker.github.io/css-layout-for-html-normal/.  I think I have a conflict between the boxes for the .column li with .projects, .smallBusiness, and .enterprise.

[2015-09-28 03:43] #106 closed

[2015-09-28 04:15] itawtitawapuddytat commented on #101
commits:
https://github.com/itawtitawapuddytat/fullwebpage

[2015-09-28 04:16] itawtitawapuddytat commented on #101
link:
https://itawtitawapuddytat.github.io/fullwebpage/

[2015-09-28 04:22] JRob1991 commented on #102
https://github.com/JRob1991/RegularMode

http://jrob1991.github.io/RegularMode/

[2015-09-28 04:46] sbesozzi commented on #98
Hard Mode:

https://github.com/sbesozzi/Skinny-Ties-Webpage

http://sbesozzi.github.io/Skinny-Ties-Webpage/

[2015-09-28 05:46] havisk commented on #116
https://github.com/havisk/Natural-Growth

http://havisk.github.io/Natural-Growth/

[2015-09-28 05:46] #116 closed

[2015-09-28 11:22] ceduncan1 commented on #109
Hi Tim and JD,

Here's the normal mode:
https://github.com/ceduncan1/cssNormal
http://ceduncan1.github.io/cssNormal/

I've worked on the hard mode, although I haven't finished it yet.  Since I'm still working on it, I haven't yet pushed it to gh-pages.  Here's what I've got so far:
https://github.com/ceduncan1/skinnyTies

[2015-09-28 11:22] #109 closed

[2015-09-28 12:05] hopecrichlow commented on #104
https://github.com/hopecrichlow/Layout-

[2015-09-28 12:14] hopecrichlow commented on #104
http://hopecrichlow.github.io/Layout-

[2015-09-28 12:14] #104 closed

[2015-09-28 12:16] jbrz commented on #99
Brutal weekend, sorry!

Never got a chance to finish tackling hard.  Planning to finish it this week.  Maybe next weekend I won't have 80 things to do.

easy https://github.com/jbrz/TIYa4ez
hard https://github.com/jbrz/TIYa4RIP

[2015-09-28 12:23] vpdolan commented on #114
https://github.com/tiy-atl-js-sept-2015/Assignments/issues/114
https://github.com/tiy-atl-js-sept-2015/Assignments/issues/114

[2015-09-28 12:25] vpdolan commented on #114
https://github.com/vpdolan/TryBeforeYouBuy

[2015-09-28 12:43] vpdolan commented on #114
http://vpdolan.github.io/TryBeforeYouBuy

[2015-09-28 12:47] #114 closed

[2015-09-28 13:00] hdannyyi commented on #118
https://github.com/hdannyyi/simple-pricing-website

took my foot off the gas this weekend will finish today

[2015-09-28 13:20] JeanelM123 commented on #120
file:///Users/TruChaos/tiy/Assignment4/index.html

[2015-09-28 14:26] Shalmalidp commented on #103
cannot create gh-pages ...error

[2015-09-28 14:34] BoyzieLee commented on #117
http://boyzielee.github.io/layoutnormal
https://github.com/BoyzieLee/layoutnormal/tree/gh-pages

[2015-09-28 14:38] twhitacre commented on #119
:+1: Great work! Awesome to see you do both of the exercises.

Note [here](https://github.com/JesseSoldat/simple-pricing-/blob/master/index.html#L20-L24) I would use `background-image` instead so you don't have to use positioning.

[2015-09-28 14:40] twhitacre commented on #117
Looks like you still have a little work to do. I'm going to open this back up, but let us (or TA's) know if you need help with the remainder of the work.

[2015-09-28 14:42] twhitacre commented on #116
:+1: Great work, good attention to detail.

See [here](https://github.com/havisk/Natural-Growth/blob/master/index.html#L33-L173), you really should avoid using a `<table>` when possible. Actually the only time a table is ok to use is when you need to put a spreadsheet looking block on your page, otherwise use elements and css.

Also, make sure to properly indent your code. It will help you later i

[2015-09-28 14:46] twhitacre commented on #115
:+1: great work. Very clean HTML - nicely organized.

CSS is organized great as well.

One pro tip, when you can (in css especially) add comments around sections. Just makes it easier in the future.

[2015-09-28 15:07] twhitacre commented on #113
:+1: Nice work on both! Your HTML & CSS are both laid out very nicely and very well organized.

The only problem I see is that both seem to have been programmed specifically for your browser size and on my computer (15") both sites break a little bit. No big deal for this assignment, but you'll want to

[2015-09-28 15:18] twhitacre commented on #114
:+1: Good work.

Your HTML & CSS look really neat and well organized, great work.

I noticed [here](https://github.com/vpdolan/TryBeforeYouBuy/blob/gh-pages/main.css#L56) that you were linking to your background image, but since you named your folder `Images` with a capitol `I` it will not be a proper link. My suggestion is get used to always using lowercase so you don't run into this issue again.

[2015-09-28 15:21] twhitacre commented on #111
:+1: Looks awesome.

Note [here](https://github.com/AirForcePierce/normmodeboyz/blob/master/index.html) ... you REALLY want to do your best to indent your HTML to make it easier to read by others and even yourself in the future. I noticed your CSS looks really good, keep this pattern up for all code.

[2015-09-28 15:23] twhitacre commented on #112
:+1: Excellent work. Your design looks really good and your code looks even better. Great organization and indentation. Also, very nice to see you using comments in your CSS to block off your different sections.

[2015-09-28 15:25] twhitacre commented on #110
:+1: Great work! Awesome to see both pieces completed.

See [here](https://github.com/hyonakim/HostSite/blob/master/index.html#L28-L31) - for the most part your HTML & CSS look great, but you can do with a bit more indentation. This will just help in the future when you work on larger projects. Awesome job!

[2015-09-28 15:26] twhitacre commented on #109
:+1: Great work. The final product looks great and your HTML & CSS are very well laid out and indented.

[2015-09-28 15:29] twhitacre commented on #108
:+1: Great work! The final product and your HTML/CSS look great!

[2015-09-28 15:37] twhitacre commented on #107
:+1: Great work!

The normal node looks awesome, and I love the comments sections in your code.

For the Hard mode, it looks like ([see here](https://github.com/luketgriffith/ties/blob/master/main.css#L157-L159)) since you named your images folder `IMG` but targeted them in the css with `img` your browser sees them as two different paths, so make sure to keep them the same. Rule of thumb - always

[2015-09-28 15:41] twhitacre commented on #106
:+1: Looks great! Good work!

See [here](https://github.com/JefBlocker/css-layout-for-html-normal/blob/master/main.css#L14-L24) make sure you line up those  as it will help in the future.

I don't specifically see a conflict but if you want to sit down and look at this we certainly can.

Also, when you close your issue also provide a link to your repo. Just makes our jobs easier so we don't have t

[2015-09-28 15:43] twhitacre commented on #104
:+1: Looks awsome, great work!

Also, I love seeing the HTML/CSS comments. This is an excellent practice to get into.

Also, [this](https://github.com/hopecrichlow/Layout-/blob/master/main.css#L15) :smile: :smile:

[2015-09-28 15:54] twhitacre commented on #105
@taheaton your code is looking good, but it looks like you've got a few things to finish up.

Biggest thing is you named your CSS file `Main.CSS` but called it with `main.css`. Your browser will see those as two different files, which is why your live site has no CSS on it. I did manually change it and it looks  a lot better, but there are still some styling issues you want to clean up. Let me, JD

[2015-09-28 16:02] twhitacre opened #121 "Assignment 5"
@amitshah86 this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #122 "Assignment 5"
@waspnx this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #123 "Assignment 5"
@jefdonmar this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #124 "Assignment 5"
@IsaacHardy this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #125 "Assignment 5"
@thedoublewolf this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #126 "Assignment 5"
@johnrae this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #127 "Assignment 5"
@sbesozzi this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #128 "Assignment 5"
@jbrz this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #129 "Assignment 5"
@charlahcodes this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #130 "Assignment 5"
@itawtitawapuddytat this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #131 "Assignment 5"
@Jrob1991 this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #132 "Assignment 5"
@shalmalidp this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #133 "Assignment 5"
@hopecrichlow this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #134 "Assignment 5"
@taheaton this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #135 "Assignment 5"
@JefBlocker this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #136 "Assignment 5"
@luketgriffith this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #137 "Assignment 5"
@MichaelGaynor this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #138 "Assignment 5"
@ceduncan1 this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #139 "Assignment 5"
@hyonakim this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #140 "Assignment 5"
@AirForcePierce this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #141 "Assignment 5"
@corifowler this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #142 "Assignment 5"
@kmooney517 this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #143 "Assignment 5"
@vpdolan this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #144 "Assignment 5"
@faircloth this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #145 "Assignment 5"
@havisk this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #146 "Assignment 5"
@BoyzieLee this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #147 "Assignment 5"
@hdannyyi this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #148 "Assignment 5"
@JesseSoldat this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 16:02] twhitacre opened #149 "Assignment 5"
@JeanelM123 this is your issue for *Assignment 5*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-28 17:06] kmooney517 commented on #142
medium post: https://medium.com/@kmooney517
repo link: https://github.com/kmooney517/JS-Intro

[2015-09-28 17:14] Shalmalidp commented on #132
https://github.com/Shalmalidp/92815day6

[2015-09-28 17:22] #142 closed

[2015-09-28 17:25] Shalmalidp commented on #132
Link to blog

https://medium.com/@shals2005/joined-the-iron-yard-with-a-lot-of-negative-thoughts-about-me-not-able-to-cope-up-what-if-people-230b90273e6e

[2015-09-28 17:25] #132 closed

[2015-09-28 17:34] JesseSoldat commented on #148
https://github.com/JesseSoldat/JS-questions-and-answers-
Here is the JavaScript File

[2015-09-28 17:41] hdannyyi commented on #147
https://github.com/hdannyyi/js-intro

https://medium.com/@hdannyyi

[2015-09-28 17:42] JRob1991 commented on #131
Repo - https://github.com/JRob1991/JS-Practice

Article - https://medium.com/@jprobinson9791/my-experience-with-the-iron-yard-so-far-9e30da6a3b36

[2015-09-28 17:42] #131 closed

[2015-09-28 17:44] JesseSoldat commented on #148
update to my file I made a mistake in the Math
var high = 50;
var low  = 10;

var math = high - low;
// Q: What is `math` set to?
// A: 40

[2015-09-28 17:45] thedoublewolf commented on #125
blog post ---> https://medium.com/@thedoublewolf/hello-world-f9fb43cc3c4a

[2015-09-28 17:53] JefBlocker commented on #135
Blog Post: https://medium.com/@jefblocker/failure-is-an-option-1eb3a05c68bf

JaveScript Answers: https://github.com/JefBlocker/JS-intro/commit/9bb8367b7593aa94237a5c097463b768cc73f22f

[2015-09-28 17:58] Shalmalidp commented on #103
http://shalmalidp.github.io/hardmode92415/

[2015-09-28 18:00] #147 closed

[2015-09-28 18:02] hyonakim commented on #139
Link to JS-Intro Repo
https://github.com/hyonakim/JS-Intro

Link to my Blog
https://medium.com/@hyonakim/my-knowledge-base-is-expanding-1aa1bf41ac01

[2015-09-28 18:02] #139 closed

[2015-09-28 18:09] waspnx commented on #122
medium.com/@waspnx

[2015-09-28 18:11] waspnx commented on #122
blog post: https://medium.com/@waspnx/starting-week-2-at-the-iron-yard-atlanta-9ee12ba466c0

[2015-09-28 18:11] charlahcodes commented on #129
Blog post: [link](https://medium.com/@charlah/as-i-begin-week-2-of-the-front-end-engineering-track-at-the-iron-yard-i-feel-i-have-gained-a-much-abc798a72f67)

Repo: https://github.com/charlahcodes/JS-Intro

[2015-09-28 18:12] JesseSoldat commented on #148
https://medium.com/me/stories/public

[2015-09-28 18:13] #129 closed

[2015-09-28 18:13] luketgriffith commented on #136
https://github.com/luketgriffith/JS-Intro

[2015-09-28 18:14] luketgriffith commented on #136
https://medium.com/@luketgriffith/hello-world-2b4d9f8e0f8c

[2015-09-28 18:14] #136 closed

[2015-09-28 18:20] IsaacHardy commented on #124
Ripo: https://github.com/IsaacHardy/JS-Intro
Blog: https://medium.com/@isaachardy/and-so-it-begins-d51a500c4745

[2015-09-28 18:20] #124 closed

[2015-09-28 18:31] corifowler commented on #141
Blog post - https://medium.com/@fowler.cori/hello-world-486bd4df9dff

JS-Intro Repository - https://github.com/corifowler/JS-Intro

[2015-09-28 18:31] #141 closed

[2015-09-28 18:35] amitshah86 commented on #121
https://github.com/amitshah86/JS-Intro

[2015-09-28 18:45] vpdolan commented on #143
https://medium.com/@vpdolan/exciting-times-c963b5d0b056

Hey Tim, this is my blog entry for assignment 5.  Thanks.

[2015-09-28 18:49] amitshah86 commented on #121
https://medium.com/@ashah325i/the-next-phase-53d816d92a68

[2015-09-28 18:49] amitshah86 commented on #121
https://medium.com/@ashah325i/the-next-phase-53d816d92a68

[2015-09-28 18:49] #121 closed

[2015-09-28 18:53] thedoublewolf commented on #125
repo ---> https://github.com/thedoublewolf/JS-Intro

[2015-09-28 18:53] #125 closed

[2015-09-28 18:57] jefdonmar commented on #123
Jus had some spacing errors that I think could have been fixed in the code

https://github.com/jefdonmar/JS-Intro

Here is a link to my blog post

http://jefdonmar.tumblr.com/post/130073785431/1st-week-of-coding-school

[2015-09-28 18:57] #123 closed

[2015-09-28 19:03] jisaacks commented on #103
Thanks, these both look pretty close. Goof enough to be marked complete, however if you have time it would benefit you greatly to go back and try to get them even closer to their screenshots.

[2015-09-28 19:05] jisaacks commented on #102
@justin, you will notice that the banner image is not showing up. This is because you are trying to load the images directly from github.com, this is called hotlinking and github does not allow it.

Please fix that and resubmit.

[2015-09-28 19:08] jisaacks commented on #97
Hey John, by the looks of things, I think you may have also had your browser zoomed in while you were developing. It looked messed up, but it looked ok once I zoomed in. I will accept this but make sure to check for that next time. If you do not understand what I am talking about please see me so I can explain. Thanks :)

[2015-09-28 19:10] Johnrae commented on #97
I made sure to double check that my screen was the right zoom. Could the fact that my mac has a retina display be the issue?

[2015-09-28 19:11] JeanelM123 commented on #149
https://github.com/JeanelM123/Learning-Javascript-

[2015-09-28 19:11] jisaacks commented on #98
Hey your normal mode looks fantastic!

[2015-09-28 19:12] ceduncan1 commented on #138
https://medium.com/@ceduncan/today-is-day-one-of-week-two-in-my-crash-course-in-javascript-8d2e1096647

https://github.com/ceduncan1/JS-Intro

[2015-09-28 19:12] #138 closed

[2015-09-28 19:14] jisaacks commented on #95
Looks fantastic! Great work!

[2015-09-28 19:16] jisaacks commented on #92
I am going to accept this as closed, but definitely go back and fix it up when you have time. Most of the things you have wrong we did live in class today so it should be really easy for you to apply that and fix this up :).

[2015-09-28 19:18] jisaacks commented on #101
The background image is not showing up because you linked it directly to github.com, this is called hotlinking and is blocked by github.

Please fix that and resubmit.

[2015-09-28 19:19] Johnrae commented on #126
https://medium.com/@johnrae/back-to-school-267986c94c74
^blog post
https://github.com/Johnrae/javaintro
^repo

[2015-09-28 19:19] #126 closed

[2015-09-28 19:19] jisaacks commented on #100
Love it!!

[2015-09-28 19:19] #122 closed

[2015-09-28 19:20] jisaacks commented on #96
Wow, both look amazing. You have added some css animations! :)

[2015-09-28 19:23] jisaacks commented on #94
Jef, I want you to work on this more. And yes, we can always have 1:1s

[2015-09-28 19:28] jisaacks commented on #93
Looks great!

[2015-09-28 19:29] amitshah86 commented on #92
Yeah I'm going to work on it today for sure. Will submit it back to you when I'm done. Things clicked in class today so thank you!

Sent from my iPhone

[2015-09-28 19:49] havisk commented on #145
https://github.com/havisk/JS-Intro

Medium:  https://medium.com/@havisk

[2015-09-28 19:56] #135 closed

[2015-09-28 19:59] faircloth commented on #144
https://github.com/faircloth/JS-Intro

[2015-09-28 20:03] #145 closed

[2015-09-28 20:14] JeanelM123 commented on #62
https://github.com/JeanelM123/Assignment2

[2015-09-28 20:17] JeanelM123 commented on #62
Hey Tim, there are lots of commits but I saved the homework folder twice, one embedded into there other. Therefore,  my commits were not posting to my github home page. I finally was able to resolve the problem, by re-establishing the origin and pulling the url back into the file.

[2015-09-28 20:40] taheaton commented on #105
https://github.com/taheaton/RevisedHW

Tim - could you please take a look???  I've been working on this all day!!!!!!

[2015-09-28 20:40] #105 closed

[2015-09-28 20:54] sbesozzi commented on #127
https://medium.com/@sarahbesozzi/don-t-look-back-you-re-not-going-that-way-36946817b17f

https://github.com/sbesozzi/JavaScript-Introduction

[2015-09-28 20:54] #127 closed

[2015-09-28 22:50] hopecrichlow commented on #133
https://github.com/hopecrichlow/JS-Intro

[2015-09-28 22:50] hopecrichlow commented on #133
https://medium.com/@hopecrichlow/peachtree-me-c2a997fbe364

[2015-09-28 22:50] #133 closed

[2015-09-29 00:55] AirForcePierce commented on #140
https://medium.com/@jontae.pierce/dreams-do-come-true-80b1fc2788c4

Blog post, be gentle!

[2015-09-29 00:56] AirForcePierce commented on #140
https://github.com/AirForcePierce/intro-js

[2015-09-29 00:56] #140 closed

[2015-09-29 01:43] itawtitawapuddytat commented on #101
fixed it, didn't realize hotlink issue, also added in normalize.css
https://github.com/itawtitawapuddytat/fullwebpage
https://itawtitawapuddytat.github.io/fullwebpage/

[2015-09-29 01:43] #101 closed

[2015-09-29 02:17] thedoublewolf commented on #125
I just realized why I was confused about the last section.  I preemptively fixed the code when declaring the variables.

[2015-09-29 02:37] taheaton commented on #134
https://medium.com/@thomasaheaton/back-in-the-game-50deb2c3f2a8

[2015-09-29 03:29] taheaton commented on #134
https://github.com/taheaton/JS-Intro

[2015-09-29 03:29] #134 closed

[2015-09-29 03:51] JefBlocker commented on #77
I redid the assignment this afternoon and added rounded edges to the borders of the author pics and tried to match the font color more accurately.  I had to create a new repository as I couldn't fix what I screwed up last wee.  Here's the link to the new web page: http://jefblocker.github.io/html-css-layout/.  Thanks for your patience.

[2015-09-29 03:51] #77 closed

[2015-09-29 03:55] jbrz commented on #128
https://github.com/jbrz/TIYa5

https://medium.com/@BrzinskiBear/marching-through-the-markup-c47a42dac547

[2015-09-29 03:55] #128 closed

[2015-09-29 05:44] itawtitawapuddytat commented on #130
https://github.com/itawtitawapuddytat/JS-Intro

[2015-09-29 05:44] itawtitawapuddytat commented on #130
https://medium.com/@_maryam/to-infinity-and-beyond-56b04e28a746

[2015-09-29 05:44] #130 closed

[2015-09-29 10:58] MichaelGaynor commented on #137
https://github.com/MichaelGaynor/JS-Intro

https://medium.com/@JMikeG

[2015-09-29 10:58] #137 closed

[2015-09-29 11:38] faircloth commented on #144
https://medium.com/@andrewfaircloth/how-i-ended-up-in-coding-school-22df2660b08a

[2015-09-29 11:38] #144 closed

[2015-09-29 12:19] BoyzieLee commented on #146
http://boyzielee.github.io/JS-Intro.

[2015-09-29 12:19] BoyzieLee commented on #146
https://medium.com/@boyzielee

[2015-09-29 12:19] #146 closed

[2015-09-29 13:22] JeanelM123 commented on #149
https://medium.com/@nellecash

[2015-09-29 13:22] jisaacks commented on #149
Hey @JeanelM123 thanks for turning in what you have.

You have incorrect answers for questions 3, 4, and 7. If you could please correct those.

Also don't forget to submit your blog post.

Thanks!

[2015-09-29 13:26] jisaacks commented on #148
@jesse that link to your blog only works if I am logged in as you. Please post a public link. it should look like `https://medium.com/@your-username/article-title`.

Great job on the JS

Thanks!

[2015-09-29 13:27] jisaacks commented on #147
Great answers on your JS!

[2015-09-29 13:30] jisaacks commented on #145
The only answer you got wrong was the first, it should be `undefined` not `nothing`. I also liked your blog post, it read like a poem.

[2015-09-29 13:45] jisaacks commented on #143
Thanks @vpdolan your blog post is great. There are two parts to the assignment though. You still need to submit the other part, the repo with `main.js` answers.

[2015-09-29 15:08] jisaacks commented on #131
@JRob1991 great article. From what I read you should have no problem with tonights homework!

[2015-09-29 15:10] jisaacks commented on #122
Great work!

[2015-09-29 15:12] jisaacks commented on #126
Great work, loved your article.

[2015-09-29 15:14] jisaacks commented on #127
Great!

[2015-09-29 15:32] jisaacks commented on #133
You got most of your answers correct, however after `var math = high - low;`, math would be set to `40` not `undefined`.

[2015-09-29 15:37] jisaacks commented on #138
For the most part your answers were correct.

In the statement `math = high - "5";`, the string "5" gets coerced into a number so the value results un 45, not undefined.

Also the statement `"Tim is " today - born "years old"` would actually be a syntax error, because you cannot have 2 pieces of data side by side without an operator in between them, so you would need to change it to be  `"Tim is "

[2015-09-29 15:39] jisaacks commented on #139
Great!

[2015-09-29 15:42] jisaacks commented on #132
Great work!

[2015-09-29 15:49] jisaacks commented on #135
Loved your article and I am looking forward to more! Also `You do own an awful lot of hoodies` haha!

As far as your code, most answers look correct however: `var math = high - low;` would result in math being 40 not undefined. You get back undefined on the console because it is a statement not an expression.

[2015-09-29 15:52] jisaacks commented on #130
great work, in your code:

[code]

greeting is set to `"Hello, how are you?"`, you get back undefined on the console because it is a statement not an expression.

[2015-09-29 15:55] jisaacks commented on #123
Great job, in some of your answers you put `undefined` when in fact there was a value. It looks like you tested this on the console, you'll remember I explained that on the console a statement always returns undefined, but the value assigned to variable still exists.

[2015-09-29 15:59] jisaacks commented on #140
Great job!

[2015-09-29 17:02] vpdolan commented on #143
https://github.com/vpdolan/JSIntro/blob/master/main.js

Sorry about that. I thought I had sent this yesterday afternoon.

[2015-09-29 17:02] #143 closed

[2015-09-29 19:18] twhitacre opened #150 "Assignment 6"
@amitshah86 this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:18] twhitacre opened #151 "Assignment 6"
@waspnx this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:18] twhitacre opened #152 "Assignment 6"
@jefdonmar this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:18] twhitacre opened #153 "Assignment 6"
@IsaacHardy this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:18] twhitacre opened #154 "Assignment 6"
@thedoublewolf this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:18] twhitacre opened #155 "Assignment 6"
@johnrae this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:18] twhitacre opened #156 "Assignment 6"
@sbesozzi this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #157 "Assignment 6"
@jbrz this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #158 "Assignment 6"
@charlahcodes this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #159 "Assignment 6"
@itawtitawapuddytat this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #160 "Assignment 6"
@Jrob1991 this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #161 "Assignment 6"
@shalmalidp this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #162 "Assignment 6"
@hopecrichlow this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #163 "Assignment 6"
@taheaton this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #164 "Assignment 6"
@JefBlocker this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #165 "Assignment 6"
@luketgriffith this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #166 "Assignment 6"
@MichaelGaynor this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #167 "Assignment 6"
@ceduncan1 this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #168 "Assignment 6"
@hyonakim this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #169 "Assignment 6"
@AirForcePierce this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #170 "Assignment 6"
@corifowler this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #171 "Assignment 6"
@kmooney517 this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #172 "Assignment 6"
@vpdolan this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #173 "Assignment 6"
@faircloth this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #174 "Assignment 6"
@havisk this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #175 "Assignment 6"
@BoyzieLee this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #176 "Assignment 6"
@hdannyyi this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #177 "Assignment 6"
@JesseSoldat this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:19] twhitacre opened #178 "Assignment 6"
@JeanelM123 this is your issue for *Assignment 6*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-29 19:20] Shalmalidp commented on #161
file:///Users/shalmalipadgaokar/tiy/projects/92915day6/index.html

link to Repo for normal mode

[2015-09-29 19:50] jisaacks commented on #88
Thanks for turning in an updated. Please continue to work on this to get it closer to the screenshot. Thank you!

[2015-09-29 19:52] thedoublewolf commented on #154
normal mode
repo ---> https://github.com/thedoublewolf/basic-calculator
live page ---> http://thedoublewolf.github.io/basic-calculator/

[2015-09-29 19:59] charlahcodes commented on #158
Repository: https://github.com/charlahcodes/calculator-project
GH-pages: http://charlahcodes.github.io/calculator-project/

[2015-09-29 20:00] #158 closed

[2015-09-29 21:07] amitshah86 commented on #150
http://amitshah86.github.io/Assignment6

[2015-09-29 21:08] amitshah86 commented on #150
file:///Users/AmitShah/tiy/TIY/JSD2/assignment6/index.html

[2015-09-29 21:08] amitshah86 commented on #150
file:///Users/AmitShah/tiy/TIY/JSD2/assignment6/index.html

[2015-09-29 21:08] #150 closed

[2015-09-29 21:17] hopecrichlow commented on #162
https://github.com/hopecrichlow/Calculator

http://hopecrichlow.github.io/Calculator/

[2015-09-29 21:17] #162 closed

[2015-09-29 21:38] vpdolan commented on #172
git remote add origin git@github.com:vpdolan/Summation-Calculator.git
git push -u origin master

[2015-09-29 21:47] MichaelGaynor commented on #166
http://michaelgaynor.github.io/JS-Calculator/

https://github.com/MichaelGaynor/JS-Calculator

[2015-09-29 21:47] #166 closed

[2015-09-29 21:53] waspnx commented on #151
http://waspnx.github.io/jsDOMNormal/

working on hard-mode

[2015-09-29 22:09] JesseSoldat commented on #177
https://github.com/JesseSoldat/Working-with-the-DOM
http://jessesoldat.github.io/Working-with-the-DOM/

[2015-09-29 22:09] #177 closed

[2015-09-29 22:11] JesseSoldat commented on #148
https://medium.com/@jessesoldat123/i-have-always-been-interested-in-life-time-learning-in-particular-the-study-of-languages-and-abcd1593a6db

I think this is it

[2015-09-29 22:11] #148 closed

[2015-09-29 22:25] kmooney517 commented on #171
normal mode: https://github.com/kmooney517/Calculators
hard mode: https://github.com/kmooney517/Calculator2

[2015-09-29 22:30] Johnrae commented on #155
https://github.com/Johnrae/w2d2js
^repo
http://johnrae.github.io/w2d2js/
^deployed page

[2015-09-29 22:30] #155 closed

[2015-09-29 23:13] AirForcePierce commented on #169
https://github.com/AirForcePierce/JS-Calc

Repo

[2015-09-29 23:13] AirForcePierce commented on #169
http://airforcepierce.github.io/JS-Calc/

Multiplying calc

[2015-09-29 23:13] #169 closed

[2015-09-30 00:26] IsaacHardy commented on #153
Normal RIPO: https://github.com/IsaacHardy/JSTwo
Normal Link: http://isaachardy.github.io/JSTwo/

Hard RIPO:https://github.com/IsaacHardy/Calculator/tree/master
Hard Link: http://isaachardy.github.io/Calculator/

[2015-09-30 00:26] #153 closed

[2015-09-30 00:57] faircloth commented on #173
https://github.com/faircloth/calculatorAssignment/commits/master

[2015-09-30 00:58] faircloth commented on #173
http://faircloth.github.io/calculatorAssignment/

[2015-09-30 01:09] kmooney517 commented on #171
gh pages normal: http://kmooney517.github.io/Calculators
gh pages hard: http://kmooney517.github.io/Calculator2

I did not complete the hard mode.

[2015-09-30 01:09] kmooney517 commented on #171
gh pages normal: http://kmooney517.github.io/Calculators
gh pages hard: http://kmooney517.github.io/Calculator2

I did not complete the hard mode.

[2015-09-30 01:09] #171 closed

[2015-09-30 01:42] luketgriffith commented on #165
https://github.com/luketgriffith/calculator-easy
http://luketgriffith.github.io/calculator-easy/

[2015-09-30 01:42] luketgriffith commented on #165
https://github.com/luketgriffith/calculator-hard
http://luketgriffith.github.io/calculator-hard/

[2015-09-30 01:42] #165 closed

[2015-09-30 02:30] Shalmalidp commented on #161
link to the hard mode INCOMPLETE

file:///Users/shalmalipadgaokar/tiy/projects/calculator/index.html

[2015-09-30 02:38] taheaton commented on #163
https://github.com/taheaton/JSD2

Not enough time to do the calc.  Not for me anyway!

[2015-09-30 02:38] #163 closed

[2015-09-30 02:57] corifowler commented on #170
Normal Mode: https://github.com/corifowler/JS-D2
Link to page on gh-pages: http://corifowler.github.io/JS-D2/

Repo for Hard Mode (not complete): https://github.com/corifowler/my-own-calculator

[2015-09-30 02:57] #170 closed

[2015-09-30 03:16] thedoublewolf commented on #154
hard mode
repo ---> https://github.com/thedoublewolf/BetterCalculator
live page ---> http://thedoublewolf.github.io/BetterCalculator/
stuck on solving equations and getting the decimal to work.

[2015-09-30 03:16] #154 closed

[2015-09-30 03:21] hyonakim commented on #168
https://github.com/hyonakim/EasyCalculator
http://hyonakim.github.io/EasyCalculator/

Still working on Hard Mode

[2015-09-30 03:36] havisk commented on #174
https://github.com/havisk/Calculator

http://havisk.github.io/Calculator/

[2015-09-30 03:36] #174 closed

[2015-09-30 04:06] itawtitawapuddytat commented on #159
repo:
https://github.com/itawtitawapuddytat/JSFunctions
link:
https://itawtitawapuddytat.github.io/JSFunctions/

[2015-09-30 04:07] #159 closed

[2015-09-30 04:12] jbrz commented on #157
OK, so I know the js WORKS, per se (not treating the inputs correctly, for some reason.  I'm probably an idiot, so whatever.)

But It's not firing the js after I input or click calculate.  it's obviously not a window.onload thing, but I don't know how to fire the code sequentially after the button press.

buttons are dumb.  That's my thesis.  Sticking with it.

[2015-09-30 04:13] JefBlocker commented on #164
http://jefblocker.github.io/calc-normal/

[2015-09-30 04:14] #157 closed

[2015-09-30 04:41] sbesozzi commented on #156
Normal Mode:
https://github.com/sbesozzi/JavaScript-Simple-Calculator
http://sbesozzi.github.io/JavaScript-Simple-Calculator/

Hard Mode: (attempted)
https://github.com/sbesozzi/JavaScript-Calculator

[2015-09-30 04:41] #156 closed

[2015-09-30 04:48] JRob1991 commented on #160
Gh-Pages: http://jrob1991.github.io/Normal-Calculator/
Repo: https://github.com/JRob1991/Normal-Calculator

Closing for now but I'm working on the Hard mode. About 60% complete but want it done right.

[2015-09-30 04:59] BoyzieLee commented on #175
Normal JSFunction Assignment: http://boyzielee.github.io/JSFunctions

[2015-09-30 04:59] #175 closed

[2015-09-30 06:00] hyonakim commented on #168
https://github.com/hyonakim/HardCalculator
http://hyonakim.github.io/HardCalculator/

Not yet finished but what I have so far...

[2015-09-30 11:48] #173 closed

[2015-09-30 12:08] ceduncan1 commented on #167
Hi Tim and JD,

Here's normal mode:
https://github.com/ceduncan1/JS-Calc
http://ceduncan1.github.io/JS-Calc/

I didn't do any styling on it, because I wanted to work on the (aptly named) hard mode. I haven't finished it, but I've begun.  I'll send that link momentarily.

[2015-09-30 12:08] #167 closed

[2015-09-30 12:12] ceduncan1 commented on #167
Here's the repository for the calculator:
https://github.com/ceduncan1/Calculator

For the future, is it better to wait to push it to gh-pages until I've finished it, or should I go ahead and do it for whatever I've completed anyways?

[2015-09-30 13:20] waspnx commented on #151
whoops! forgot to close issue...

[2015-09-30 13:21] #151 closed

[2015-09-30 13:45] JRob1991 commented on #160
Hard Mode Repo: https://github.com/JRob1991/HM-Calculator
Gh-Pages: http://jrob1991.github.io/HM-Calculator/

Did the HTML/CSS myself and most of the JS. Had a friend walk me through some of it I struggled on.

[2015-09-30 13:45] #160 closed

[2015-09-30 14:05] #168 closed

[2015-09-30 15:45] twhitacre commented on #177
:+1: Nice work! Fun design too!

[2015-09-30 15:47] twhitacre commented on #175
:+1: Works great.

Note, that you were supposed to [add some design](https://github.com/tiy-atl-js-sept-2015/Assignments/tree/master/Assignment-06#normal-mode) to it. I'll close this, but make sure you go back and add that.

[2015-09-30 15:47] twhitacre commented on #174
:+1: Great work!

[2015-09-30 15:48] twhitacre commented on #173
:+1: Works great!

Note, that you were supposed to [add some design](https://github.com/tiy-atl-js-sept-2015/Assignments/tree/master/Assignment-06#normal-mode) to it. I'll close this, but make sure you go back and add that.

[2015-09-30 15:48] twhitacre commented on #172
@vpdolan - when you get a chance, can you link to your repo and your deployed version?

[2015-09-30 15:50] twhitacre commented on #171
:+1: Works great!

The hard mode is coming along nicely. Now that we've talked about arrays, you might have an easier time working through it.

[2015-09-30 15:53] twhitacre commented on #170
:+1: Great work.

Your hard mode is on the right track. After today (arrays) and a few more lectures, I would go back and give it another whirl.

[2015-09-30 15:53] twhitacre commented on #169
:+1: Nice work!

[2015-09-30 15:56] twhitacre commented on #168
:+1: Looks great!

Now that we've talked about arrays, you might have an easier time going back and working on the hard mode.

[2015-09-30 16:22] JRob1991 commented on #102
Sorry about that. I updated it and added the background.jpg into Sublime Text and it's fixed.

https://github.com/JRob1991/RegularMode

http://jrob1991.github.io/RegularMode/

[2015-09-30 16:22] #102 closed

[2015-09-30 16:33] vpdolan commented on #172
Hey Tim,

I went back into iTerm and created the -b gh-pages to push origin gh-pages.  according to the text, everything has been updated but after refreshing and waiting a few minutes, nothing appears to have updated to the gh pages branch.  any ideas?  thanks

[2015-09-30 16:54] vpdolan commented on #172
http://vpdolan.github.io/Summation-Calculator

here you go  Max helped me figure out what I hadn't done.

[2015-09-30 17:02] #172 closed

[2015-09-30 18:13] twhitacre opened #179 "Assignment 7"
@amitshah86 this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:13] twhitacre opened #180 "Assignment 7"
@waspnx this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:13] twhitacre opened #181 "Assignment 7"
@jefdonmar this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:13] twhitacre opened #182 "Assignment 7"
@IsaacHardy this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:13] twhitacre opened #183 "Assignment 7"
@thedoublewolf this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:13] twhitacre opened #184 "Assignment 7"
@johnrae this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:13] twhitacre opened #185 "Assignment 7"
@sbesozzi this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:13] twhitacre opened #186 "Assignment 7"
@jbrz this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:13] twhitacre opened #187 "Assignment 7"
@charlahcodes this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:13] twhitacre opened #188 "Assignment 7"
@itawtitawapuddytat this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:13] twhitacre opened #189 "Assignment 7"
@Jrob1991 this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:13] twhitacre opened #190 "Assignment 7"
@shalmalidp this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:13] twhitacre opened #191 "Assignment 7"
@hopecrichlow this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:13] twhitacre opened #192 "Assignment 7"
@taheaton this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:13] twhitacre opened #193 "Assignment 7"
@JefBlocker this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:14] twhitacre opened #194 "Assignment 7"
@luketgriffith this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:14] twhitacre opened #195 "Assignment 7"
@MichaelGaynor this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:14] twhitacre opened #196 "Assignment 7"
@ceduncan1 this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:14] twhitacre opened #197 "Assignment 7"
@hyonakim this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:14] twhitacre opened #198 "Assignment 7"
@AirForcePierce this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:14] twhitacre opened #199 "Assignment 7"
@corifowler this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:14] twhitacre opened #200 "Assignment 7"
@kmooney517 this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:14] twhitacre opened #201 "Assignment 7"
@vpdolan this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:14] twhitacre opened #202 "Assignment 7"
@faircloth this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:14] twhitacre opened #203 "Assignment 7"
@havisk this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:14] twhitacre opened #204 "Assignment 7"
@BoyzieLee this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:14] twhitacre opened #205 "Assignment 7"
@hdannyyi this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:14] twhitacre opened #206 "Assignment 7"
@JesseSoldat this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 18:14] twhitacre opened #207 "Assignment 7"
@JeanelM123 this is your issue for *Assignment 7*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-09-30 19:09] BoyzieLee commented on #175
Here is the updated gh-pages link: http://boyzielee.github.io/JSFunctions/

[2015-09-30 19:41] amitshah86 commented on #179
http://amitshah86.github.io/Assignment7

[2015-09-30 19:50] vpdolan commented on #201
http://vpdolan.github.io/Assignment7

[2015-09-30 22:55] amitshah86 commented on #179
http://amitshah86.github.io/Assignment7b

[2015-10-01 00:30] amitshah86 commented on #179
https://github.com/amitshah86/Assignment7b

[2015-10-01 00:30] #179 closed

[2015-10-01 01:24] luketgriffith commented on #194
https://github.com/luketgriffith/assign7-1
http://luketgriffith.github.io/assign7-1/
https://github.com/luketgriffith/assign7-2
http://luketgriffith.github.io/assign7-2/

[2015-10-01 01:24] #194 closed

[2015-10-01 01:59] IsaacHardy commented on #182
Practice1 RIPO: https://github.com/IsaacHardy/JSFunctionPractice1
Practice1 Link: http://isaachardy.github.io/JSFunctionPractice1/

Practice2 RIPO: https://github.com/IsaacHardy/JSFunctionPractice2
Practice2 Link: http://isaachardy.github.io/JSFunctionPractice2/

[2015-10-01 01:59] #182 closed

[2015-10-01 02:06] JesseSoldat commented on #206
Not sure what to do because it is late and I have not been able to complete the assignment on my own. Should I close it and submit it as is?

[2015-10-01 02:16] Shalmalidp commented on #190
repo : https://github.com/Shalmalidp/Functions_Arrays

gh-pages :http://shalmalidp.github.io/Functions_Arrays.

[2015-10-01 02:16] #190 closed

[2015-10-01 02:31] kmooney517 commented on #200
repo: https://github.com/kmooney517/JS-Excercises
gh-pages: http://kmooney517.github.io/JS-Excercises

**I had to do some googling to finish the last one on excercises-2.  //don't fully understand how the [letter in obj] part works of the if statement

**I had to do some googling for both #5s on the hard mode.  //understand what's going on there.
**Couldn't get #6 of the hard mode to work.

[2015-10-01 02:31] #200 closed

[2015-10-01 02:34] charlahcodes commented on #187
Repo: https://github.com/charlahcodes/function-array-practice
GH-Pages: http://charlahcodes.github.io/function-array-practice/

Ran into trouble with 3 of the problems in exercises-2.

[2015-10-01 02:34] #187 closed

[2015-10-01 03:11] JefBlocker commented on #193
Here's my link: http://jefblocker.github.io/functions-arrays/.  However, I cannot see it.  My index.html file is not showing up, and I've pushed it up to GitHub five times.

[2015-10-01 03:18] Johnrae commented on #184
missing two functions. but its time for bed. heres what i have so far
https://github.com/Johnrae/assignment7
^repo
http://johnrae.github.io/assignment7/
^gh-pages

[2015-10-01 03:20] hyonakim commented on #197
https://github.com/hyonakim/functionExercisesNormal
http://hyonakim.github.io/functionExercisesNormal/

Could not finish some of the functions. Still trying to figure them out.

[2015-10-01 03:20] #197 closed

[2015-10-01 03:53] corifowler commented on #199
gh-pages: http://corifowler.github.io/funct-up-arrays/
repo (for normal and hard mode): https://github.com/corifowler/funct-up-arrays

[2015-10-01 03:53] #199 closed

[2015-10-01 04:10] JRob1991 commented on #189
1: https://github.com/JRob1991/excercises1.js
2: https://github.com/JRob1991/excercises2

[2015-10-01 04:10] #189 closed

[2015-10-01 04:10] sbesozzi commented on #185
https://github.com/sbesozzi/JavaScript-Excercises-1
http://sbesozzi.github.io/JavaScript-Excercises-1/

https://github.com/sbesozzi/JavaScript-Excercises-2
http://sbesozzi.github.io/JavaScript-Excercises-2/

[2015-10-01 04:27] thedoublewolf commented on #183
repo ---> https://github.com/thedoublewolf/function-practice
live page ---> http://thedoublewolf.github.io/function-practice

[2015-10-01 04:58] itawtitawapuddytat commented on #188
link: http://itawtitawapuddytat.github.io/function-practice
repo: https://github.com/itawtitawapuddytat/function-practice

[2015-10-01 04:58] #188 closed

[2015-10-01 05:18] waspnx commented on #180
repo: https://github.com/waspnx/JS_7
gh-pages :http://waspnx.github.io/JS_7/

{0_o}

[2015-10-01 05:33] jbrz commented on #186
http://jbrz.github.io/TIYa7

https://github.com/jbrz/TIYa7/tree/master

For loops.

[2015-10-01 05:33] #186 closed

[2015-10-01 05:40] faircloth commented on #202
https://github.com/faircloth/jsExercises930

[2015-10-01 05:41] faircloth commented on #202
http://faircloth.github.io/jsExercises930/

[2015-10-01 05:41] #202 closed

[2015-10-01 08:13] #180 closed

[2015-10-01 11:31] MichaelGaynor commented on #195
https://github.com/MichaelGaynor/JS-Functions

unfinished so far

[2015-10-01 11:58] havisk commented on #203
https://github.com/havisk/Functions_Arrays

http://havisk.github.io/Functions_Arrays/

[2015-10-01 11:58] #203 closed

[2015-10-01 11:59] hopecrichlow commented on #191
https://github.com/hopecrichlow/Function-Practice

http://hopecrichlow.github.io/Function-Practice/

[2015-10-01 12:20] MichaelGaynor commented on #195
Forgot to do gh-pages

http://michaelgaynor.github.io/JS-Functions/

[2015-10-01 12:29] JesseSoldat commented on #206
https://github.com/JesseSoldat/functions-work
http://jessesoldat.github.io/functions-work/

[2015-10-01 12:30] vpdolan commented on #201
git@github.com:vpdolan/jsexercises.git

will continue to work on completing assignment today.

[2015-10-01 12:52] JeanelM123 commented on #207
https://github.com/JeanelM123/JavaScript-Arrays-

[2015-10-01 12:52] ceduncan1 commented on #196
Ex. 1
https://github.com/ceduncan1/Normal1
http://ceduncan1.github.io/Normal1/

Ex. 2 (not complete; going to keep working on it)
https://github.com/ceduncan1/Normal2
http://ceduncan1.github.io/Normal2/

[2015-10-01 12:54] BoyzieLee commented on #204
http://boyzielee.github.io/JSFunctionsDay2 :/ this'll be a long weekend...

[2015-10-01 13:09] #196 closed

[2015-10-01 13:15] jisaacks commented on #206
I am going to accept this, please solve the last 3 when you get a chance.

[2015-10-01 13:21] JRob1991 commented on #189
Forgot to add Gh-Pages;

1: http://jrob1991.github.io/excercises1.js
2. http://jrob1991.github.io/excercises2

[2015-10-01 13:21] jisaacks commented on #202
I am accepting this, but complete the missing functions when you can.

[2015-10-01 13:22] #184 closed

[2015-10-01 13:29] jisaacks commented on #199
Great job!

Also did you know that even though this is correct:

[code]

It can actually be greatly shortened since the expression already results in either true or false:

[code]

[2015-10-01 13:39] jisaacks commented on #184
Great job @Johnrae! I am accepting but make sure to go back and complete the missing functions when you can.

Also the way you solved [this function](https://github.com/Johnrae/assignment7/blob/master/ex2.js#L58-L63) That is pretty clever.. how did you come up with that?

[2015-10-01 13:44] jisaacks commented on #195
What you have looks good. Please fix the error [here](https://github.com/MichaelGaynor/JS-Functions/blob/master/Assignment1.js#L84-L87) and I will accept it.

[2015-10-01 13:47] jisaacks commented on #183
Hey Johnny, all your logic looks good. However, it appears you have a misunderstanding of how function parameters work. You are resetting thing in every function.

Param are how you pass values to a function, since you are always resetting them, you are ignoring the value that was passed it. Please fix that. If you need help, please grab any of us.

[2015-10-01 13:51] jisaacks commented on #189
Great job! However, some of your functions are [logging](https://github.com/JRob1991/excercises1.js/blob/master/main.js#L51) the result instead of returning it. Not a huge deal tho.

[2015-10-01 14:00] jisaacks commented on #186
Good work @jbrz! I am accepting as complete.

However I would like you to look at [this line of code](https://github.com/jbrz/TIYa7/blob/master/exercises-1.js#L92)

Now look at the output of this code:

[code]

What do you think is happening here?

[2015-10-01 14:18] jisaacks commented on #200
Looks pretty good. I will explain `in` in the class. There are a couple other issues but I am seeing them across the board from most students so I will cover them in class.

[2015-10-01 14:20] jisaacks commented on #187
Great work, I may cover the char freq in class.

[2015-10-01 14:32] jisaacks commented on #182
Great work!

[2015-10-01 15:06] jisaacks commented on #196
What you have so far looks good. I am accepting, but go back and complete the others when you get a chance.

[2015-10-01 15:15] jisaacks commented on #203
Good work on this.

[2015-10-01 15:29] jisaacks commented on #179
What you have done looks pretty good. Try to remember to use `{` with `if` statements even though they are not required. Also when you get a chance, go back and complete the ones you missed.

[2015-10-01 15:33] jisaacks commented on #185
Hey Sarah, great work so far, some of your functions are not correct though, some are just missing `return`s but some are using variables that do not exists. You are also missing quite a bit on exercise 2.

Try to get it a little closer (doesn't have to be perfect)

Thanks.

[2015-10-01 15:35] jisaacks commented on #191
Great work so far, try to get a little more solved and resubmit.

[2015-10-01 15:37] jisaacks commented on #197
Thanks @hyonakim, I think you got close enough for me to accept as complete. However still go back and do the rest when you get time.

[2015-10-01 15:42] amitshah86 commented on #179
Okay JD...Thank You. I did the two we worked on this morning but I will
complete the ones that i missed.

On Thu, Oct 1, 2015 at 11:29 AM, JD Isaacks <notifications@github.com>
wrote:

[2015-10-01 15:53] AirForcePierce commented on #198
https://github.com/AirForcePierce/jsexercises

URL

http://airforcepierce.github.io/jsexercises/

Late, thought I pushed and closed!  Sorry about that!

[2015-10-01 15:53] #198 closed

[2015-10-01 16:54] taheaton commented on #192
Did not finish these but gave it my best shot ...

https://github.com/taheaton/A7

[2015-10-01 17:16] MichaelGaynor commented on #195
Fixed it

[2015-10-01 17:16] #195 closed

[2015-10-01 17:25] thedoublewolf commented on #183
Hi JD, thanks for clearing that up.  I removed the re-set parameters I created and made sure all of my functions work.  The last three I am having trouble with and will ask about them in the review.

[2015-10-01 18:11] Johnrae commented on #184
haha i don't completely understand it but i asked google how to pull the max number out of an array and i found an article that broke it down

[2015-10-01 19:29] thedoublewolf commented on #183
I am going to work on this more so I fully grasp it.

[2015-10-01 22:02] jbrz commented on #186
dammit.  I forgot how to logic(al operator).

So would

`if ( (typeof a && typeof t && typeof j && typeof v) === "string" )`

work like I think it does?  It appears to...but I know using multiple logic ops can be wonky if you're not used to thinking about it (obviously I'm not.  Logic is silly)

[2015-10-02 13:43] thedoublewolf commented on #183
I FIGURED IT OUT!  I feel like I can make WikiLeaks now.

[2015-10-02 13:43] #183 closed

[2015-10-02 20:42] twhitacre opened #208 "Assignment 8"
@amitshah86 this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:42] twhitacre opened #209 "Assignment 8"
@waspnx this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:42] twhitacre opened #210 "Assignment 8"
@jefdonmar this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:42] twhitacre opened #211 "Assignment 8"
@IsaacHardy this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #212 "Assignment 8"
@thedoublewolf this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #213 "Assignment 8"
@johnrae this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #214 "Assignment 8"
@sbesozzi this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #215 "Assignment 8"
@jbrz this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #216 "Assignment 8"
@charlahcodes this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #217 "Assignment 8"
@itawtitawapuddytat this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #218 "Assignment 8"
@Jrob1991 this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #219 "Assignment 8"
@shalmalidp this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #220 "Assignment 8"
@hopecrichlow this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #221 "Assignment 8"
@taheaton this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #222 "Assignment 8"
@JefBlocker this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #223 "Assignment 8"
@luketgriffith this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #224 "Assignment 8"
@MichaelGaynor this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #225 "Assignment 8"
@ceduncan1 this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #226 "Assignment 8"
@hyonakim this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #227 "Assignment 8"
@AirForcePierce this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #228 "Assignment 8"
@corifowler this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #229 "Assignment 8"
@kmooney517 this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #230 "Assignment 8"
@vpdolan this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #231 "Assignment 8"
@faircloth this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #232 "Assignment 8"
@havisk this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #233 "Assignment 8"
@BoyzieLee this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #234 "Assignment 8"
@hdannyyi this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #235 "Assignment 8"
@JesseSoldat this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:43] twhitacre opened #236 "Assignment 8"
@JeanelM123 this is your issue for *Assignment 8*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-02 20:51] jisaacks commented on #148
Great article!

[2015-10-02 20:55] jisaacks commented on #186
Actually, no, your example does not work quite right either.. I will explain in person next time we are chatting.

[2015-10-02 20:57] jisaacks commented on #184
Thanks, John, I think it is fine to google for help, but I would generally prefer you not turn in code that you cannot explain/understand.

[2015-10-02 21:12] Shalmalidp commented on #219
file:///Users/shalmalipadgaokar/tiy/projects/etsyitem/index.html

https://github.com/Shalmalidp/etsyitem-day8

http://shalmalidp.github.io/etsyitem-day8/

[2015-10-02 23:04] Johnrae commented on #184
Thats fair. I will rework it when i go back through and finish the rest of the questions this weekend.

[2015-10-03 16:05] faircloth commented on #231
http://faircloth.github.io/etsyMockUp/

[2015-10-03 16:05] faircloth commented on #231
https://github.com/faircloth/etsyMockUp

[2015-10-03 16:06] #231 closed

[2015-10-03 16:36] thedoublewolf commented on #212
repo ---> https://github.com/thedoublewolf/etsy-items
live page ---> http://thedoublewolf.github.io/etsy-items/

[2015-10-03 16:36] #212 closed

[2015-10-03 18:52] IsaacHardy commented on #211
RIPO: https://github.com/IsaacHardy/Etsy-Items
LINK: http://isaachardy.github.io/Etsy-Items/

[2015-10-03 18:52] #211 closed

[2015-10-03 21:52] vpdolan commented on #230
git@github.com:vpdolan/JSAssignmentOct1.git

please let me know if this link works.  thanks

[2015-10-03 22:17] charlahcodes commented on #216
Repo: https://github.com/charlahcodes/etsy-items
GH-pages: http://charlahcodes.github.io/etsy-items/

[2015-10-03 22:17] #216 closed

[2015-10-03 22:49] JRob1991 commented on #218
Link - http://jrob1991.github.io/Excersise8/
Repo - https://github.com/JRob1991/Excersise8

[2015-10-03 22:49] #218 closed

[2015-10-04 02:00] waspnx commented on #209
gh-pages: http://waspnx.github.io/etsy
repo: https://github.com/waspnx/etsy/tree/development

[2015-10-04 02:00] #209 closed

[2015-10-04 15:13] kmooney517 commented on #229
https://github.com/kmooney517/Etsy_Items
http://kmooney517.github.io/Etsy_Items

[2015-10-04 15:13] #229 closed

[2015-10-04 15:35] JesseSoldat commented on #235
https://github.com/JesseSoldat/Sorting-Data
http://jessesoldat.github.io/Sorting-Data/

[2015-10-04 15:35] #235 closed

[2015-10-04 15:39] JesseSoldat commented on #206
https://github.com/JesseSoldat/functions-for-dealing-with-arrays-try-2

http://jessesoldat.github.io/functions-for-dealing-with-arrays-try-2/

Finished the problems. Page 1 and 2 are all in the main.js file

[2015-10-04 15:39] #206 closed

[2015-10-04 16:06] luketgriffith commented on #223
https://github.com/luketgriffith/Etsy
http://luketgriffith.github.io/Etsy/

[2015-10-04 16:06] #223 closed

[2015-10-04 17:56] AirForcePierce commented on #227
Repo

https://github.com/AirForcePierce/Getting-values

and GH-Pages link is

http://airforcepierce.github.io/Getting-values/

[2015-10-04 17:56] #227 closed

[2015-10-04 18:38] jefdonmar commented on #94
So, i think this finally clicked a bit. I am going to try to do the hard version once I catch up. Thanks for y'all patience and understanding over this past week

https://github.com/jefdonmar/HW4W1/tree/gh-pages

[2015-10-04 18:38] #94 closed

[2015-10-04 21:20] hopecrichlow commented on #220
https://github.com/hopecrichlow/Etsy-Items

http://hopecrichlow.github.io/Etsy-Items/

[2015-10-04 21:20] #220 closed

[2015-10-04 22:18] sbesozzi commented on #214
https://github.com/sbesozzi/SASS-JavaScript-Website

http://sbesozzi.github.io/SASS-JavaScript-Website/

[2015-10-04 22:18] #214 closed

[2015-10-04 22:22] sbesozzi commented on #185
@jisaacks I'll go back and work on these problems now that I understand them more now!

[2015-10-04 23:04] hyonakim commented on #226
repo --> https://github.com/hyonakim/EtsyItems
live --> http://hyonakim.github.io/EtsyItems

[2015-10-04 23:04] #226 closed

[2015-10-04 23:09] taheaton commented on #221
https://github.com/taheaton/A8

[2015-10-04 23:09] #221 closed

[2015-10-05 00:38] jefdonmar commented on #152
Here is my branches version of the normal mode

https://github.com/jefdonmar/HW6/tree/gh-pages

As you can see, I have been trying to attempt the hard mode for the past 5 hours or so... going to try and finish the hard mode, once I have caught up on the basics

[2015-10-05 02:00] JefBlocker commented on #222
http://jefblocker.github.io/etsy/

I don't understand why my image is not displaying.  I recreated what I had done before with last weekend's assignment, so it should work.

[2015-10-05 02:34] Johnrae commented on #213
https://github.com/Johnrae/Assignment-8
^repo
http://johnrae.github.io/Assignment-8/
^gh-pages

[2015-10-05 02:34] #213 closed

[2015-10-05 03:23] corifowler commented on #228
gh-pages: http://corifowler.github.io/arrays-etsy/
repository: https://github.com/corifowler/arrays-etsy

[2015-10-05 03:23] #228 closed

[2015-10-05 04:23] jbrz commented on #215
https://github.com/jbrz/TIYa8/
https://jbrz.github.io/TIYa8/

Dunno what to tell you guys.

I get the js.  I do, I really do.  It makes sense.

Then you ask me to put it on the HTML, or in the CSS?  And I feel like after forever I got it right.  Then I 'Open in Browser' and there's just literally nothing there.

I hate everything about HTML.

[2015-10-05 04:52] itawtitawapuddytat commented on #217
link: https://itawtitawapuddytat.github.io/Etsy-sass-arrays/
repo: https://github.com/itawtitawapuddytat/Etsy-sass-arrays

[2015-10-05 04:52] #217 closed

[2015-10-05 05:37] JRob1991 commented on #218
Had some buggy issues when I installed new OS Update and it reset my Terminal and Sublime Text so when I tried pushing some updates it really messed up my Excersise8. So I created a new Repo.

Link: http://jrob1991.github.io/Project-8/
Repo: https://github.com/JRob1991/Project-8

[2015-10-05 06:21] jefdonmar commented on #181
Here is most of the normal mode finish. On Ex2. I had a bit of trouble with the last few, but it could also be that I have been coding for about 15+ hours today

https://github.com/jefdonmar/HW7/tree/gh-pages

going to go back and attempt the hard modes after class

[2015-10-05 07:30] havisk commented on #232
https://github.com/havisk/Sales-Site

http://havisk.github.io/Sales-Site/

[2015-10-05 11:24] MichaelGaynor commented on #224
https://github.com/MichaelGaynor/JS-Items

trying to figure out why it wont publish to gh-pages at the moment

[2015-10-05 11:24] #224 closed

[2015-10-05 11:36] amitshah86 commented on #208
https://github.com/amitshah86/Assignment8/tree/development

Hey Tim...ive finished the questions up from the homework...unfortunately I was super sick with the flu over the weekend and was limited to what I could do. This link is to the development Repo. I will work on finishing the rest of the HW up and resubmit. I have to work on css part and that should get me close to finished. Sorry for the i

[2015-10-05 11:44] MichaelGaynor commented on #224
Figured it out!

http://michaelgaynor.github.io/JS-Items/Sassy/

[2015-10-05 12:01] ceduncan1 commented on #225
https://github.com/ceduncan1/Etsy-Items

http://ceduncan1.github.io/Etsy-Items/

[2015-10-05 12:01] #225 closed

[2015-10-05 13:09] jisaacks commented on #235
Good job!

[2015-10-05 13:11] jisaacks commented on #232
It looks like your page is not loading the JS files because you have the file path wrong. The folder is `JS` but you used `js

[2015-10-05 13:14] #99 closed

[2015-10-05 13:15] jisaacks commented on #231
Great work! :)

[2015-10-05 13:18] jisaacks commented on #230
@vpdolan that is a link for `git`, please post a link that starts with `https://`, you want to grab it from your URL bar, not from the sidebar of the page.

[2015-10-05 13:20] jisaacks commented on #229
Looks good!

[2015-10-05 13:24] havisk commented on #232
I corrected the link

[2015-10-05 13:24] #232 closed

[2015-10-05 13:24] jisaacks commented on #227
Awesome!

Something to consider though, in your [code here](https://github.com/AirForcePierce/Getting-values/blob/master/js/main.js#L119-L123) how could you solve this problem, if there were hundreds of items with wood?

[2015-10-05 13:25] jisaacks commented on #232
Looks great!

[2015-10-05 13:27] jisaacks commented on #228
Awesome job!

[2015-10-05 13:36] jisaacks commented on #226
Looks great!

[2015-10-05 13:39] jisaacks commented on #225
Good job!

[2015-10-05 13:42] jisaacks commented on #224
Looks great!

[2015-10-05 13:45] taheaton commented on #221
Here is  a link to gh-pages ... sorry about that
https://github.com/taheaton/A8/tree/gh-pages

[2015-10-05 13:46] jisaacks commented on #223
Great!

[2015-10-05 13:50] jisaacks commented on #221
Great job! Can you think of a way you could combine [the 1 filters](https://github.com/taheaton/A8/blob/gh-pages/main.js#L52-L63) into one?

[2015-10-05 13:54] jisaacks commented on #219
The gh-pages looks blank. I checked your code and it looks like you have the javascript in the dev branch but not the `gh-pages` branch, so you probably need to merge and push again. Please fix that and repost.

[2015-10-05 13:56] jisaacks commented on #220
Great!

[2015-10-05 14:01] jisaacks commented on #218
Your code is so DRY I love it. Great way to create reusable functions to simplify your code. I would love to hear your thought process for when you did that.

Did you update to `El Capitan`?

[2015-10-05 14:11] Shalmalidp commented on #219
http://shalmalidp.github.io/etsyitem-day8/

a couple of refreshes later

[2015-10-05 14:11] #219 closed

[2015-10-05 14:14] jisaacks commented on #217
Looks good. Your last answer is incorrect because of [this line](https://github.com/itawtitawapuddytat/Etsy-sass-arrays/blob/gh-pages/js/main.js#L316)

`who_made` is not an array so you should compare it like so `maker === 'i_did'`

[2015-10-05 14:15] jisaacks commented on #216
Great work!

[2015-10-05 14:16] jisaacks commented on #213
Awesome!

[2015-10-05 14:17] jisaacks commented on #214
Looks good!

[2015-10-05 14:39] jisaacks commented on #212
Looks great, love the comments.

[2015-10-05 14:50] jisaacks commented on #209
Awesome!

[2015-10-05 14:51] jisaacks commented on #211
Looks good!

[2015-10-05 14:59] jisaacks commented on #215
You are getting an error on your page [here](https://github.com/jbrz/TIYa8/blob/gh-pages/main.js#L32) you don't need to specify the tags so it should just be `document.createElement('br');`.

Another issue I see is [here](https://github.com/jbrz/TIYa8/blob/gh-pages/main.js#L4) you should be returning instead of logging.

I am sorry you are not liking HTML, sometimes it can be tricky. Every time I

[2015-10-05 15:11] jisaacks commented on #219
Looks good!

[2015-10-05 16:26] taheaton commented on #221
var maxmin = items.filter( function (item) {
  if (item.price > min && < max)
  return items;
});

[2015-10-05 18:59] twhitacre opened #237 "Assignment 9"
@amitshah86 this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #238 "Assignment 9"
@waspnx this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #239 "Assignment 9"
@jefdonmar this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #240 "Assignment 9"
@IsaacHardy this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #241 "Assignment 9"
@thedoublewolf this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #242 "Assignment 9"
@johnrae this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #243 "Assignment 9"
@sbesozzi this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #244 "Assignment 9"
@jbrz this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #245 "Assignment 9"
@charlahcodes this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #246 "Assignment 9"
@itawtitawapuddytat this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #247 "Assignment 9"
@Jrob1991 this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #248 "Assignment 9"
@shalmalidp this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #249 "Assignment 9"
@hopecrichlow this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #250 "Assignment 9"
@taheaton this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #251 "Assignment 9"
@JefBlocker this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #252 "Assignment 9"
@luketgriffith this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #253 "Assignment 9"
@MichaelGaynor this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #254 "Assignment 9"
@ceduncan1 this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #255 "Assignment 9"
@hyonakim this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #256 "Assignment 9"
@AirForcePierce this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #257 "Assignment 9"
@corifowler this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #258 "Assignment 9"
@kmooney517 this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #259 "Assignment 9"
@vpdolan this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #260 "Assignment 9"
@faircloth this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #261 "Assignment 9"
@havisk this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #262 "Assignment 9"
@BoyzieLee this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #263 "Assignment 9"
@hdannyyi this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #264 "Assignment 9"
@JesseSoldat this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 18:59] twhitacre opened #265 "Assignment 9"
@JeanelM123 this is your issue for *Assignment 9*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-05 19:04] #152 closed

[2015-10-05 19:04] #181 closed

[2015-10-05 19:06] Shalmalidp commented on #248
REPO : file:///Users/shalmalipadgaokar/tiy/projects/day9clock/index.html

[2015-10-05 19:09] Shalmalidp commented on #248
GH-PAGES :  http://shalmalidp.github.io/day9-clock-NM/

[2015-10-05 19:22] jbrz commented on #244
https://github.com/jbrz/TIYa9
https://jbrz.github.io/TIYa9/

WHAT TIME IS IT?

[2015-10-05 19:47] Shalmalidp commented on #248
Repo HEXCLOCK :https://github.com/Shalmalidp/HEXCLOCK

file:///Users/shalmalipadgaokar/tiy/projects/hexclock/index.html

gh-pages :    http://shalmalidp.github.io/HEXCLOCK/

[2015-10-05 19:51] charlahcodes commented on #245
Normal mode
Repo: https://github.com/charlahcodes/javascript-clock
GH-pages: http://charlahcodes.github.io/javascript-clock/

[2015-10-05 20:49] jisaacks commented on #208
Thanks for turning this in, please resubmit when you have it finished.

[2015-10-05 20:50] #185 closed

[2015-10-05 20:54] amitshah86 commented on #237
https://github.com/amitshah86/Assignment9

[2015-10-05 20:57] hopecrichlow commented on #249
Normal Mode:
https://github.com/hopecrichlow/Clock

http://hopecrichlow.github.io/Clock/

[2015-10-05 20:58] IsaacHardy commented on #240
PlainClock RIPO: https://github.com/IsaacHardy/Plain-Clock
PlainClock Link: http://isaachardy.github.io/Plain-Clock/

HexClock RIPO: https://github.com/IsaacHardy/Hex-Clock
HexClock Link: http://isaachardy.github.io/Hex-Clock/

[2015-10-05 21:02] twhitacre commented on #198
:-1: Looks good!

There are a few places, like [here](https://github.com/AirForcePierce/jsexercises/blob/master/exercises-2.js#L32) where you use some more concise methods like `indexOf()` etc.

[2015-10-05 21:07] twhitacre commented on #204
@BoyzieLee - looks like there are a few of these to wrap up still. Let us know if you need more help!

[2015-10-05 21:11] jisaacks commented on #99
The images are not showing up because you are trying to hotlink them. Otherwise looks good.

[2015-10-05 21:12] twhitacre commented on #167
:+1: great work!

@ceduncan1 - either works. I would always push it because it's part of the assignment, especially since you can updated it later when you are 100% done.

[2015-10-05 21:17] Johnrae commented on #242
http://johnrae.github.io/assignment9/
^launched page
https://github.com/Johnrae/assignment9
^repo link

[2015-10-05 21:17] #242 closed

[2015-10-05 21:18] jisaacks commented on #157
The problem was that you should have set the script type to `text/javascript` not just `javascript`.. code was good.

[2015-10-05 21:26] twhitacre commented on #62
@JeanelM123 let me know if you need help with this. I see you are still missing a `index.html` file.

[2015-10-05 21:26] sbesozzi commented on #243
Part One:
https://github.com/sbesozzi/jQuery-Analog-Clock
http://sbesozzi.github.io/jQuery-Analog-Clock/

Part Two:
https://github.com/sbesozzi/jQuery-Analog-Clock-Hex-Color
http://sbesozzi.github.io/jQuery-Analog-Clock-Hex-Color/

[2015-10-05 21:26] #243 closed

[2015-10-05 21:26] corifowler commented on #257
Hard Mode:
gh-pages : http://corifowler.github.io/hex-clock
repository: https://github.com/corifowler/hex-clock

Reg Mode Basic Clock
gh-pages: http://corifowler.github.io/JS-clock
repository: https://github.com/corifowler/JS-clock/tree/master

Reg Mode Color Clock
gh-pages: http://corifowler.github.io/kewl-kolor-klock
repository: https://github.com/corifowler/kewl-kolor-klock/tree/master

next ti

[2015-10-05 21:26] #257 closed

[2015-10-05 21:27] twhitacre commented on #207
@JeanelM123 - It looks like you are missing some of the work, let me know if you need help.

[2015-10-05 21:31] JefBlocker commented on #222
I apologize.  I don't think I closed this last night; I only commented.

[2015-10-05 21:32] amitshah86 commented on #237
http://amitshah86.github.io/Assignment9

[2015-10-05 21:32] amitshah86 commented on #237
http://amitshah86.github.io/Assignment9

[2015-10-05 21:34] JefBlocker commented on #251
JavaScript Clock: http://jefblocker.github.io/clock/

[2015-10-05 21:34] twhitacre commented on #165
:+1: Great work!

[2015-10-05 21:37] twhitacre commented on #194
:+1: Great work.

On [this](https://github.com/luketgriffith/assign7-1/blob/master/main.js#L129-L143) one here - when you run into problems like this, always look for a more concise method. In this case, `indexOf()` will be your friend. Great work though.

Also, make sure to add `Readme.md` files to your repos :smile: .

[2015-10-05 21:38] twhitacre commented on #166
:+1: Great work!

[2015-10-05 21:38] jbrz commented on #157
Further evidence that HTML is actually just the dumbest animal on the planet.

[2015-10-05 21:40] twhitacre commented on #201
@vpdolan sounds good - let me know if you need any more help!

[2015-10-05 21:40] twhitacre commented on #172
:+1: Looks good!

[2015-10-05 21:45] #244 closed

[2015-10-05 21:47] hyonakim commented on #255
Normal Mode:
repo --> https://github.com/hyonakim/EasyClock
live-->http://hyonakim.github.io/EasyClock/

repo -->https://github.com/hyonakim/HexClock
live -->http://hyonakim.github.io/HexClock/

Hard Mode:
repo -->https://github.com/hyonakim/HexText
live -->http://hyonakim.github.io/HexText/

[2015-10-05 21:47] #255 closed

[2015-10-05 21:58] Shalmalidp commented on #248
Hard mode : file:///Users/shalmalipadgaokar/tiy/projects/hexclockhardmode/index.html

gh-pages : http://shalmalidp.github.io/HEXHARDMODE/

[2015-10-05 22:03] waspnx commented on #238
gh-pages: http://waspnx.github.io/clock/
repo: https://github.com/waspnx/clock

[2015-10-05 22:05] jisaacks commented on #164
Thanks for turning in what you have. If you need help please grab myself, Tim, a TA or a fellow student. Also you have a js error make sure to fix that, oh and please remove the alerts. Thanks!

[2015-10-05 22:06] #238 closed

[2015-10-05 22:07] jisaacks commented on #193
Thanks for turning in what you have, this looks pretty close. In most of your functions it looks like you are using params incorrectly. You should not immediately override them like you are doing. Please fix that and any js errors and resubmit. Thanks! :)

[2015-10-05 22:09] jisaacks commented on #222
What you have so far looks great! Try to get some of the other answers inserted when you can, thanks!

[2015-10-05 22:12] amitshah86 commented on #237
https://github.com/amitshah86/Assignment9/tree/gh-pages

[2015-10-05 22:13] jisaacks commented on #181
This looks good. I will accept for now, but please try to go back and finished in missing ones when you get a chance.

[2015-10-05 22:14] jisaacks commented on #94
Nice work.

[2015-10-05 22:15] amitshah86 commented on #237
file:///Users/AmitShah/jQuery/assignment9/index.html

[2015-10-05 22:16] jisaacks commented on #155
Awesome.

[2015-10-05 22:21] jisaacks commented on #156
:+1:

[2015-10-05 22:24] jisaacks commented on #161
Please post a link to your repo. Those links are to files on your computer which I cannot access. Let me know if you need help. Thanks! :)

[2015-10-05 23:28] faircloth commented on #260
https://github.com/faircloth/jQIntroAssignment

[2015-10-05 23:29] faircloth commented on #260
http://faircloth.github.io/jQIntroAssignment/

[2015-10-05 23:29] #260 closed

[2015-10-05 23:49] ceduncan1 commented on #254
I know you didn't ask for the initial clock, but I went ahead and created its own repository and pushed it to gh-pages.

Clock
https://github.com/ceduncan1/Clock
http://ceduncan1.github.io/Clock/

The first Hexadecimal Clock (normal mode) (I totally forgot to commit AND I forgot to work on a dev branch rather than main)
https://github.com/ceduncan1/HexClock1
http://ceduncan1.github.io/HexClock1/

[2015-10-05 23:49] #254 closed

[2015-10-06 00:23] kmooney517 commented on #258
https://github.com/kmooney517/normalClocks/tree/master
http://kmooney517.github.io/normalClocks/

some kind of magic happened when i opened the gh-pages link at home. it now shows all three.  normal + hard mode included in same main.js file

[2015-10-06 00:23] #258 closed

[2015-10-06 00:28] Shalmalidp commented on #161
NORMAL MODE :  https://github.com/Shalmalidp/DOM-JSDAY2

HARD MODE :  https://github.com/Shalmalidp/Calculator-Hardmode

[2015-10-06 00:28] #161 closed

[2015-10-06 00:33] Shalmalidp commented on #248
git hub links to all the 3 exercises today

REPO clock normal mode :https://github.com/Shalmalidp/day9-clock-NM
GH-PAGES : http://shalmalidp.github.io/day9-clock-NM/

REPO clock hex mode :https://github.com/Shalmalidp/HEXCLOCK
gh-pages : http://shalmalidp.github.io/HEXCLOCK/

HARDMODE HEX : https://github.com/Shalmalidp/HEXHARDMODE
gh-pages : http://shalmalidp.github.io/HEXHARDMODE/

[2015-10-06 00:33] #248 closed

[2015-10-06 00:51] luketgriffith commented on #252
https://github.com/luketgriffith/hexClock
http://luketgriffith.github.io/hexClock/
https://github.com/luketgriffith/Clock
http://luketgriffith.github.io/Clock/

[2015-10-06 00:51] #252 closed

[2015-10-06 01:16] vpdolan commented on #259
Users/vinniedolan/tiy/TIYProjects/assignment9clock/index.html
part one basic clock

[2015-10-06 01:17] charlahcodes commented on #245
Hard mode
Repo: https://github.com/charlahcodes/javascript-clock-hardmode
GH-pages: http://charlahcodes.github.io/javascript-clock-hardmode/

[2015-10-06 01:17] #245 closed

[2015-10-06 01:17] vpdolan commented on #259
git remote add origin git@github.com:vpdolan/Assignmnent9.git
git push -u origin master  part I basic clock w/black background

[2015-10-06 01:48] AirForcePierce commented on #256
#REGULAR CLOCK

Repo
https://github.com/AirForcePierce/jClock
GH-Pages
http://airforcepierce.github.io/jClock/

#HEX CLOCK
Repo
https://github.com/AirForcePierce/jclockhex
GH-Pages
http://airforcepierce.github.io/jclockhex/

[2015-10-06 01:48] #256 closed

[2015-10-06 02:08] thedoublewolf commented on #241
repo ---> https://github.com/thedoublewolf/Javascript-Clock
live page ---> http://thedoublewolf.github.io/Javascript-Clock/

[2015-10-06 02:08] #241 closed

[2015-10-06 02:57] ceduncan1 commented on #254
Couldn't resolve the issue.  I'd love some help looking at it tomorrow.  Thanks!

[2015-10-06 03:27] taheaton commented on #250
https://github.com/taheaton/A9/tree/gh-pages

I couldn't get the colors to work .... and it's getting late!!!!

[2015-10-06 03:30] JefBlocker commented on #251
Hexadecimal Clock: http://jefblocker.github.io/hex-clock/.

[2015-10-06 03:30] #251 closed

[2015-10-06 03:49] #249 closed

[2015-10-06 04:10] JRob1991 commented on #247
Easy Clock... will add the hardmode tomorrow morning most likely.

GH-Pages: http://jrob1991.github.io/Easy-Clock/
Repo: https://github.com/JRob1991/Easy-Clock

[2015-10-06 04:10] #247 closed

[2015-10-06 05:36] itawtitawapuddytat commented on #246
link: https://itawtitawapuddytat.github.io/jQclock/
repo: https://github.com/itawtitawapuddytat/jQclock

[2015-10-06 05:36] #246 closed

[2015-10-06 07:06] havisk commented on #261
Regular clock
https://github.com/havisk/The-Count-Down

http://havisk.github.io/The-Count-Down/

[2015-10-06 07:54] havisk commented on #261
Regular clock part B:

https://github.com/havisk/Changing-Color-Clock

http://havisk.github.io/Changing-Color-Clock/

[2015-10-06 07:54] #261 closed

[2015-10-06 11:21] JesseSoldat commented on #264
https://github.com/JesseSoldat/Clock-Work-Possibly-Orange-
http://jessesoldat.github.io/Clock-Work-Possibly-Orange-/

[2015-10-06 11:21] #264 closed

[2015-10-06 11:42] MichaelGaynor commented on #253
https://github.com/MichaelGaynor/JS-Clock/tree/gh-pages

http://michaelgaynor.github.io/JS-Clock/

With random background generator and transitions for more interesting viewing!

[2015-10-06 11:42] #253 closed

[2015-10-06 12:56] JeanelM123 commented on #265
https://github.com/JeanelM123/JQuery/tree/master

[2015-10-06 12:57] JeanelM123 commented on #265
https://github.com/JeanelM123/JQuery/tree/exercise2

[2015-10-06 13:50] hdannyyi commented on #263
not yet complete still need to add hex and decoration

https://github.com/hdannyyi/running-clock

http://hdannyyi.github.io/running-clock/ gh-pages

[2015-10-06 13:58] JRob1991 commented on #247
Hard Mode:

Gh-Pages: http://jrob1991.github.io/Hardmode-Clock
Repo: https://github.com/JRob1991/Hardmode-Clock

[2015-10-06 14:00] IsaacHardy commented on #240
HardMode Branch RIPO: https://github.com/IsaacHardy/Hex-Clock/tree/HardMode

[2015-10-06 16:01] twhitacre opened #266 "Assignment 10"
@amitshah86 this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #267 "Assignment 10"
@waspnx this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #268 "Assignment 10"
@jefdonmar this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #269 "Assignment 10"
@IsaacHardy this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #270 "Assignment 10"
@thedoublewolf this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #271 "Assignment 10"
@johnrae this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #272 "Assignment 10"
@sbesozzi this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #273 "Assignment 10"
@jbrz this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #274 "Assignment 10"
@charlahcodes this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #275 "Assignment 10"
@itawtitawapuddytat this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #276 "Assignment 10"
@Jrob1991 this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #277 "Assignment 10"
@shalmalidp this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #278 "Assignment 10"
@hopecrichlow this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #279 "Assignment 10"
@taheaton this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #280 "Assignment 10"
@JefBlocker this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #281 "Assignment 10"
@luketgriffith this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #282 "Assignment 10"
@MichaelGaynor this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #283 "Assignment 10"
@ceduncan1 this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #284 "Assignment 10"
@hyonakim this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #285 "Assignment 10"
@AirForcePierce this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #286 "Assignment 10"
@corifowler this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #287 "Assignment 10"
@kmooney517 this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #288 "Assignment 10"
@vpdolan this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #289 "Assignment 10"
@faircloth this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #290 "Assignment 10"
@havisk this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #291 "Assignment 10"
@BoyzieLee this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #292 "Assignment 10"
@hdannyyi this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #293 "Assignment 10"
@JesseSoldat this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 16:01] twhitacre opened #294 "Assignment 10"
@JeanelM123 this is your issue for *Assignment 10*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-06 18:19] jisaacks commented on #105
It looks great, but please remember to add a gh pages next time :)

[2015-10-06 18:22] jisaacks commented on #163
You mean the hard mode?

Please remember to add a gh-pages.

[2015-10-06 18:23] jisaacks commented on #192
Thanks for turning in what you got. Try to answer some more in `exercises-2.js` and resubmit. Thanks!

[2015-10-06 18:26] jisaacks commented on #154
Love it.

[2015-10-06 18:26] jisaacks commented on #183
Great job!

[2015-10-06 20:53] twhitacre commented on #161
:+1: Looks great - thanks for providing those links.

[2015-10-06 21:04] twhitacre commented on #237
@amitshah86 I looked at your project and it looks great - nice work!

However, can you push this to GH-Pages so I can see a live running version of it.

Also, red & grey.... my eyes hurt :eyes: :smile:

[2015-10-06 21:08] amitshah86 commented on #237
haha thanks...sure no problem.

On Tue, Oct 6, 2015 at 5:04 PM, Tim Whitacre <notifications@github.com>
wrote:

[2015-10-06 21:18] twhitacre commented on #238
:+1: Nice work!

[2015-10-06 21:20] waspnx commented on #267
gh-pages: http://waspnx.github.io/transition/#
repo: https://github.com/waspnx/transition

[2015-10-06 21:27] Shalmalidp commented on #277
REPO : https://github.com/Shalmalidp/day10-Accordion
gh-pages :http://shalmalidp.github.io/day10-Accordion/

[2015-10-06 21:27] #277 closed

[2015-10-06 21:44] faircloth commented on #289
normal mode :
https://github.com/faircloth/expandBoxes
http://faircloth.github.io/expandBoxes/

[2015-10-06 21:44] #289 closed

[2015-10-06 22:02] corifowler commented on #286
Normal Mode
gh-pages: http://corifowler.github.io/css-transitions/
repository: https://github.com/corifowler/css-transitions

[2015-10-06 22:02] #286 closed

[2015-10-06 22:38] charlahcodes commented on #274
Repo: https://github.com/charlahcodes/jquery-accordion
GH-pages: http://charlahcodes.github.io/jquery-accordion/

[2015-10-06 22:38] #274 closed

[2015-10-06 22:43] IsaacHardy commented on #269
RIPO: https://github.com/IsaacHardy/Transition
LINK: http://isaachardy.github.io/Transition/

[2015-10-06 22:52] Johnrae commented on #271
https://github.com/Johnrae/assignment-10
^^ assignment repo ^^

http://johnrae.github.io/assignment-10/
^^ launched gh-pages ^^

[2015-10-06 22:52] #271 closed

[2015-10-06 23:25] #267 closed

[2015-10-07 00:08] AirForcePierce commented on #285
GH Pages

http://airforcepierce.github.io/Accordion/

Repo

https://github.com/AirForcePierce/Accordion

[2015-10-07 00:29] kmooney517 commented on #287
https://github.com/kmooney517/accordion_display
http://kmooney517.github.io/accordion_display/

[2015-10-07 00:29] #287 closed

[2015-10-07 00:48] #285 closed

[2015-10-07 00:52] thedoublewolf commented on #270
repo ---> https://github.com/thedoublewolf/Accordion
live page ---> http://thedoublewolf.github.io/Accordion/

[2015-10-07 00:52] #270 closed

[2015-10-07 01:30] JesseSoldat commented on #293
https://github.com/JesseSoldat/accordion-
http://jessesoldat.github.io/accordion-/

[2015-10-07 01:30] #293 closed

[2015-10-07 02:39] luketgriffith commented on #281
https://github.com/luketgriffith/Slider
http://luketgriffith.github.io/Slider/

[2015-10-07 02:39] #281 closed

[2015-10-07 02:47] taheaton commented on #279
https://github.com/taheaton/A10/tree/gh-pages

Couldn't get the movement to work

[2015-10-07 02:50] amitshah86 commented on #237
Hey Tim...Im trying to push assignment 9 live link to gh-pages but cant seem to get it through. Can we look at this tomorrow please? I'd like to get it straightened out. Thanks

[2015-10-07 02:50] #237 closed

[2015-10-07 02:57] amitshah86 commented on #266
http://amitshah86.github.io/Assignment10

[2015-10-07 04:25] hyonakim commented on #284
Normal Mode:
repo -->https://github.com/hyonakim/AccordionAnimation
live --> http://hyonakim.github.io/AccordionAnimation/

will work on Hard Mode...

[2015-10-07 04:25] #284 closed

[2015-10-07 04:31] sbesozzi commented on #272
https://github.com/sbesozzi/jQuery-Accordian
http://sbesozzi.github.io/jQuery-Accordian/

[2015-10-07 04:31] #272 closed

[2015-10-07 06:46] havisk commented on #290
https://github.com/havisk/Sliders

http://havisk.github.io/Sliders/

[2015-10-07 06:46] #290 closed

[2015-10-07 06:50] havisk commented on #290
couldn't get my jpg to act right with gh-pages

[2015-10-07 10:49] itawtitawapuddytat commented on #275
link: https://itawtitawapuddytat.github.io/jQuery-Accordion/
repo: https://github.com/itawtitawapuddytat/jQuery-Accordion

[2015-10-07 11:14] hopecrichlow commented on #278
https://github.com/hopecrichlow/Accordion

http://hopecrichlow.github.io/Accordion/

[2015-10-07 11:16] JRob1991 commented on #276
Gh-Pages: http://jrob1991.github.io/Sliding-Boxes/
Repo: https://github.com/JRob1991/Sliding-Boxes

[2015-10-07 11:16] #276 closed

[2015-10-07 11:59] jbrz commented on #273
Uh, weird question.  My issue wasn't at the top when I clicked issues.  Does github hate me?

http://jbrz.github.io/TIYa10
https://github.com/jbrz/TIYa10

I started hard mode.  I'm not going to promise I'll turn it in.  Buttons are dumb.

[2015-10-07 11:59] #273 closed

[2015-10-07 12:00] JefBlocker commented on #280
http://jefblocker.github.io/accordion/

[2015-10-07 12:41] JeanelM123 commented on #294
http://jeanelm123.github.io/JQuery-Accordion-/

[2015-10-07 12:48] ceduncan1 commented on #283
I didn't get to the hard mode.  If I have time later in the week, I'll come back to it and give it a try.

https://github.com/ceduncan1/Accordion
http://ceduncan1.github.io/Accordion/

[2015-10-07 12:48] #283 closed

[2015-10-07 13:53] hyonakim commented on #284
Added transition effect, updated gh-pages.

[2015-10-07 14:46] taheaton commented on #279
https://github.com/taheaton/A10/tree/master

corrected code

[2015-10-07 15:29] jisaacks commented on #294
Thanks for turning this in. Looks like you have an error [here](https://github.com/JeanelM123/JQuery-Accordion-/blob/gh-pages/main.js#L3)

I see what you were trying to do. I think something like:

[code]

Please resubmit once you get this working.

[2015-10-07 15:30] jisaacks commented on #293
Great job!

[2015-10-07 15:31] jisaacks commented on #290
Awesome!

[2015-10-07 15:32] jisaacks commented on #289
Good job, next time remember to use Sass for your projects. :)

[2015-10-07 15:33] jisaacks commented on #286
Great!

[2015-10-07 15:34] jisaacks commented on #287
Looks good.

[2015-10-07 15:35] jisaacks commented on #285
Great work!

[2015-10-07 15:37] jisaacks commented on #284
Good job.

[2015-10-07 15:40] jisaacks commented on #282
This looks good but the assignment was to use css transitions (not jquery) to create the sliding effect. Please make that change and resubmit. :)

[2015-10-07 15:41] jisaacks commented on #283
Looks good.

[2015-10-07 15:42] jisaacks commented on #281
Good job.

[2015-10-07 15:44] jisaacks commented on #280
This isn't working because you linked the js file wrong. You need to include the folder name in the src. Please fix and resubmit. :)

[2015-10-07 15:47] jisaacks commented on #279
Thanks for turning in what you have. Please resubmit once you get it working.

[2015-10-07 15:48] jisaacks commented on #276
Looks good.

[2015-10-07 15:49] jisaacks commented on #275
Looks good but there doesn't appear to be any transitioning. Please add that and resubmit :)

[2015-10-07 15:50] jisaacks commented on #274
Good work.

[2015-10-07 15:52] jisaacks commented on #272
What you have looks great but I can only collapse them I cannot open them back up. I will accept this, but try to fix that if you can.

[2015-10-07 15:54] jisaacks commented on #273
Yes.

----

Your project looks good!

---

P.S. Not sure what your github issue was, I would need to see it happen.

[2015-10-07 15:55] jisaacks commented on #271
Good good.

[2015-10-07 15:57] jisaacks commented on #270
Looks good. As an exercise, how do you think you could make clicking the title a second time, close it, so you do not need a separate close button?

[2015-10-07 15:58] jisaacks commented on #269
The URL is case sensitive. Your folder is called `JS` but you used `js` to link them to your HTML so they are not loading. Please fix that and resubmit. :)

[2015-10-07 15:59] jisaacks commented on #267
Love it!

[2015-10-07 16:01] jisaacks commented on #278
What you have so far looks good. They are not yet closing or animating. Please fix that and resubmit. Thanks! :)

[2015-10-07 16:03] jisaacks commented on #266
It is not currently working. I think maybe when you wrote `btn.addClass('h2.box3');` you mean `btn.addClass('box3');` etc. That might help. Please resubmit once you get it working. Thanks :)

[2015-10-07 16:33] IsaacHardy commented on #269
RIPO: https://github.com/IsaacHardy/Transition
LINK: http://isaachardy.github.io/Transition/

[2015-10-07 16:33] #269 closed

[2015-10-07 17:06] jbrz commented on #273
I knew it.  I'll git you, github!!!

[2015-10-07 17:39] twhitacre opened #295 "Assignment 11"
@amitshah86 this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:39] twhitacre opened #296 "Assignment 11"
@waspnx this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #297 "Assignment 11"
@jefdonmar this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #298 "Assignment 11"
@IsaacHardy this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #299 "Assignment 11"
@thedoublewolf this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #300 "Assignment 11"
@johnrae this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #301 "Assignment 11"
@sbesozzi this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #302 "Assignment 11"
@jbrz this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #303 "Assignment 11"
@charlahcodes this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #304 "Assignment 11"
@itawtitawapuddytat this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #305 "Assignment 11"
@Jrob1991 this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #306 "Assignment 11"
@shalmalidp this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #307 "Assignment 11"
@hopecrichlow this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #308 "Assignment 11"
@taheaton this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #309 "Assignment 11"
@JefBlocker this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #310 "Assignment 11"
@luketgriffith this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #311 "Assignment 11"
@MichaelGaynor this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #312 "Assignment 11"
@ceduncan1 this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #313 "Assignment 11"
@hyonakim this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #314 "Assignment 11"
@AirForcePierce this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #315 "Assignment 11"
@corifowler this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #316 "Assignment 11"
@kmooney517 this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #317 "Assignment 11"
@vpdolan this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #318 "Assignment 11"
@faircloth this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #319 "Assignment 11"
@havisk this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #320 "Assignment 11"
@BoyzieLee this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #321 "Assignment 11"
@hdannyyi this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #322 "Assignment 11"
@JesseSoldat this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 17:40] twhitacre opened #323 "Assignment 11"
@JeanelM123 this is your issue for *Assignment 11*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-07 18:14] amitshah86 commented on #266
http://amitshah86.github.io/Assignment10.

Okay i think ive got it figured out.

[2015-10-07 18:23] jisaacks commented on #266
I see you made changes in your master branch but it looks like you forgot to push them to gh-pages.

[2015-10-07 18:24] amitshah86 commented on #266
let me try again...it kept saying that everything is up to date

On Wed, Oct 7, 2015 at 2:23 PM, JD Isaacks <notifications@github.com> wrote:

[2015-10-07 18:41] jisaacks commented on #266
Did you merge master into gh-pages before trying to push gh-pages?

[2015-10-07 19:11] amitshah86 commented on #266
http://amitshah86.github.io/Assignment10

[2015-10-07 19:24] hdannyyi commented on #118
http://hdannyyi.github.io/simple-pricing-website/ gh-pages

i can shorten the code. will go back once im caught up with everything else

[2015-10-07 19:24] #118 closed

[2015-10-07 19:51] amitshah86 commented on #237
http://amitshah86.github.io/Assignment9

[2015-10-07 20:04] jisaacks commented on #266
You are getting close, it is functional. There still is no transitioning happening though, try to get that working.

[2015-10-07 20:06] amitshah86 commented on #266
Okay I'll do it now. I know what I have to change.

Sent from my iPhone

[2015-10-08 02:36] jefdonmar commented on #181
Here is my updated one on HW 7, may still need help on the last one https://github.com/jefdonmar/HW7/tree/gh-pages

[2015-10-08 17:42] BoyzieLee commented on #88
... Here it the latest update... I had an issue with my branches that I couldn't figure out. I just deleted my branches, pulled, merged, and pushed until I got it....
http://boyzielee.github.io/floatingboxes/

[2015-10-08 17:42] #88 closed

[2015-10-08 20:47] jefdonmar commented on #210
I really need a walk through of sass and how to use it... did more of the stuff in the main.css file. But this makes a bit more sense

https://github.com/jefdonmar/HW8/tree/gh-pages

[2015-10-08 20:47] #210 closed

[2015-10-09 13:54] twhitacre commented on #88
@BoyzieLee it can still use a little work, but it's close enough for me to close it out.

You'll want to pay close attention to the minor details, especially if you want to use this in your portfolio later.

[2015-10-09 13:55] twhitacre commented on #118
:+1: Looks good

Consider using a wrapping `container

[2015-10-09 13:58] twhitacre commented on #210
@jefdonmar looks really good. Let one of us know if you want to look through some SASS or other review.

Also, just note that when you paste a link here, put something like the following:

[2015-10-09 14:00] twhitacre commented on #237
:+1: Thanks! Looks good.

[2015-10-09 14:03] twhitacre commented on #265
@JeanelM123 The code is looking good, but there is not `gh-pages` link for me to view it.

I did download the files, but you have linked to your `jquery.js` file wrong so it won't work locally for me either.

Let me know how I can help!

[2015-10-09 14:06] twhitacre commented on #264
:+1: Great work. Code and design look great.

[2015-10-09 15:07] twhitacre commented on #263
@hdannyyi code is looking good.

Close this again once you get the styling and hex values in place!

[2015-10-09 15:10] twhitacre commented on #261
:+1: Great work.

Love the blinking seconds, nice animation.

[2015-10-09 15:12] twhitacre commented on #260
:+1: great work!

[2015-10-09 15:13] twhitacre commented on #258
:+1 Awesome job.

[2015-10-09 15:16] twhitacre commented on #257
:+1:  Great work. Your code is looking really good and really well organized.

Get used to using the IIFE when possible.

[2015-10-09 15:18] twhitacre commented on #256
:+1:  Great work!

[2015-10-09 15:20] twhitacre commented on #255
:+1:  Looks great!

[2015-10-09 15:25] twhitacre commented on #254
:+1:  Looks great! Nice work on both.

@ceduncan1 tag me later today or next week if you need help with the hard mode repository.

[2015-10-09 15:25] twhitacre commented on #253
:+1:  haha, love the background fade. Nice work!

[2015-10-09 15:26] twhitacre commented on #252
:+1:  Great job.

Make sure to keep adding `Readme.md` files :smile:

[2015-10-09 15:27] twhitacre commented on #250
@taheaton looks great.

When you get a chance, get the color part to work as understanding how to dynamically change the background is a good thing to know.

Let me know if you need help with it!

[2015-10-09 15:30] twhitacre commented on #251
:+1: Great work Jef!

Your code is looking really good and well organized. Make sure to keep your `master` branch up to date though.

Also, when you close an issue, also add a link to your Repo as well as the GHPages link. Just makes things a bit easier for us. :smile:

[2015-10-09 15:31] twhitacre commented on #249
:+1:  Code looks great, very well organized.

Make sure to add a `Readme.md` file and also keep your `master` branch up to date.

[2015-10-09 15:33] twhitacre commented on #248
:+1:  Looks good!

Code is looking better, very well organized. See [here](https://github.com/Shalmalidp/day9-clock-NM/blob/master/js/main.js#L5-L15), I'd suggest indenting this since it's inside of the `timeout` function. This will make sure you can tell how your code is scoped.

[2015-10-09 15:34] twhitacre commented on #247
:+1: Looks great!

Couple things. Make sure to add a `Readme.md` file and also, I would get in the habit of not uppercasing your folder names.

[2015-10-09 15:36] twhitacre commented on #246
:+1: Looks great!

Your code is looking good, but I'd suggest in a file like [this](https://github.com/itawtitawapuddytat/jQclock/blob/master/js/main.js), make sure to do some cleanup when you are done. Once you have code that works, you can remove the commented out code that doesn't. You can still add some comments though to remind yourself what you did.

[2015-10-09 15:39] twhitacre commented on #245
:+1: Great work!

Your code is looking really good. One tip, at this point, I would start putting your JS in a `js` folder and your css in a `css` folder. Just helps with organization going forward.

[2015-10-09 15:41] twhitacre commented on #243
:+1: Great job!

Your code is looking really good. It's nice to see all the comments.

[2015-10-09 15:42] twhitacre commented on #244
:+1: Great Job!

One note, see [here](https://github.com/jbrz/TIYa9/blob/master/main.js#L4-L17), although this is possible and will work, it's a really bad practice to get into. Usually the only time you want to use the `.css` method of jQuery is when you want to do something dynamically (like background color). Otherwise, awesome work.

[2015-10-09 15:43] twhitacre commented on #242
:+1: Looks great.

Note, I would start making sure you create a `Readme.md` file as well as a `js` and `css` folder. This will help with organization going forward.

[2015-10-09 15:44] twhitacre commented on #241
:+1: Love it!! Great job. Love the design.

One note, make sure to add a `Readme` file in your projects.

[2015-10-09 15:45] twhitacre commented on #240
@IsaacHardy can you take another look at this. I'm not able to load the Github Pages page.

[2015-10-09 15:52] IsaacHardy commented on #240
Fixed. It was a index.html linking issue.

[2015-10-09 15:52] #240 closed

[2015-10-09 16:01] jbrz commented on #244
Yeah I talked to JD about it.  Just wanted to do it as an exercise.  Now I've got all these other tools that I don't understand that con supposedly do all the work for me, so...

-.-

[2015-10-09 16:13] ceduncan1 commented on #254
Thanks! Will do.  I'd like to understand what I did wrong in order to avoid doing it again.

[2015-10-09 20:02] kmooney517 commented on #316
https://github.com/kmooney517/etsyPage
http://kmooney517.github.io/etsyPage

[2015-10-09 20:02] #316 closed

[2015-10-10 16:37] Shalmalidp commented on #306
repo : https://github.com/Shalmalidp/etsypages-11NM

gh-pages : http://shalmalidp.github.io/etsypages-11NM/

[2015-10-10 16:37] #306 closed

[2015-10-10 20:03] thedoublewolf commented on #299
repo
https://github.com/thedoublewolf/Etsy-the-Gathering
live page
http://thedoublewolf.github.io/Etsy-the-Gathering

[2015-10-10 20:03] #299 closed

[2015-10-11 13:52] JesseSoldat commented on #322
https://github.com/JesseSoldat/etsy-import
http://jessesoldat.github.io/etsy-import/

[2015-10-11 13:52] #322 closed

[2015-10-11 19:46] charlahcodes commented on #303
Repo: https://github.com/charlahcodes/etsy-page
GH-pages: http://charlahcodes.github.io/etsy-page/

[2015-10-11 19:46] #303 closed

[2015-10-11 21:44] corifowler commented on #315
gh-pages: http://corifowler.github.io/etsy-search/

repository: https://github.com/corifowler/etsy-search

[2015-10-11 21:44] #315 closed

[2015-10-11 22:03] faircloth commented on #318
https://github.com/faircloth/SearchTermSite
http://faircloth.github.io/SearchTermSite/

[2015-10-11 22:03] #318 closed

[2015-10-11 23:30] AirForcePierce commented on #314
gh-pages

http://airforcepierce.github.io/etsyproject/

repo

https://github.com/AirForcePierce/etsyproject

[2015-10-11 23:30] #314 closed

[2015-10-12 01:09] luketgriffith commented on #310
https://github.com/luketgriffith/Etsy-2
http://luketgriffith.github.io/Etsy-2/
The search bar on the deployed site flies to the left for some reason, but if you refresh it a few times it usually goes back to the right spot (but sometimes not). It wasn't doing that on Friday, and I didn't change anything, so I'm not sure what's going on.

[2015-10-12 01:09] #310 closed

[2015-10-12 02:12] taheaton commented on #308
https://github.com/taheaton/Template/commit/2db7a2421a8efb7880807d823535aa0593f76d6b

Can you please let me know if I'm posting to the gh/pages correctly?  Thanks!

[2015-10-12 02:33] Johnrae commented on #300
So I didnt get some of the smaller styling details done, but i will finish it when i get a chance. Heres what i have done for now.

https://github.com/Johnrae/Assignment-11
^repo
http://johnrae.github.io/Assignment-11/
^gh-pages

[2015-10-12 02:33] #300 closed

[2015-10-12 02:42] amitshah86 commented on #295
http://amitshah86.github.io/Assignment11

Will continuing working on JS and resubmit project.

[2015-10-12 03:17] IsaacHardy commented on #298
RIPO: https://github.com/IsaacHardy/Etsy-Results
LINK: http://isaachardy.github.io/Etsy-Results/

[2015-10-12 03:17] #298 closed

[2015-10-12 03:47] hyonakim commented on #313
repo-->https://github.com/hyonakim/EtsyPageResults
live -->http://hyonakim.github.io/EtsyPageResults/

[2015-10-12 03:47] #313 closed

[2015-10-12 04:42] sbesozzi commented on #301
https://github.com/sbesozzi/Etsy-Page

http://sbesozzi.github.io/Etsy-Page/

[2015-10-12 04:42] #301 closed

[2015-10-12 05:08] JefBlocker commented on #309
Repository: https://github.com/JefBlocker/whiskey
gh-pages: http://jefblocker.github.io/whiskey/

I'm not sure what I just did to shift the asides down the page, but I'll take a look at it tomorrow after I sleep on it.  I had fun doing this, though, and learned a lot.

[2015-10-12 08:16] havisk commented on #319
i realized i left the hover heart and hamburger icon out.  then when i tried to add it in.  things started messing up.

https://github.com/havisk/Etsy2

http://havisk.github.io/Etsy2/

[2015-10-12 08:16] #319 closed

[2015-10-12 10:20] itawtitawapuddytat commented on #304
link: http://itawtitawapuddytat.github.io/Etsy-recreation-2
repo: https://github.com/itawtitawapuddytat/Etsy-recreation-2
There's still a bit of work to be done on this project

[2015-10-12 10:31] JeanelM123 commented on #236
https://github.com/JeanelM123/JS-CallingAnswers

[2015-10-12 10:32] MichaelGaynor commented on #311
https://github.com/MichaelGaynor/EtsyProject

http://michaelgaynor.github.io/EtsyProject/

[2015-10-12 10:32] #311 closed

[2015-10-12 11:06] JRob1991 commented on #305
Repo: https://github.com/JRob1991/Etsy-Project
Gh-Pages: http://jrob1991.github.io/Etsy-Project/

[2015-10-12 11:12] JeanelM123 commented on #236
<!--Couldn't not sync picture? What went wrong?
<!-Inspect tool error Failed to load Normalize.css
<Works in inspect tool, no "stuff here"

[2015-10-12 11:49] vpdolan commented on #317
https://github.com/vpdolan/EstyNeat.git                 file:///Users/vinniedolan/tiy/TIYProjects/EtsyNeat/index.html

[2015-10-12 11:55] ceduncan1 commented on #312
I have a lot of work left to do, but I'm still working on it. Here's what I've got so far:

https://github.com/ceduncan1/etsy
http://ceduncan1.github.io/etsy/

[2015-10-12 12:01] jbrz commented on #302
http://jbrz.github.io/assign10.9.9b

https://github.com/jbrz/assign10.9.9b

Good news and bad news, boys.  Bad news: the thing still looks like isht.  I ain't happy with it.  I need schoolin' in how to properly float things and how to deal with things displayed in a given width (I can't figure out why the 'thumbnails' `div`is inheriting 980px width, for instance).  I guess I still just don't get b

[2015-10-12 12:27] waspnx commented on #296
repo: https://github.com/waspnx/etsy11
gh-pages: http://waspnx.github.io/etsy11/

[2015-10-12 12:59] JeanelM123 commented on #323
https://github.com/JeanelM123/Underscore-Lodash/tree/gh-pages/EtsyProject

[2015-10-12 13:00] JeanelM123 commented on #323
Need help understanding CSS and cascading.

[2015-10-12 13:00] #323 closed

[2015-10-12 13:03] #296 closed

[2015-10-12 13:15] JeanelM123 commented on #62
https://github.com/JeanelM123/GIT-Introduction/tree/gh-pages

[2015-10-12 13:15] #62 closed

[2015-10-12 13:29] taheaton commented on #308
Not sure what I've done but I can't update gh-pages although I can update the master.

hint: Updates were rejected because the tip of your current branch is behind
hint: its remote counterpart. Integrate the remote changes (e.g.
hint: 'git pull ...') before pushing again.

[2015-10-12 13:29] #308 closed

[2015-10-12 13:39] JeanelM123 commented on #91
https://github.com/JeanelM123/Ocodex-CSS-positioning-styles/tree/gh-pages

[2015-10-12 13:40] JeanelM123 commented on #91
Could not format the bottom grey line... need assistance with CSS

[2015-10-12 13:45] taheaton commented on #308
https://github.com/taheaton/Etsypage/tree/gh-pages

[2015-10-12 14:15] taheaton commented on #308
http://taheaton.github.io/Etsypage

[2015-10-12 14:21] havisk commented on #319
figured  hover out

[2015-10-12 14:26] jisaacks commented on #322
Nice work!

[2015-10-12 14:29] jisaacks commented on #319
Good job.

[2015-10-12 14:29] jisaacks commented on #318
Fantastic!

[2015-10-12 14:31] jisaacks commented on #316
Looks great!

[2015-10-12 14:37] jisaacks commented on #315
Nice!

[2015-10-12 14:39] jisaacks commented on #314
Good!!

[2015-10-12 14:45] jisaacks commented on #313
Good job.

[2015-10-12 14:46] jisaacks commented on #311
Looks good.

[2015-10-12 14:48] jisaacks commented on #310
I wasn't having any issues with the search bar. Looks good to me.

[2015-10-12 14:52] jisaacks commented on #309
Thanks Jef, this looks great so far. Focus first on fixing the javascript errors, then resubmit.

[2015-10-12 14:54] jisaacks commented on #308
What you have looks good. You are missing the pagination (pages links) on the buttom but this is close enough that I will accept it as complete.

[2015-10-12 14:57] jisaacks commented on #306
Everything if functional with no JS errors, the page looks good. Keep working on perfecting your layouts and you will be in a great place.

[2015-10-12 14:57] taheaton commented on #308
Thanks, bro.  Sorry about all the postings.  I had some git issues

[2015-10-12 14:58] jisaacks commented on #305
What you have looks great. You are missing the header and footer. Add that and you will be go to go.

[2015-10-12 14:58] jisaacks commented on #304
Thanks for turning in your progress. Please resubmit when it is closer.

[2015-10-12 14:59] jisaacks commented on #303
Superb!

[2015-10-12 15:01] jisaacks commented on #301
This looks pretty good. It is missing the hover icons, and the search bar and pagination are a little messed up. This is good enough to accept though, but if you get time you can work on fixing those issues.

[2015-10-12 15:02] jisaacks commented on #300
This is good enough for me to accept but feel free to fine tune it when you have free time.

[2015-10-12 15:07] jisaacks commented on #299
Looks great.

[2015-10-12 15:07] jisaacks commented on #298
Good job!

[2015-10-12 15:08] jisaacks commented on #296
Looks good, you forgot the pagination though.

[2015-10-12 15:09] jisaacks commented on #295
Thanks for turning in your progress. Please resubmit when you think it is close enough.

[2015-10-12 15:11] jisaacks commented on #317
It doesn't look like you created a gh-pages. Please do that and resubmit. Thanks!

[2015-10-12 15:16] jisaacks commented on #236
You have a Javascript error. You are closing the IIFE inside a parens, you have the closing one at the end but do not have the opening one at the beginning.

So the first line should be updated from: `function () {` to `(function () {`

[2015-10-12 15:22] jisaacks commented on #221
@taheaton close but you have to put a full expression on each side of the `&&` none of the logic carries over, remember this is a computer evaulating your code, not a human.

To correctly do it you would need to do:

[code]

Notice the extra `item.price`, you were very close though!!

[2015-10-12 15:52] JeanelM123 commented on #265
https://github.com/JeanelM123/JQuery/tree/gh-pages

- JQuery should be linked properly... I am having trouble getting anything to show up

[2015-10-12 16:24] twhitacre opened #324 "Assignment 12"
@amitshah86 this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #325 "Assignment 12"
@waspnx this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #326 "Assignment 12"
@jefdonmar this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #327 "Assignment 12"
@IsaacHardy this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #328 "Assignment 12"
@thedoublewolf this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #329 "Assignment 12"
@johnrae this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #330 "Assignment 12"
@sbesozzi this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #331 "Assignment 12"
@jbrz this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #332 "Assignment 12"
@charlahcodes this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #333 "Assignment 12"
@itawtitawapuddytat this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #334 "Assignment 12"
@Jrob1991 this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #335 "Assignment 12"
@shalmalidp this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #336 "Assignment 12"
@hopecrichlow this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #337 "Assignment 12"
@taheaton this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #338 "Assignment 12"
@JefBlocker this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #339 "Assignment 12"
@luketgriffith this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #340 "Assignment 12"
@MichaelGaynor this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #341 "Assignment 12"
@ceduncan1 this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #342 "Assignment 12"
@hyonakim this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #343 "Assignment 12"
@AirForcePierce this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #344 "Assignment 12"
@corifowler this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #345 "Assignment 12"
@kmooney517 this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #346 "Assignment 12"
@vpdolan this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #347 "Assignment 12"
@faircloth this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #348 "Assignment 12"
@havisk this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #349 "Assignment 12"
@BoyzieLee this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #350 "Assignment 12"
@hdannyyi this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #351 "Assignment 12"
@JesseSoldat this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 16:24] twhitacre opened #352 "Assignment 12"
@JeanelM123 this is your issue for *Assignment 12*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-12 17:03] faircloth commented on #347
http://development.tiy-andrew-oct-etsylivedata.divshot.io/
https://github.com/faircloth/etsyLiveData

[2015-10-12 17:24] JefBlocker commented on #309
JD, I don't see any js errors.  I'm receiving an error about line 7 on the index.html regarding the link to the css/main.css file, but it looks to be correct.  I did fix the formatting issues, as well.

[2015-10-12 17:24] #309 closed

[2015-10-12 18:43] jisaacks commented on #309
Jef, you are right!

[2015-10-12 19:33] JesseSoldat commented on #351
https://github.com/JesseSoldat/etsyLive
http://development.tiy-jsoldat-week04-etsylive-app.divshot.io/

[2015-10-12 19:33] #351 closed

[2015-10-12 19:37] IsaacHardy commented on #327
RIPO: https://github.com/IsaacHardy/Etsy-Results-Template
LINK: http://development.tiy-isaachardy-etsyresults-template.divshot.io/

[2015-10-12 19:37] #327 closed

[2015-10-12 19:40] kmooney517 commented on #345
https://github.com/kmooney517/liveEtsyPage
http://development.tiy-kevin-etsylivedata.divshot.io/

[2015-10-12 19:44] taheaton commented on #337
http://development.etsyapp.divshot.io/

[2015-10-12 19:44] #337 closed

[2015-10-12 19:55] waspnx commented on #325
repo: https://github.com/waspnx/etsyAPI
live page: http://development.tiy-waspnx-etsy-app.divshot.io

[2015-10-12 19:55] corifowler commented on #344
repository: https://github.com/corifowler/hufflepuff-live-data
divshot: http://development.tiy-cori-week4-hufflepuff-livedata.divshot.io/

[2015-10-12 19:55] #344 closed

[2015-10-12 19:56] #325 closed

[2015-10-12 20:09] luketgriffith commented on #339
https://github.com/luketgriffith/Betsy
http://development.betsy.divshot.io/

[2015-10-12 20:10] twhitacre commented on #62
:+1: Looks good. Thanks!

[2015-10-12 20:11] twhitacre commented on #91
@JeanelM123 it's looking really good, let us know if you need help finishing it up.

[2015-10-12 20:12] twhitacre commented on #265
@JeanelM123 can you post up a working GH Pages link?

[2015-10-12 20:15] #339 closed

[2015-10-12 20:37] thedoublewolf commented on #328
repo:  https://github.com/thedoublewolf/Etsy-the-Gathering-live-data
app:  http://development.thedoublewolf-etsy-the-gathering.divshot.io/

[2015-10-12 20:37] #328 closed

[2015-10-12 20:37] #347 closed

[2015-10-12 20:40] Johnrae commented on #329
http://development.johnrae-tiy-livedata-assignment12.divshot.io
^launched page
https://github.com/Johnrae/assignment12
^repo

closing now,  but i will continue working on the unfinished css from the weekend tonight and will push and update later

[2015-10-12 20:40] #329 closed

[2015-10-12 20:53] hyonakim commented on #342
repo-->https://github.com/hyonakim/EtsyAPI
live-->http://development.tiy-hyona-etsychappelle.divshot.io/

[2015-10-12 20:53] #342 closed

[2015-10-12 20:56] thedoublewolf commented on #328
Just to note, my hover icons stopped showing up when I hover over my items.  The mouseover/mouseout event isn't being logged to the console, so it seems the code isn't being read at all.  Needless to say, I am having issues troubleshooting this.

[2015-10-12 20:57] BoyzieLee commented on #117
... My local file looks different but this is from a previous commit. Not sure the image isn't showing up on this link...

http://boyzielee.github.io/layoutnormal.

[2015-10-12 21:11] BoyzieLee commented on #117
Here is the repo.. https://github.com/BoyzieLee/layoutnormal

[2015-10-12 21:11] BoyzieLee commented on #117
Here is the repo.... https://github.com/BoyzieLee/layoutnormal

[2015-10-12 21:11] #117 closed

[2015-10-12 21:27] AirForcePierce commented on #343
divshot

http://development.etsy-project-jontaesr.divshot.io/

repo

https://github.com/AirForcePierce/etsy-project-jontae-2

Had a couple issues that could have been resolved by using the vendor files :(

[2015-10-12 21:27] #343 closed

[2015-10-12 21:29] JefBlocker commented on #338
repository: https://github.com/JefBlocker/etsy-live-data
gh-pages: http://jefblocker.github.io/etsy-live-data/
divshot: http://development.tiy-jef-week4-app.divshot.io/

[2015-10-12 21:29] #338 closed

[2015-10-12 21:36] charlahcodes commented on #332
Repo: https://github.com/charlahcodes/etsy-page-livedata
Divshot: http://development.tiy-atlanta-charlie-etsy.divshot.io/

[2015-10-12 21:36] #332 closed

[2015-10-12 23:11] Shalmalidp commented on #335
Live Divshot link :http://development.tiy-api-etsypage-syp.divshot.io

repo: https://github.com/Shalmalidp/API-etsypage

[2015-10-12 23:11] #335 closed

[2015-10-13 01:22] #345 closed

[2015-10-13 01:31] taheaton commented on #279
http://taheaton.github.io/A10/

Here you go!!!

[2015-10-13 01:31] #279 closed

[2015-10-13 02:14] havisk commented on #348
http://development.khavis-etsy3.divshot.io/

https://github.com/havisk/Etsy3

[2015-10-13 02:14] #348 closed

[2015-10-13 05:00] sbesozzi commented on #330
https://github.com/sbesozzi/Etsy-Page-API
http://development.tiy-sarah-etsy-api.divshot.io/

[2015-10-13 05:00] #330 closed

[2015-10-13 06:05] itawtitawapuddytat commented on #333
link: http://development.tiy-projects-assignment12.divshot.io/
repo: https://github.com/itawtitawapuddytat/Etsy-Recreation-with-live-data

[2015-10-13 11:41] MichaelGaynor commented on #340
http://development.tiy-mikeg-week4-etsylive.divshot.io/

https://github.com/MichaelGaynor/EtsyLiveData

Enjoy!

[2015-10-13 11:41] #340 closed

[2015-10-13 11:43] jbrz commented on #331
http://development.jbrztiya12.divshot.io/
https://github.com/jbrz/TIYa12

In the process of reworking both this and assignment 11 to get the top section aligned correctly.  Have a slightly better handle on how display vs. float stuff works.  Struggling to figure out how to rectify it all on the page though.

[2015-10-13 12:30] hopecrichlow commented on #307
https://github.com/hopecrichlow/Etsy-Data

http://hopecrichlow.github.io/Etsy-Data/

I'm trying to change all the measurements from em to px so I can figure out the margins and the results columns.

[2015-10-13 13:06] amitshah86 commented on #324
Tim...Spencer and I were finishing up assignment 11 yesterday afternoon so i didnt get to assignment 12 quite yet. I will finish up 11 and 12 today and have both of them to you by end of the day today. Also assignment 13 for today will be worked on as well. Just a heads up. I had trouble understanding the JS part in 11 but I spent a good chunk of time with spencer and he dug deep to help me unders

[2015-10-13 13:07] ceduncan1 commented on #341
I'm really slow with CSS.  I have all the right content, but don't have the layout right.

https://github.com/ceduncan1/etsy2-a12
http://development.tiy-ceduncan-etsy-a12.divshot.io

[2015-10-13 13:07] #341 closed

[2015-10-13 13:09] vpdolan commented on #346
http://development.tiy-vpjd-estylivedata.divshot.io             git@github.com:vpdolan/Estylivedata.git

[2015-10-13 13:13] ceduncan1 commented on #341
Also, I don't think it was necessary, but I registered as an etsy developer to get my own API token.

[2015-10-13 14:57] twhitacre commented on #117
:+1: Looks good. I was able to download it, but make sure to keep your GH Pages branch up to date.

[2015-10-13 14:58] twhitacre commented on #279
:+1: Looks good! Thanks for wrapping this up!

[2015-10-13 15:16] twhitacre commented on #307
:+1: Nice work. It can use a bit of clean up on some of the detail, but overall the structure is coming along nicely.

I'll close this out but you should clean it up for your portfolio.

[2015-10-13 15:17] #91 closed

[2015-10-13 15:17] #120 closed

[2015-10-13 15:17] #149 closed

[2015-10-13 15:17] #178 closed

[2015-10-13 15:17] #207 closed

[2015-10-13 15:17] #236 closed

[2015-10-13 15:17] #265 closed

[2015-10-13 15:17] #294 closed

[2015-10-13 15:17] #352 closed

[2015-10-13 15:49] twhitacre commented on #325
:+1: Nice work... great attention to detail!

[2015-10-13 15:52] twhitacre commented on #327
:+1: Great job!

[2015-10-13 15:52] twhitacre commented on #329
:+1: Looks really good!

[2015-10-13 15:53] twhitacre commented on #328
:+1: Haha, this is EPIC! Nice work!

[2015-10-13 15:53] twhitacre commented on #330
:+1: Great job! Awesome attention to detail.

[2015-10-13 15:54] twhitacre commented on #332
:+1: Great job! Love whiskey :smile:

[2015-10-13 15:55] twhitacre commented on #331
It's getting there. I'm going to open it back up for now, but let us know when you want us to review it again.

[2015-10-13 16:17] twhitacre commented on #333
@itawtitawapuddytat can you take another look at this. The items are not loading on the page for me.

[2015-10-13 16:23] twhitacre commented on #335
:+1: Great work!

[2015-10-13 16:23] twhitacre commented on #337
:+1: Great work!

[2015-10-13 16:24] twhitacre commented on #338
:+1: Great work Jef. Just note that you no longer need to use both Divshot as well as GH Pages. Also, GH Pages won't work if your project is inside of an `/app` folder.

[2015-10-13 16:26] twhitacre commented on #339
:+1: Nice work. Great attention to detail.

[2015-10-13 16:29] twhitacre commented on #341
:+1: Site looks great. Also bonus points for getting your own API token.

[2015-10-13 17:07] twhitacre commented on #340
:+1: Looks good.

Note, that it didn't look good on my computer until I shrunk my browser down a bit. We've not talked about RWD yet, but you'll want to keep an eye on things like this.

[2015-10-13 17:08] twhitacre commented on #342
:+1: Looks good!

[2015-10-13 17:09] twhitacre commented on #343
:+1: Looks great, nice work!

[2015-10-13 17:14] twhitacre commented on #344
:+1: Great work! Nice attention to detail.

[2015-10-13 17:20] twhitacre commented on #345
:+1: Nice job. Looks awesome. :star: :warning:  <--- there was no Star Wars emoji.

[2015-10-13 17:21] hopecrichlow commented on #336
Repo
https://github.com/hopecrichlow/Etsy-Live-Data

Divshot page
http://development.tiy-hadiya-week4-etsy2live.divshot.io/

[2015-10-13 17:21] #336 closed

[2015-10-13 17:22] twhitacre commented on #346
@vpdolan it's looking good, your layout is coming together.

I'm going to re-open it, but let me know if you need help and close it again when you are ready for us to review it.

[2015-10-13 17:24] #307 closed

[2015-10-13 17:24] twhitacre commented on #336
:+1: Nice work!

[2015-10-13 17:28] twhitacre commented on #347
:+1: Looks great!

[2015-10-13 17:29] twhitacre commented on #348
:+1: Looks great! Nice work.

[2015-10-13 17:32] twhitacre commented on #351
:+1: nice work!

[2015-10-13 22:55] #312 closed

[2015-10-13 22:59] twhitacre opened #353 "Assignment 13"
@amitshah86 this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #354 "Assignment 13"
@waspnx this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #355 "Assignment 13"
@jefdonmar this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #356 "Assignment 13"
@IsaacHardy this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #357 "Assignment 13"
@thedoublewolf this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #358 "Assignment 13"
@johnrae this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #359 "Assignment 13"
@sbesozzi this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #360 "Assignment 13"
@jbrz this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #361 "Assignment 13"
@charlahcodes this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #362 "Assignment 13"
@itawtitawapuddytat this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #363 "Assignment 13"
@Jrob1991 this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #364 "Assignment 13"
@shalmalidp this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.