[2015-10-13 22:59] twhitacre opened #365 "Assignment 13"
@hopecrichlow this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #366 "Assignment 13"
@taheaton this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #367 "Assignment 13"
@JefBlocker this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #368 "Assignment 13"
@luketgriffith this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #369 "Assignment 13"
@MichaelGaynor this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #370 "Assignment 13"
@ceduncan1 this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #371 "Assignment 13"
@hyonakim this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #372 "Assignment 13"
@AirForcePierce this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #373 "Assignment 13"
@corifowler this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #374 "Assignment 13"
@kmooney517 this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #375 "Assignment 13"
@vpdolan this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #376 "Assignment 13"
@faircloth this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #377 "Assignment 13"
@havisk this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #378 "Assignment 13"
@BoyzieLee this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #379 "Assignment 13"
@hdannyyi this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 22:59] twhitacre opened #380 "Assignment 13"
@JesseSoldat this is your issue for *Assignment 13*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-13 23:00] JefBlocker commented on #367
pull request: https://github.com/taheaton/collab/pull/1

divshot:

[2015-10-13 23:02] BoyzieLee commented on #378
Divshot link: http://development.tiy-collab1-week4.divshot.io

Git Link to repository: https://github.com/BoyzieLee/Collab1

[2015-10-13 23:02] #378 closed

[2015-10-13 23:12] hopecrichlow commented on #365
Accepted pull request

https://github.com/hopecrichlow/Form-Mockup/pull/2

[2015-10-13 23:16] kmooney517 commented on #374
http://development.pair-programming-kevin-registration-form.divshot.io/
https://github.com/kmooney517/pair-programming

i also copied cori's entire repository from github and made my own repository from that clone.  I don't think that is the repository you wanted though - I am submitting the repository that was forked from Cori's original repo.  Repo, repo, repo... repo, repo, repo

[2015-10-13 23:16] #374 closed

[2015-10-13 23:18] waspnx commented on #354
divshot: http://development.tiy-waspnx-formfun-app.divshot.io
pull request: https://github.com/luketgriffith/formFun/pull/1

[2015-10-13 23:19] #354 closed

[2015-10-13 23:43] ceduncan1 commented on #370
https://github.com/itawtitawapuddytat/Pair-Programming/pull/1

[2015-10-13 23:43] #370 closed

[2015-10-14 00:52] charlahcodes commented on #361
Pull requests: https://github.com/jbrz/SignUpForm/pulls?q=is%3Apr+is%3Aclosed
Divshot: http://development.signupformjbrzchmil.divshot.io/

[2015-10-14 00:52] #361 closed

[2015-10-14 00:57] Johnrae commented on #358
https://github.com/thedoublewolf/Sign-Up-App/pull/1
^pull request link
http://development.johnrae-assignment13-signupapp.divshot.io
^divshoooootttttttt

we could not figure out how to get the font-awesome to work in the app :(

[2015-10-14 00:57] #358 closed

[2015-10-14 00:58] thedoublewolf commented on #357
pull request: https://github.com/thedoublewolf/Sign-Up-App/pull/1
divshot:  http://development.thedoublewolf-sign-up-app.divshot.io

[2015-10-14 00:58] #357 closed

[2015-10-14 01:05] JesseSoldat commented on #380
http://development.tiy-jesse-sept-week4-form-app.divshot.io/

https://github.com/JesseSoldat/WebForm

[2015-10-14 01:05] #380 closed

[2015-10-14 01:28] sbesozzi commented on #359
https://github.com/sbesozzi/Web-App/pull/1/commits
http://development.tiy-sarah-web-app.divshot.io

[2015-10-14 01:28] #359 closed

[2015-10-14 01:37] luketgriffith commented on #368
http://development.formfun.divshot.io
https://github.com/luketgriffith/formFun/pull/1

[2015-10-14 01:37] #368 closed

[2015-10-14 01:39] IsaacHardy commented on #356
pullRequest: https://github.com/jefdonmar/SignUpWebApp/pull/1
Link: http://development.sign-up-web-app.divshot.io/

[2015-10-14 01:39] #356 closed

[2015-10-14 01:44] taheaton commented on #366
http://development.tiy-jb-th-collab.divshot.io/

This is the website for Jef Blocker and Tommy Heaton's app!!!

[2015-10-14 01:44] #366 closed

[2015-10-14 01:54] itawtitawapuddytat commented on #362
pull request accepted:
https://github.com/itawtitawapuddytat/Pair-Programming/pull/1

[2015-10-14 01:54] #362 closed

[2015-10-14 02:05] AirForcePierce commented on #372
Me and Hadiya both worked on this assignment

git pull requests

https://github.com/hopecrichlow/Form-Mockup/pull/3

divshot

http://development.jpsr-hadiya-web-form.divshot.io/

[2015-10-14 02:05] #372 closed

[2015-10-14 02:19] JefBlocker commented on #367
divshot: http://development.tiy-jb-th-collab.divshot.io/

[2015-10-14 02:19] #367 closed

[2015-10-14 02:20] hopecrichlow commented on #365
https://github.com/hopecrichlow/Form-Mockup/pull/3

http://development.jpsr-hadiya-web-form.divshot.io/

[2015-10-14 02:20] #365 closed

[2015-10-14 02:56] JRob1991 commented on #363
Repo: https://github.com/JRob1991/Web-App
Divshot: http://development.web-app-jrob.divshot.io/

[2015-10-14 02:56] #363 closed

[2015-10-14 03:52] jbrz commented on #360
https://github.com/jbrz/SignUpForm

Pull Reqs
https://github.com/jbrz/SignUpForm/pulls?q=is%3Apr+is%3Aclosed

Deploy
development.signupformjbrzchmil.divshot.io

@JD - we found a way to make the selector look different.  We cheated one of its params.

#Victory.

[2015-10-14 03:52] #360 closed

[2015-10-14 03:53] havisk commented on #377
http://development.koolwebform.divshot.io/

https://github.com/havisk/WebForm

[2015-10-14 03:53] #377 closed

[2015-10-14 04:21] Shalmalidp commented on #364
live divshot :http://development.tiy-hyona-web-app.divshot.io/

repo : https://github.com/Shalmalidp/web-app

[2015-10-14 04:21] #364 closed

[2015-10-14 04:21] hyonakim commented on #371
link to my request --> https://github.com/Shalmalidp/web-app/pull/3#event-434770843
app --> http://development.tiy-hyona-web-app.divshot.io/

[2015-10-14 04:21] #371 closed

[2015-10-14 11:18] corifowler commented on #373
Repository: https://github.com/corifowler/pair-programming
DivShot: http://development.tiy-cori-week4-pair-programming.divshot.io/

[2015-10-14 11:18] #373 closed

[2015-10-14 11:43] MichaelGaynor commented on #369
https://github.com/MichaelGaynor/Collab1/pull/1#event-434585021

http://development.tiy-collab1-week4.divshot.io/

[2015-10-14 11:43] #369 closed

[2015-10-14 11:50] faircloth commented on #376
https://github.com/faircloth/andrewDannyForm
http://development.tiy-andrew-danny-form.divshot.io/

[2015-10-14 12:30] BoyzieLee commented on #320
Git page: http://boyzielee.github.io/EtsyPage3.
Repository Page: https://github.com/BoyzieLee/EtsyPage3
... had problems with the divshot push... I'll load this when resolved.

I'm turning this is based on our deadline. I know its not up to par though... Need some help/review with JSON.

[2015-10-14 12:37] BoyzieLee commented on #291
Github: http://boyzielee.github.io/Accordion.

Repository: https://github.com/BoyzieLee/Accordion

[2015-10-14 12:45] vpdolan commented on #375
http://development.tiy-vpjd-assignment13.divshot.io

https://github.com/amitshah86/Assignment13/pull/1

[2015-10-14 12:45] #375 closed

[2015-10-14 13:08] jisaacks commented on #376
I don't see a pull request? was one made?

[2015-10-14 13:08] jefdonmar commented on #355
https://github.com/jefdonmar/SignUpWebApp/pull/1

[2015-10-14 14:13] amitshah86 commented on #353
https://github.com/amitshah86/Assignment13

[2015-10-14 14:13] #353 closed

[2015-10-14 15:51] #355 closed

[2015-10-14 16:57] hdannyyi commented on #379
https://github.com/faircloth/andrewDannyForm/pull/1

[2015-10-14 16:57] #379 closed

[2015-10-14 21:45] hdannyyi commented on #176
https://github.com/hdannyyi/calculator

[2015-10-14 21:45] #176 closed

[2015-10-15 14:47] faircloth commented on #376
http://development.andrew-danny-form-two.divshot.io
https://github.com/faircloth/andrewDannyForm

We had not, sorry. Had a hard time coordinating but have learned sense! Thanks

[2015-10-15 14:47] #376 closed

[2015-10-16 13:47] twhitacre opened #381 "Assignment 14"
@amitshah86 this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #382 "Assignment 14"
@waspnx this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #383 "Assignment 14"
@jefdonmar this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #384 "Assignment 14"
@IsaacHardy this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #385 "Assignment 14"
@thedoublewolf this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #386 "Assignment 14"
@johnrae this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #387 "Assignment 14"
@sbesozzi this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #388 "Assignment 14"
@jbrz this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #389 "Assignment 14"
@charlahcodes this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #390 "Assignment 14"
@itawtitawapuddytat this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #391 "Assignment 14"
@Jrob1991 this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #392 "Assignment 14"
@shalmalidp this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #393 "Assignment 14"
@hopecrichlow this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #394 "Assignment 14"
@taheaton this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #395 "Assignment 14"
@JefBlocker this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #396 "Assignment 14"
@luketgriffith this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #397 "Assignment 14"
@MichaelGaynor this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #398 "Assignment 14"
@ceduncan1 this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #399 "Assignment 14"
@hyonakim this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #400 "Assignment 14"
@AirForcePierce this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #401 "Assignment 14"
@corifowler this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #402 "Assignment 14"
@kmooney517 this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #403 "Assignment 14"
@vpdolan this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #404 "Assignment 14"
@faircloth this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #405 "Assignment 14"
@havisk this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #406 "Assignment 14"
@BoyzieLee this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #407 "Assignment 14"
@hdannyyi this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 13:47] twhitacre opened #408 "Assignment 14"
@JesseSoldat this is your issue for *Assignment 14*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-16 19:07] charlahcodes commented on #389
Repo: https://github.com/luketgriffith/TIY-Team5

[2015-10-18 16:27] charlahcodes commented on #389
Divshot: http://development.tiy-group-project-team5.divshot.io/

[2015-10-18 16:27] #389 closed

[2015-10-18 18:20] itawtitawapuddytat commented on #390
divshot link: http://development.tiy-group-project-team5.divshot.io/

[2015-10-18 18:20] #390 closed

[2015-10-18 19:54] Johnrae commented on #386
http://development.tiy-group-project-team5.divshot.io/
^published page
https://github.com/luketgriffith/TIY-Team5
^github repo for the whole project

[2015-10-18 19:54] #386 closed

[2015-10-18 20:34] IsaacHardy commented on #384
RIPO: https://github.com/jefdonmar/yumEats

[2015-10-18 20:34] #384 closed

[2015-10-18 20:54] kmooney517 commented on #402
http://development.iron-pints.divshot.io/
https://github.com/ceduncan1/iron-pints

I got a version of the hover effects on the menu to work using scss but it is not perfect - the group is still working on this and may update later.  But, sadly, I will be on a plane for the rest of the day into the late evening and wont be on my computer again until class time tomorrow.  I figured I'd go ahead and

[2015-10-18 21:40] jefdonmar commented on #383
https://github.com/jefdonmar/yumEats

[2015-10-18 21:40] #383 closed

[2015-10-18 23:37] corifowler commented on #401
Group Repo: https://github.com/jefdonmar/yumEats/tree/master

[2015-10-18 23:37] #401 closed

[2015-10-18 23:44] #402 closed

[2015-10-19 00:23] luketgriffith commented on #396
https://github.com/luketgriffith/TIY-Team5
http://development.tiy-group-project-team5.divshot.io/

[2015-10-19 00:23] #396 closed

[2015-10-19 01:47] thedoublewolf commented on #385
repo: https://github.com/thedoublewolf/8-Bite
app: http://development.teamfoodtechies-eightbite.divshot.io/#

[2015-10-19 01:47] #385 closed

[2015-10-19 02:32] sbesozzi commented on #387
https://github.com/ceduncan1/iron-pints
http://development.tiy-sarah-iron-pints.divshot.io/

[2015-10-19 02:32] sbesozzi commented on #387
https://github.com/ceduncan1/iron-pints
http://development.tiy-sarah-iron-pints.divshot.io/

[2015-10-19 02:32] #387 closed

[2015-10-19 02:39] JefBlocker commented on #395
Divshot: http://development.teamfoodtechies-eightbite.divshot.io/

GitHub repo: https://github.com/thedoublewolf/8-Bite

[2015-10-19 02:39] #395 closed

[2015-10-19 03:03] Shalmalidp commented on #392
Sorry everything was working nicely and something broke ...we don'tnt know what the problem is are js is in but nothing appears on the browser, we need your help to sort it out

Sent via the Samsung GALAXY S®4, an AT&T 4G LTE smartphone

-------- Original message --------
From: Tim Whitacre <notifications@github.com>
Date: 10/16/2015  9:47 AM  (GMT-05:00)
To: tiy-atl-js-sept-2015/Assignments <Assi

[2015-10-19 03:20] havisk commented on #405
https://github.com/ceduncan1/iron-pints

http://development.iron-pints-team-awesome.divshot.io/

[2015-10-19 03:20] #405 closed

[2015-10-19 03:23] waspnx commented on #382
repo: https://github.com/hopecrichlow/Restaurant

[2015-10-19 03:48] hyonakim commented on #399
The 8-bite Pub brought to you by the foodtechies:
live --> http://development.teamfoodtechies-eightbite.divshot.io/#
repo --> https://github.com/thedoublewolf/8-Bite

[2015-10-19 03:48] #399 closed

[2015-10-19 09:13] Shalmalidp commented on #392
REPO MASTER : https://github.com/hopecrichlow/Restaurant/commits/master
REPO SHALMALIDEV BRANCH : https://github.com/hopecrichlow/Restaurant/commits/shalmalidev (INCOMPLETE)

[2015-10-19 12:10] faircloth commented on #404
https://github.com/jbrz/TIYaGroupProj1

[2015-10-19 12:53] faircloth commented on #404
https://github.com/faircloth/TIYaGroupProj1/commits/master

[2015-10-19 12:53] corifowler commented on #401
Divshot link: http://development.tiy-yumeats-group-project.divshot.io/

[2015-10-19 12:56] Shalmalidp commented on #392
http://development.tiy-duck-face.divshot.io

[2015-10-19 12:57] JesseSoldat commented on #408
http://development.tiy-duck-face.divshot.io
https://github.com/hopecrichlow/Restaurant/tree/jessebranch

[2015-10-19 12:57] #408 closed

[2015-10-19 12:59] Shalmalidp commented on #392
REPO : https://github.com/hopecrichlow/Restaurant/tree/jessebranch

[2015-10-19 12:59] #392 closed

[2015-10-19 12:59] amitshah86 commented on #381
https://github.com/amitshah86

[2015-10-19 13:00] amitshah86 commented on #381
http://development.tiy-yumeats-group-project.divshot.io/

[2015-10-19 13:00] #381 closed

[2015-10-19 13:00] hopecrichlow commented on #393
http://development.tiy-duck-face.divshot.io
https://github.com/hopecrichlow/Restaurant/tree/jessebranch

[2015-10-19 13:02] hdannyyi commented on #407
https://github.com/thedoublewolf/8-Bite

[2015-10-19 13:02] #407 closed

[2015-10-19 13:03] faircloth commented on #404
http://development.tiyagroupproj1.divshot.io/

[2015-10-19 13:03] #404 closed

[2015-10-19 13:03] MichaelGaynor commented on #397
https://github.com/MichaelGaynor/TIYaGroupProj1

https://github.com/jbrz/TIYaGroupProj1

http://development.tiyagroupproj1.divshot.io/

I hope you enjoy the fine dining experience

[2015-10-19 13:03] #397 closed

[2015-10-19 13:05] BoyzieLee commented on #406
My Group Project team: Josh Brzinski, Andrew Faircloth, Michael Gaynor, Boyzie Mathis

Link to the group leads Repository: https://github.com/jbrz/TIYaGroupProj1
link to my Repository: https://github.com/BoyzieLee/TIYaGroupProj1
DivShop link: http://development.tiyagroupproj1.divshot.io/

[2015-10-19 13:05] #406 closed

[2015-10-19 13:05] hdannyyi commented on #407
http://development.teamfoodtechies-eightbite.divshot.io/#

[2015-10-19 13:05] jefdonmar commented on #383
http://development.tiy-yumeats-group-project.divshot.io/

[2015-10-19 13:06] #382 closed

[2015-10-19 13:09] jbrz commented on #388
http://v1.development.tiyagroupproj1.divshot.io/

Main Repo (mine):
https://github.com/jbrz/TIYaGroupProj1

Pull Requests from Team Members (Andrew, Boyzie, Michael)
https://github.com/jbrz/TIYaGroupProj1/pulls?q=is%3Apr+is%3Aclosed

[2015-10-19 13:09] #388 closed

[2015-10-19 13:49] IsaacHardy commented on #384
Link (incase it's needed): http://development.tiy-yumeats-group-project.divshot.io/

[2015-10-19 17:49] MichaelGaynor commented on #282
https://github.com/MichaelGaynor/JS-Accordion/settings

I have the new version up on the gh-pages branch, but the github pages isnt updating

[2015-10-19 17:49] #282 closed

[2015-10-19 17:55] JefBlocker commented on #164
I pushed the revised file to gh-pages, which includes a working calculator.

[2015-10-19 17:55] #164 closed

[2015-10-19 18:07] MichaelGaynor commented on #282
http://michaelgaynor.github.io/JS-Accordion/

Okay, it's actually working now, just a suuuuper long delay before it loaded

[2015-10-19 19:05] taheaton commented on #394
http://development.tjvj-group-tiy.divshot.io/

This is our group project url

[2015-10-19 19:05] #394 closed

[2015-10-19 20:32] #391 closed

[2015-10-19 20:32] #393 closed

[2015-10-19 20:32] #398 closed

[2015-10-19 20:32] #400 closed

[2015-10-19 20:32] #403 closed

[2015-10-19 20:33] twhitacre commented on #164
:+1: Great job Jef

[2015-10-19 20:36] jisaacks commented on #302
remember to close this out so I know to look at it.

[2015-10-19 20:37] twhitacre commented on #176
@hdannyyi - looks good, I'll go ahead and mark it closed - but make sure to create a `gh-pages` branch.

[2015-10-19 20:38] twhitacre commented on #291
@BoyzieLee can you take another look at it - nothing seems to be working for me.

[2015-10-19 20:40] twhitacre commented on #312
:+1: Nice work. There could be a little more detail added, but layout looks solid.

[2015-10-19 20:41] twhitacre commented on #320
Getting close - at this point the next piece I would work on is pulling in the data and getting that on the page.

[2015-10-19 20:58] twhitacre commented on #282
:+1: Great job!

[2015-10-20 04:05] JefBlocker commented on #193
repository: https://github.com/JefBlocker/JS-intro

gh-pages: http://jefblocker.github.io/JS-intro/

[2015-10-20 04:05] #193 closed

[2015-10-20 08:19] BoyzieLee commented on #291
revised accordion:
gh-pages: http://boyzielee.github.io/Accordion/#one
repository: https://github.com/BoyzieLee/Accordion

[2015-10-20 08:19] #291 closed

[2015-10-20 18:31] twhitacre opened #409 "Assignment 15"
@amitshah86 this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #410 "Assignment 15"
@waspnx this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #411 "Assignment 15"
@jefdonmar this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #412 "Assignment 15"
@IsaacHardy this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #413 "Assignment 15"
@thedoublewolf this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #414 "Assignment 15"
@johnrae this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #415 "Assignment 15"
@sbesozzi this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #416 "Assignment 15"
@jbrz this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #417 "Assignment 15"
@charlahcodes this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #418 "Assignment 15"
@itawtitawapuddytat this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #419 "Assignment 15"
@Jrob1991 this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #420 "Assignment 15"
@shalmalidp this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #421 "Assignment 15"
@hopecrichlow this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #422 "Assignment 15"
@taheaton this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #423 "Assignment 15"
@JefBlocker this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #424 "Assignment 15"
@luketgriffith this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #425 "Assignment 15"
@MichaelGaynor this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #426 "Assignment 15"
@ceduncan1 this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #427 "Assignment 15"
@hyonakim this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #428 "Assignment 15"
@AirForcePierce this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #429 "Assignment 15"
@corifowler this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #430 "Assignment 15"
@kmooney517 this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #431 "Assignment 15"
@vpdolan this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:31] twhitacre opened #432 "Assignment 15"
@faircloth this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:32] twhitacre opened #433 "Assignment 15"
@havisk this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:32] twhitacre opened #434 "Assignment 15"
@BoyzieLee this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:32] twhitacre opened #435 "Assignment 15"
@hdannyyi this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:32] twhitacre opened #436 "Assignment 15"
@JesseSoldat this is your issue for *Assignment 15*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-20 18:34] IsaacHardy commented on #412
RIPO: https://github.com/IsaacHardy/Constructor-Assignment
LINK: http://rude-market.surge.sh/

[2015-10-20 18:34] #412 closed

[2015-10-20 18:38] faircloth commented on #432
Repo: https://github.com/faircloth/Constructor-Assignment
Surge: cruel-giants.surge.sh

[2015-10-20 18:38] #432 closed

[2015-10-20 18:38] faircloth commented on #432
http://cruel-giants.surge.sh

[2015-10-20 18:45] kmooney517 commented on #430
dead-mountain.surge.sh

https://github.com/kmooney517/constructors1

[2015-10-20 18:45] #430 closed

[2015-10-20 18:51] ceduncan1 commented on #426
https://github.com/ceduncan1/Constructor-Assignment
ceduncan_tiy_constructor-assignment.surge.sh

[2015-10-20 18:51] #426 closed

[2015-10-20 19:01] Johnrae commented on #414
http://johnrae-aka-thunder-pants.surge.sh/
^page
https://github.com/Johnrae/Constructor-Assignment
^repo

[2015-10-20 19:01] #414 closed

[2015-10-20 19:03] AirForcePierce commented on #428
https://github.com/AirForcePierce/Constructor-Assignment

Repo

pushy-feast.surge.sh

Surge!!!!!!!!!!!!!!

[2015-10-20 19:03] #428 closed

[2015-10-20 19:03] MichaelGaynor commented on #425
https://github.com/MichaelGaynor/Constructor-Assignment/tree/MikeDev

understood-fruit.surge.sh

I understood this fruit

[2015-10-20 19:03] #425 closed

[2015-10-20 19:10] Shalmalidp commented on #420
REPO : https://github.com/Shalmalidp/Constructor-Assignment

SURGE :aboard-beginner.surge.sh

[2015-10-20 19:10] #420 closed

[2015-10-20 19:12] JesseSoldat commented on #436
http://jessesoldat.surge.sh/
https://github.com/JesseSoldat/Constructor-Assignment

[2015-10-20 19:12] #436 closed

[2015-10-20 19:16] thedoublewolf commented on #413
repo:  https://github.com/thedoublewolf/Constructor-Assignment
deployed:  http://aspiring-store.surge.sh/

[2015-10-20 19:16] #413 closed

[2015-10-20 19:17] corifowler commented on #429
Repository: https://github.com/corifowler/Constructor-Assignment
SURGE! : http://boundless-noise.surge.sh/

[2015-10-20 19:17] #429 closed

[2015-10-20 19:26] hyonakim commented on #427
repo -->https://github.com/hyonakim/Constructor-Assignment
surge -->heavenly-cherries.surge.sh

[2015-10-20 19:26] #427 closed

[2015-10-20 19:35] vpdolan commented on #431
git@github.com:vpdolan/Constructor-Assignment.git

[2015-10-20 19:35] #431 closed

[2015-10-20 19:40] sbesozzi commented on #415
https://github.com/sbesozzi/Constructor-Assignment/commits/master
http://tiy.sarah.constructor.assignment.surge.sh/

[2015-10-20 19:40] #415 closed

[2015-10-20 19:46] itawtitawapuddytat commented on #418
repo: https://github.com/itawtitawapuddytat/Constructor-Assignment/tree/master/app/js
surge: panoramic-crown.surge.sh

[2015-10-20 19:46] #418 closed

[2015-10-20 19:50] charlahcodes commented on #417
Repo: https://github.com/charlahcodes/Constructor-Assignment
SURGE: http://sick-stomach.surge.sh/

[2015-10-20 19:50] #417 closed

[2015-10-20 19:56] hopecrichlow commented on #421
Repo
https://github.com/hopecrichlow/Constructor-Assignment

[2015-10-20 20:00] hopecrichlow commented on #421
Deployed surge site
constructor-boss.surge.sh

[2015-10-20 20:00] #421 closed

[2015-10-20 20:18] hdannyyi commented on #435
real-afternoon.surge.sh

https://github.com/hdannyyi/Constructor-Assignment

[2015-10-20 20:18] #435 closed

[2015-10-20 20:47] waspnx commented on #410
surge: screeching-army.surge.sh
repo: https://github.com/waspnx/Constructor-Assignment

[2015-10-20 20:48] #410 closed

[2015-10-20 21:02] JefBlocker commented on #423
Repository: https://github.com/JefBlocker/Constructor-Assignment/tree/gh-pages

I successfully uploaded my assignment to Surge per the terminal, but I'm receiving a 404 error for both links.

Surge: disillusioned-egg.surge.sh
Surge: http://hideous-value.surge.sh/

[2015-10-20 21:02] #423 closed

[2015-10-20 21:15] amitshah86 commented on #409
https://github.com/amitshah86/Constructor-Assignment

[2015-10-20 21:20] amitshah86 commented on #409
http://wry-comfort.surge.sh/

[2015-10-20 21:20] #409 closed

[2015-10-20 21:29] vpdolan commented on #288
git@github.com:vpdolan/Accordion.git

vinnies-accordion.surge.sh

[2015-10-20 21:29] #288 closed

[2015-10-20 21:56] BoyzieLee commented on #434
Surge link: http://exultant-friend.surge.sh/

Repository Link: https://github.com/BoyzieLee/Constructor-Assignment

[2015-10-20 21:56] #434 closed

[2015-10-21 01:12] luketgriffith commented on #424
https://github.com/luketgriffith/Constructor-Assignment
cold-acoustics.surge.sh

[2015-10-21 01:12] #424 closed

[2015-10-21 01:54] taheaton commented on #422
https://github.com/taheaton/Constructor-Assignment

voiceless-oil.surge.sh

[2015-10-21 02:16] havisk commented on #433
https://github.com/havisk/Constructor-Assignment

kool-constructor.surge.sh

[2015-10-21 02:16] #433 closed

[2015-10-21 03:24] JRob1991 commented on #419
Surge: past-scene.surge.sh
Repo: https://github.com/JRob1991/Constructor-Assignment

[2015-10-21 05:51] jbrz commented on #416
ok so i went and looked at what some other people did for dog.hungry, but I'm not sure I understand why an `||` statement doesn't work - doesn't sadie's .hungry being explicitly defined override the OR statement?

https://github.com/jbrz/Constructor-Assignment

[2015-10-21 05:54] #416 closed

[2015-10-21 10:49] jefdonmar commented on #411
for some reason... my surge is not working/ showing the work that i did in the console
https://github.com/jefdonmar/Constructor-Assignment/tree/jeff-dev

I want to get that to work and then I will close this assignment

[2015-10-21 13:12] jefdonmar commented on #411
I need to redo this... please don't close need to fix gulp stuff

[2015-10-21 13:40] jefdonmar commented on #411
Soooo.. I found out that my code was right... i just did not do npm in stall and had a ton of issues.. here are the appropriate links

jefdonmar.surge.sh

https://github.com/jefdonmar/Constructor-Assignment

apologies for all of the notifications

[2015-10-21 13:40] #411 closed

[2015-10-21 16:24] taheaton commented on #192
Completed the exercises
http://taheaton.github.io/A7
https://github.com/taheaton/A7/tree/gh-pages

[2015-10-21 16:24] #192 closed

[2015-10-21 18:00] jbrz commented on #416
OK, tim explained everything.

Proper code is
``` this.hungry = (options.hungry !== undefined) ? obj.hungry : true; ```
Same should be applied to Dog.status, though for this assignment, didn't make a difference.

I can re-push if you want, dunno if relevant.

[2015-10-22 01:59] twhitacre opened #437 "Assignment 16"
@amitshah86 this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #438 "Assignment 16"
@waspnx this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #439 "Assignment 16"
@jefdonmar this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #440 "Assignment 16"
@IsaacHardy this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #441 "Assignment 16"
@thedoublewolf this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #442 "Assignment 16"
@johnrae this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #443 "Assignment 16"
@sbesozzi this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #444 "Assignment 16"
@jbrz this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #445 "Assignment 16"
@charlahcodes this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #446 "Assignment 16"
@itawtitawapuddytat this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #447 "Assignment 16"
@Jrob1991 this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #448 "Assignment 16"
@shalmalidp this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #449 "Assignment 16"
@hopecrichlow this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #450 "Assignment 16"
@taheaton this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #451 "Assignment 16"
@JefBlocker this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #452 "Assignment 16"
@luketgriffith this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #453 "Assignment 16"
@MichaelGaynor this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #454 "Assignment 16"
@ceduncan1 this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #455 "Assignment 16"
@hyonakim this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #456 "Assignment 16"
@AirForcePierce this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #457 "Assignment 16"
@corifowler this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #458 "Assignment 16"
@kmooney517 this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #459 "Assignment 16"
@vpdolan this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #460 "Assignment 16"
@faircloth this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #461 "Assignment 16"
@havisk this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #462 "Assignment 16"
@BoyzieLee this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #463 "Assignment 16"
@hdannyyi this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 01:59] twhitacre opened #464 "Assignment 16"
@JesseSoldat this is your issue for *Assignment 16*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 02:02] JefBlocker commented on #451
Surge: clear-street.surge.sh

GitHub: https://github.com/JefBlocker/javascript-koans

[2015-10-22 02:08] sbesozzi commented on #443
https://github.com/sbesozzi/javascript-koans
http://tiy.sarah.javascript-koans.surge.sh/

[2015-10-22 02:08] #443 closed

[2015-10-22 02:08] luketgriffith commented on #452
grumpy-lake.surge.sh
https://github.com/luketgriffith/javascript-koans/tree/completed

[2015-10-22 02:08] #452 closed

[2015-10-22 02:10] faircloth commented on #460
- Repo: https://github.com/faircloth/javascript-koans/commits/completed
- Surge: http://crowded-soap.surge.sh/

[2015-10-22 02:10] #460 closed

[2015-10-22 02:12] hyonakim commented on #455
repo --> https://github.com/hyonakim/javascript-koans
surge --> jobless-houses.surge.sh

[2015-10-22 02:12] #455 closed

[2015-10-22 02:31] corifowler commented on #457
Repository: https://github.com/corifowler/javascript-koans

SURGE: http://ajar-lake.surge.sh/

[2015-10-22 02:31] #457 closed

[2015-10-22 02:32] thedoublewolf commented on #441
branch:  https://github.com/thedoublewolf/javascript-koans/tree/completed
deployed:  http://unequaled-frog.surge.sh/

[2015-10-22 02:32] #441 closed

[2015-10-22 02:43] IsaacHardy commented on #440
RIPO: https://github.com/IsaacHardy/javascript-koans
LINK: http://plastic-kiss.surge.sh/

[2015-10-22 02:43] #440 closed

[2015-10-22 03:42] kmooney517 commented on #458
https://github.com/kmooney517/javascript-koans/tree/completed
http://afraid-minister.surge.sh/

[2015-10-22 03:42] #458 closed

[2015-10-22 04:49] hopecrichlow commented on #449
https://github.com/hopecrichlow/javascript-koans/tree/completed

[2015-10-22 05:06] Johnrae commented on #442
https://github.com/Johnrae/javascript-koans
Repo^^^
http://development.java-cones-johnnyboi.divshot.io/
deployed page^^^^

[2015-10-22 05:06] #442 closed

[2015-10-22 06:03] havisk commented on #461
https://github.com/havisk/javascript-koans/tree/completed

[2015-10-22 06:09] #461 closed

[2015-10-22 08:49] jefdonmar commented on #439
https://github.com/jefdonmar/javascript-koans/tree/completed

[2015-10-22 09:19] Shalmalidp commented on #448
mundane-show.surge.sh

[2015-10-22 09:54] Shalmalidp commented on #448
REPO : https://github.com/Shalmalidp/javascript-koans/tree/master/koans

SURGE : mundane-show.surge.sh

[2015-10-22 09:54] #448 closed

[2015-10-22 10:18] itawtitawapuddytat commented on #446
surge: http://distinct-skirt.surge.sh/
repo: https://github.com/itawtitawapuddytat/javascript-koans

[2015-10-22 10:18] #446 closed

[2015-10-22 11:38] JesseSoldat commented on #464
http://jessesoldat1.surge.sh/
https://github.com/JesseSoldat/javascript-koans

almost enlightenment...

[2015-10-22 11:40] charlahcodes commented on #445
Repo: https://github.com/charlahcodes/javascript-koans
Surge: fluffy-fight.surge.sh

[2015-10-22 11:40] #445 closed

[2015-10-22 12:15] vpdolan commented on #201
git@github.com:vpdolan/jsexercises.git

[2015-10-22 12:28] jbrz commented on #444
https://github.com/jbrz/javascript-koans/tree/completed/koans
Keeps telling me union isn't a function. [WHICH IS WEIRD, BECAUSE I SWEAR IT IS](http://underscorejs.org/#union)

pricey-police.surge.sh

[2015-10-22 12:28] AirForcePierce commented on #456
Repo

https://github.com/AirForcePierce/javascript-koans/tree/completed

Surge(Not the drink)

http://decisive-top.surge.sh

[2015-10-22 12:28] #456 closed

[2015-10-22 12:32] vpdolan commented on #230
https://github.com/vpdolan/JSAssignmentOct1

[2015-10-22 12:54] vpdolan commented on #459
git@github.com:vpdolan/javascript-koans.git          wretched-team.surge.sh

[2015-10-22 13:01] amitshah86 commented on #437
http://sudden-chicken.surge.sh/

[2015-10-22 13:02] amitshah86 commented on #437
https://github.com/amitshah86/Constructor-Assignment

[2015-10-22 13:02] #437 closed

[2015-10-22 13:11] waspnx commented on #438
surge: shy-zephyr.surge.sh
repo: https://github.com/waspnx/javascript-koans

[2015-10-22 13:15] JRob1991 commented on #447
Repo: https://github.com/JRob1991/javascript-koans

Surge: http://shut-crown.surge.sh/

[2015-10-22 13:15] #447 closed

[2015-10-22 13:17] ceduncan1 commented on #454
https://github.com/ceduncan1/javascript-koans
http://ced_tiy_koans.surge.sh/

[2015-10-22 13:17] #454 closed

[2015-10-22 13:28] taheaton commented on #450
https://github.com/taheaton/javascript-koans/tree/completed

[2015-10-22 16:55] twhitacre opened #465 "Assignment 17"
@amitshah86 this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #466 "Assignment 17"
@waspnx this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #467 "Assignment 17"
@jefdonmar this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #468 "Assignment 17"
@IsaacHardy this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #469 "Assignment 17"
@thedoublewolf this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #470 "Assignment 17"
@johnrae this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #471 "Assignment 17"
@sbesozzi this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #472 "Assignment 17"
@jbrz this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #473 "Assignment 17"
@charlahcodes this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #474 "Assignment 17"
@itawtitawapuddytat this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #475 "Assignment 17"
@Jrob1991 this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #476 "Assignment 17"
@shalmalidp this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #477 "Assignment 17"
@hopecrichlow this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #478 "Assignment 17"
@taheaton this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #479 "Assignment 17"
@JefBlocker this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #480 "Assignment 17"
@luketgriffith this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #481 "Assignment 17"
@MichaelGaynor this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #482 "Assignment 17"
@ceduncan1 this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #483 "Assignment 17"
@hyonakim this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #484 "Assignment 17"
@AirForcePierce this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #485 "Assignment 17"
@corifowler this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #486 "Assignment 17"
@kmooney517 this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #487 "Assignment 17"
@vpdolan this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #488 "Assignment 17"
@faircloth this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #489 "Assignment 17"
@havisk this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #490 "Assignment 17"
@BoyzieLee this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #491 "Assignment 17"
@hdannyyi this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 16:55] twhitacre opened #492 "Assignment 17"
@JesseSoldat this is your issue for *Assignment 17*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-22 18:23] hopecrichlow commented on #449
http://hopecrichlow.github.io/javascript-koans.

[2015-10-22 18:23] #449 closed

[2015-10-23 03:16] vpdolan commented on #259
file:///Users/vinniedolan/tiy/TIYProjects/assign9hexclock/index.html       git@github.com:vpdolan/Assign9hexclock.git

[2015-10-23 14:13] twhitacre commented on #192
:+1: Looks good.

The `gh-pages` branch wasn't deployed for me, but I was able to look at the code and see it complete. Good work.

[2015-10-23 14:14] twhitacre commented on #193
:+1: Looks good Jef!

[2015-10-23 14:16] twhitacre commented on #201
@vpdolan I see the first `excercises-1.js` problems completed, but am not seeing the `excercises-2.js` done.

[2015-10-23 14:18] twhitacre commented on #230
@vpdolan the CSS/HTML looks great, but it looks like you have a JS error that is preventing the data to be written to the page.

The ones you have done though, are looking really good. Let me know if you need help with some of the other ones!

[2015-10-23 14:25] twhitacre commented on #259
:+1: Looks great - nice job.

Make sure to put a link to your actual repo - it will look like this: `https://github.com/vpdolan/Assign9hexclock` - the link you shared is if I wanted to clone it.

[2015-10-23 14:26] twhitacre commented on #288
:+1: Looks good!

[2015-10-23 14:26] twhitacre commented on #291
:+1: Nice job - different with the smaller tabs, but fun and still gets the point across.

[2015-10-23 14:27] twhitacre commented on #409
:+1: Great work!

[2015-10-23 14:27] twhitacre commented on #411
:+1: Great work!

[2015-10-23 14:28] twhitacre commented on #410
:+1: Great work!

Like the link to the repo :smile:

[2015-10-23 14:28] twhitacre commented on #413
:+1: Great work!

[2015-10-23 14:28] twhitacre commented on #412
:+1: Great work!

[2015-10-23 14:29] twhitacre commented on #415
:+1: Great work!

[2015-10-23 14:32] twhitacre commented on #414
:+1: Great job. :+1: :+1: for the Surge URL

[2015-10-23 14:34] twhitacre commented on #416
@jbrz no worries - yeah, we talked about that and since you know it I'll mark this closed.

:+1: Great work!

[2015-10-23 14:35] twhitacre commented on #417
:+1: Great work!

[2015-10-23 14:35] twhitacre commented on #418
:+1:  Great work!

[2015-10-23 14:36] twhitacre commented on #419
@JRob1991 Let me know if you need some assistance with this. The deployed version has some JS errors on it.

[2015-10-23 14:36] twhitacre commented on #420
:+1: Great work!

[2015-10-23 14:39] twhitacre commented on #421
:+1: Great work!

[2015-10-23 14:40] twhitacre commented on #422
@taheaton The deployed `surge` version doesn't seem to be working - can you see if you can get that fixed?

[2015-10-23 18:25] twhitacre commented on #434
:+1: Great work!

[2015-10-24 16:28] MichaelGaynor commented on #453
https://github.com/MichaelGaynor/javascript-koans

http://michaelgaynor.github.io/javascript-koans/

Stuck on the last problem, so I'm moving on to the weekend project

[2015-10-24 16:41] vpdolan commented on #259
file:///Users/vinniedolan/tiy/TIYProjects/assign9hexclock/index.html   https://github.com/vpdolan/Assign9hexclock/settings
vinnieshexclock.surge.sh
I had a similar issue with my game: trying to only have the div background colored and not whole page.  I tweaked the css first, and when I knew i nailed it, but still had problem, i played with js until i was satisfied.  sorry for the digression, but

[2015-10-25 20:35] corifowler commented on #485
Surge: http://futuristic-furniture.surge.sh/
Repository: https://github.com/corifowler/totoro-game

[2015-10-25 20:35] #485 closed

[2015-10-25 22:55] JesseSoldat commented on #492
penguingame.surge.sh

https://github.com/JesseSoldat/firstGame

[2015-10-25 22:55] #492 closed

[2015-10-25 23:39] kmooney517 commented on #486
https://github.com/kmooney517/watwars
watwars.surge.sh

couldnt get the health bar to represent the damage via colors...

[2015-10-26 00:23] hyonakim commented on #483
repo --> https://github.com/hyonakim/Nyctophobia/tree/master
surge --> http://nyctophobia.surge.sh/

[2015-10-26 00:23] #483 closed

[2015-10-26 01:15] Shalmalidp commented on #476
REPO : https://github.com/Shalmalidp/turn-game

SURGE : thirsty-birth.surge.sh

[2015-10-26 01:28] #486 closed

[2015-10-26 01:36] Johnrae commented on #470
hacker-training-c1996.surge.sh
^surge site
https://github.com/Johnrae/wargames
^repo

[2015-10-26 01:36] #470 closed

[2015-10-26 02:01] taheaton commented on #478
I've been through 3 different surge links and it isn't working.  I get this message below.  I tried publising to divshot and then back to surge.  Now, when I click on a surge link, it takes me to a divshot error page.  Hopefully can get some help on it tomorrow.  In the meantime, here's my github page.

http://taheaton.github.io/coachgame

surge                                            gh-pages

[2015-10-26 02:05] charlahcodes commented on #473
Repo: https://github.com/charlahcodes/turn-based-game
SURGE: http://shaggy-addition.surge.sh/

[2015-10-26 02:05] #473 closed

[2015-10-26 02:21] faircloth commented on #488
Repo: https://github.com/faircloth/trivia-game
Surge: http://majestic-mailbox.surge.sh/

[2015-10-26 02:21] #488 closed

[2015-10-26 02:39] luketgriffith commented on #480
https://github.com/luketgriffith/game
http://great-nut.surge.sh/   **I haven't been able to get it to show up on surge or gh-pages; getting a 404 every time on both.

[2015-10-26 04:45] thedoublewolf commented on #469
repo:  https://github.com/thedoublewolf/Planeswalker-Wars
surge:  http://thedoublewolf-battle-for-the-underworld.surge.sh/

[2015-10-26 04:45] #469 closed

[2015-10-26 05:16] sbesozzi commented on #471
https://github.com/sbesozzi/Barbarella-Game
http://tiy.sarah.barbarellagame.surge.sh/

[2015-10-26 05:16] #471 closed

[2015-10-26 05:33] IsaacHardy commented on #468
RIPO: https://github.com/IsaacHardy/Mokepon
LINK: cheap-dress.surge.sh

[2015-10-26 05:33] #468 closed

[2015-10-26 07:43] havisk commented on #489
didn't get a chance to finish it .  trying to animate icons and make them crash into each other, bounce back and crash again.  each generating random hit values, till one equals zero. I'll get it done.

needless-vase.surge.sh

https://github.com/havisk/The-Game

[2015-10-26 10:04] JRob1991 commented on #475
Had a cool animation loop idea going and just couldn't get it working the way I wanted. Had the idea to make it look like it was actually raining with a Canvas and couldn't get it the way I wanted. I ended up making a pong game and will be updating it more as I was running out of time.

Repo: https://github.com/JRob1991/Class-Project-Game
Surge:  https://vague-breath.surge.sh

[2015-10-26 10:04] #475 closed

[2015-10-26 10:10] itawtitawapuddytat commented on #474
surge: http://drunk-cabbage.surge.sh/index.html
repo: https://github.com/itawtitawapuddytat/Turn-based-game

[2015-10-26 10:10] #474 closed

[2015-10-26 11:45] JefBlocker commented on #479
Surge: kaput-glove.surge.sh

repository: https://github.com/JefBlocker/game

I'll need to complete this one later, but I uploaded what I have so far.

[2015-10-26 12:42] taheaton commented on #478
Shit - forgot to add 'app' to the surge address.  Here it is.

misty-swim.surge.sh

[2015-10-26 12:42] #478 closed

[2015-10-26 12:59] waspnx commented on #466
surge: http://obtuse-garbanzo.surge.sh
repo: https://github.com/waspnx/obtuse-garbanzo/tree/dev

incomplete

[2015-10-26 13:05] ceduncan1 commented on #482
Hi Tim,

I didn't complete the weekend assignment yet; the weekend was a little crazy.  I'll keep on working on it, of course, and get it in to you as soon as possible.

I wanted to send you what I had so far, but I'm having a hard time pushing to github.  It looks similar to when I had trouble with github with the Hexadecimal clock a couple of weeks ago.  I'll get help with it during break.

[2015-10-26 13:08] taheaton commented on #422
rainy-nerve.surge.sh

This one should work

[2015-10-26 13:08] #422 closed

[2015-10-26 13:20] twhitacre commented on #422
:+1: Great - thanks!

[2015-10-26 13:21] twhitacre commented on #424
:+1: Code looks good - deployed URL isn't working though.

[2015-10-26 13:23] twhitacre commented on #423
:+1: Code looks good, your deployment URL isn't working though.

[2015-10-26 13:23] twhitacre commented on #425
:+1: Nice work!

^ ha

[2015-10-26 13:24] twhitacre commented on #426
:+1: Great work!

[2015-10-26 13:24] twhitacre commented on #427
:+1: Great work!

[2015-10-26 13:24] twhitacre commented on #428
:+1: Great work!

[2015-10-26 13:25] twhitacre commented on #429
:+1: Great work!

[2015-10-26 13:27] twhitacre commented on #431
@vpdolan the code looks good so I'll close it, but when you post your URL's, make sure to post them like this:

Note, it should have the `http` at the front of it. Also, make sure to deploy to surge.

[2015-10-26 13:27] twhitacre commented on #430
:+1: Great work!

[2015-10-26 13:27] twhitacre commented on #432
:+1: Great work!

[2015-10-26 13:30] twhitacre commented on #433
:+1: Great work!

[2015-10-26 13:31] twhitacre commented on #435
:+1: Great work!

[2015-10-26 13:31] twhitacre commented on #436
:+1: Great work!

[2015-10-26 13:32] twhitacre commented on #437
:+1: Great work!

[2015-10-26 13:32] twhitacre commented on #439
@jefdonmar can you deploy this, so I can see a live version?

[2015-10-26 13:33] twhitacre commented on #438
@waspnx looks like you are missing a few. It only says `49/53` complete.

[2015-10-26 13:33] twhitacre commented on #440
:+1: Great work!

[2015-10-26 13:34] twhitacre commented on #442
:+1: Nice work!

[2015-10-26 13:34] twhitacre commented on #441
:+1: Great work!

[2015-10-26 13:39] twhitacre commented on #444
@jbrz yep - it looks like the `_.union` method was added after the version that is in the Koans runner. You can upgrade to the latest version and that will work, or you could use `_.range` and `_.reduce`

[2015-10-26 13:39] twhitacre commented on #443
:+1: Great work!

[2015-10-26 13:40] twhitacre commented on #445
:+1: Great work!

[2015-10-26 13:40] twhitacre commented on #446
:+1: Great work!

[2015-10-26 13:40] twhitacre commented on #447
:+1: Great work!

[2015-10-26 13:40] twhitacre commented on #448
:+1: Great work!

[2015-10-26 13:41] twhitacre commented on #449
:+1: Great work!

[2015-10-26 13:42] twhitacre commented on #450
@taheaton can you deploy this when you get a chance and post the link here so I can verify all tests pass?

[2015-10-26 13:42] twhitacre commented on #451
@JefBlocker can you deploy and post a link here so I can verify the tests pass?

[2015-10-26 13:43] twhitacre commented on #453
@MichaelGaynor thanks for turning in what you have.

Let me know if you want to sit down with me or JD and get help with those remaining problems.

[2015-10-26 13:43] twhitacre commented on #452
:+1: Great work!

[2015-10-26 13:43] twhitacre commented on #454
:+1: Great work!

[2015-10-26 13:44] #259 closed

[2015-10-26 13:45] twhitacre commented on #455
:+1: Great work!

[2015-10-26 13:45] twhitacre commented on #456
:+1: Great work!

[2015-10-26 13:45] twhitacre commented on #457
:+1: Great work!

[2015-10-26 13:46] twhitacre commented on #458
:+1: Great work!

[2015-10-26 13:47] twhitacre commented on #459
@vpdolan looks like you are missing the last `6` of them.

[2015-10-26 13:47] twhitacre commented on #461
:+1: Great work!

[2015-10-26 13:47] twhitacre commented on #460
:+1: Great work!

[2015-10-26 13:48] twhitacre commented on #464
@JesseSoldat ha! almost there! - let me know if you need help with the last few.

[2015-10-26 13:49] twhitacre commented on #466
@waspnx - looking good, let me know if you need help wrapping it up!

[2015-10-26 13:52] twhitacre commented on #468
:+1: Awesome work! Lots of work went into this and it shows!

[2015-10-26 13:53] twhitacre commented on #470
:+1: This is awesome! Great work!

[2015-10-26 14:02] twhitacre commented on #469
:+1: Great work - nice use of an outside API.

[2015-10-26 14:03] twhitacre commented on #471
:+1: haha! love it! Great work

[2015-10-26 14:04] twhitacre commented on #473
:+1: This made me lol - nice job!

[2015-10-26 14:05] twhitacre commented on #474
:+1: Nice work - love the idea of multiple levels.

[2015-10-26 14:13] twhitacre commented on #475
:+1: Nice job - lots of work put in, good use of constructors and prototypes!

[2015-10-26 14:14] twhitacre commented on #476
:+1: Good work!

[2015-10-26 14:16] twhitacre commented on #478
:+1: Looks great - glad you figured it out!

[2015-10-26 14:16] twhitacre commented on #478
Also, fun concept

[2015-10-26 14:16] twhitacre commented on #479
@JefBlocker thanks for putting in what you have. Let me know if I can help!

[2015-10-26 14:19] twhitacre commented on #480
@luketgriffith looks great - nice work!

I was able to download and get it running - and it's all good. I'm going to open it up to remind you to get a deployed URL, but let me know I can help you with that.

[2015-10-26 14:19] twhitacre commented on #483
:+1: Fun! Great work!

[2015-10-26 14:21] twhitacre commented on #485
:+1: Great work - love the idea. Reminds me of Tamagotchis.

[2015-10-26 14:22] twhitacre commented on #486
:+1: Nice job - love the gif's that show up on attacks!

[2015-10-26 14:23] twhitacre commented on #488
:+1: Nice job! Fun game - also realized I know very little about baseball :cry:

[2015-10-26 14:25] twhitacre commented on #492
:+1: Fun! Glad to see you got it working, great work!

[2015-10-26 16:14] taheaton commented on #450
http://huge-fireman.surge.sh/

Here 'tis

[2015-10-26 16:14] #450 closed

[2015-10-26 19:32] twhitacre opened #493 "Assignment 18"
@amitshah86 this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:32] twhitacre opened #494 "Assignment 18"
@waspnx this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:32] twhitacre opened #495 "Assignment 18"
@jefdonmar this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:32] twhitacre opened #496 "Assignment 18"
@IsaacHardy this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #497 "Assignment 18"
@thedoublewolf this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #498 "Assignment 18"
@johnrae this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #499 "Assignment 18"
@sbesozzi this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #500 "Assignment 18"
@jbrz this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #501 "Assignment 18"
@charlahcodes this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #502 "Assignment 18"
@itawtitawapuddytat this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #503 "Assignment 18"
@Jrob1991 this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #504 "Assignment 18"
@shalmalidp this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #505 "Assignment 18"
@hopecrichlow this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #506 "Assignment 18"
@taheaton this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #507 "Assignment 18"
@JefBlocker this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #508 "Assignment 18"
@luketgriffith this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #509 "Assignment 18"
@MichaelGaynor this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #510 "Assignment 18"
@ceduncan1 this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #511 "Assignment 18"
@hyonakim this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #512 "Assignment 18"
@AirForcePierce this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #513 "Assignment 18"
@corifowler this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #514 "Assignment 18"
@kmooney517 this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #515 "Assignment 18"
@vpdolan this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #516 "Assignment 18"
@faircloth this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #517 "Assignment 18"
@havisk this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #518 "Assignment 18"
@BoyzieLee this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #519 "Assignment 18"
@hdannyyi this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 19:33] twhitacre opened #520 "Assignment 18"
@JesseSoldat this is your issue for *Assignment 18*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-26 20:07] kmooney517 commented on #514
elated-finger.surge.sh

https://github.com/kmooney517/Intro-Backbone

[2015-10-26 20:07] #514 closed

[2015-10-26 20:55] ceduncan1 commented on #510
https://github.com/ceduncan1/Backbone-Practice
ceduncan_tiy_backbone-practice-car-data.surge.sh

[2015-10-26 20:55] #510 closed

[2015-10-26 20:55] sbesozzi commented on #499
https://github.com/sbesozzi/Parse-App

http://tiy.sarah.parseapp.surge.sh/

[2015-10-26 20:55] #499 closed

[2015-10-26 21:00] ceduncan1 commented on #510
I can't tell if it's messed up or if the internet is down or both.  I'll check when I get home.

[2015-10-26 21:13] IsaacHardy commented on #496
I added a leaderboard to my game from the weekend that implemented what we learned today. Players can be added easily on the parse.com website.

RIPO to game with Leaderboard: https://github.com/IsaacHardy/Mokepon
SURGE LINK: futuristic-love.surge.sh

[2015-10-26 21:13] #496 closed

[2015-10-26 21:14] corifowler commented on #513
Surge: http://first-jellyfish.surge.sh/
Repository: https://github.com/corifowler/parse-backbone

[2015-10-26 21:14] #513 closed

[2015-10-26 22:51] Johnrae commented on #498
https://unarmed-nose.surge.sh
^surge site
https://github.com/Johnrae/assignment-18
^repo

[2015-10-26 22:51] #498 closed

[2015-10-26 23:20] faircloth commented on #516
Repo: https://github.com/faircloth/parseBasicAssignment
Surge: http://watery-amount.surge.sh/

[2015-10-26 23:20] #516 closed

[2015-10-26 23:24] JefBlocker commented on #507
surge: beautiful-dirt.surge.sh (When I click on the link, it states page not found, however, the terminal tells me it was successful:

~/t/p/assignment18 ❯❯❯ surge                                      ⏎ ghpages ✱ ◼
              email: jefblocker@gmail.com
              token: *****************
       project path: /Users/jefblocker/tiy/projects/assignment18/
               size: 25 files, 2.0 MB

[2015-10-27 00:08] thedoublewolf commented on #497
repo:  https://github.com/thedoublewolf/The-Double-Wolf-Artwork
surge:  abnormal-experience.surge.sh

[2015-10-27 00:08] #497 closed

[2015-10-27 01:07] Shalmalidp commented on #504
REPO : https://github.com/Shalmalidp/Backbone-Parse

SURGE :Parse-Assigment-Shalmali.surge.sh

[2015-10-27 01:24] charlahcodes commented on #501
Repo: https://github.com/charlahcodes/backbone-intro
Surge: http://loud-friends.surge.sh/

[2015-10-27 01:24] #501 closed

[2015-10-27 01:36] waspnx commented on #438
completed 53/53

[2015-10-27 01:36] #438 closed

[2015-10-27 01:55] hyonakim commented on #511
repo --> https://github.com/hyonakim/BackboneParse/tree/master
surge --> http://hbank.surge.sh/

[2015-10-27 01:55] #511 closed

[2015-10-27 01:57] jefdonmar commented on #495
Here is my surge link

http://jefdonmar.surge.sh/

For some reason, I thought I could have just types the data into my parse app, but I realized that wasn't possible... does this mean I would have had to download and JSON or CSV file here?

[2015-10-27 02:00] jefdonmar commented on #439
here you go http://jefdonmar.surge.sh/

[2015-10-27 02:00] #439 closed

[2015-10-27 02:09] luketgriffith commented on #508
plastic-money.surge.sh
https://github.com/luketgriffith/backbone

[2015-10-27 02:09] #508 closed

[2015-10-27 02:11] luketgriffith commented on #480
ok, got it deployed.
 http://wholesale-calendar.surge.sh/
messed up the layout for some reason; will go back and fix that now

[2015-10-27 02:11] #480 closed

[2015-10-27 03:55] waspnx commented on #494
surge: http://verdant-octo-prune.surge.sh

repo: https://github.com/waspnx/-verdant-octo-prune

[2015-10-27 03:55] #494 closed

[2015-10-27 04:21] ceduncan1 commented on #510
Ok, I don't know what happened before, but here it is:

https://github.com/ceduncan1/Backbone-Practice
ceduncan_tiy_backbone-practice-car-data.surge.sh

[2015-10-27 10:02] itawtitawapuddytat commented on #502
repo: https://github.com/itawtitawapuddytat/BackboneParse

[2015-10-27 10:02] #502 closed

[2015-10-27 10:58] itawtitawapuddytat commented on #502
surge: MaryamAli-Assignment18.surge.sh

[2015-10-27 11:02] havisk commented on #517
https://github.com/havisk/Backbone

http://supreme-backbone-kool.surge.sh/

[2015-10-27 11:02] #517 closed

[2015-10-27 11:26] JesseSoldat commented on #520
http://jsoldat.surge.sh/
https://github.com/JesseSoldat/Backbone-Project

[2015-10-27 11:26] #520 closed

[2015-10-27 11:56] hopecrichlow commented on #505
Repo

https://github.com/hopecrichlow/Assignment-18

Surge

http://wild-book.surge.sh/

[2015-10-27 11:56] #505 closed

[2015-10-27 12:33] vpdolan commented on #515
vinniesassignment18.surge.sh

git remote add origin git@github.com:vpdolan/homework-18.git
git push -u origin master

[2015-10-27 12:41] vpdolan commented on #201
vinniesjsexercises1and2.surge.sh

https://github.com/vpdolan/jsexercises/blob/gh-pages/jsexercise2.js

[2015-10-27 12:41] #201 closed

[2015-10-27 12:47] AirForcePierce commented on #484
rich-beetle.surge.sh

Surge

Repo

https://github.com/AirForcePierce/thebestrpggame

Turning in, still need to add some adjustments and more functions to the game!

[2015-10-27 12:47] #484 closed

[2015-10-27 12:51] itawtitawapuddytat commented on #502
Please try this surge site if the above doesn't work:
absorbing-kitty.surge.sh

[2015-10-27 12:53] MichaelGaynor commented on #509
https://github.com/MichaelGaynor/BackboneMovies

http://nine-teaching.surge.sh/

Forgot to close the issue :(

[2015-10-27 12:53] #509 closed

[2015-10-27 13:03] amitshah86 commented on #493
https://github.com/amitshah86/Assignment18

Couldnt get it to print on the page, working on it though!

[2015-10-27 13:16] taheaton commented on #506
https://github.com/taheaton/TAGS
aloof-comfort.surge.sh

Finished this yesterday afternoon - just didn't see the issue up and took my kids to see Hotel Transylvania 2 last night ... hilarious

[2015-10-27 13:16] #506 closed

[2015-10-27 13:24] jefdonmar commented on #495
I had a hard time typing things into my parse app ( as basic as the sounds). I would get errors that said I had to specify a term... and everytime I needed refresh my page... all of my data that I would type in wouldn't work

[2015-10-27 13:33] AirForcePierce commented on #512
Surge

http://sweet-toes.surge.sh

Repo

https://github.com/AirForcePierce/backbonepj

Very simple setup

[2015-10-27 13:33] #512 closed

[2015-10-27 13:44] twhitacre commented on #201
:+1: Looks much better! Thanks. Note, for [these](https://github.com/vpdolan/jsexercises/blob/gh-pages/jsexercise2.js#L55-L61), the `||` "or" operator works only with full statements on either side.

So...

[code]

will not work. Because it's checking if `name` is equal to `'Bill'` which is false, but then `Greg` and `Sam` are not `falsey` so it will return `truthy` even though name does not equal

[2015-10-27 13:45] twhitacre commented on #438
:+1: boom done! thanks!

[2015-10-27 13:45] twhitacre commented on #439
:+1: thanks! Looks great!

[2015-10-27 13:46] BoyzieLee commented on #518
The chart is still not showing up on page yet.
Surge link: hateful-cake.surge.sh
GitHub link: https://github.com/BoyzieLee/BuildingATable

[2015-10-27 13:46] twhitacre commented on #450
:+1: Looks great, thanks!

[2015-10-27 13:46] twhitacre commented on #480
:+1:

[2015-10-27 13:48] twhitacre commented on #484
:+1: nice work so far - I'll mark it complete since you have tests and constructors.

You'll want to add a bit more flexibility if you decide to use it as a portfolio piece.

[2015-10-27 13:49] twhitacre commented on #493
@amitshah86 thanks for turning in what you have, you are not too far off. Re submit once you do that and get it deployed!

[2015-10-27 13:50] twhitacre commented on #494
:+1: Great job!

[2015-10-27 13:51] twhitacre commented on #495
@jefdonmar - that surge link goes to your Koans assignment.

Do you have one for this assignment?

[2015-10-27 13:52] twhitacre commented on #496
:+1: Nice job!! way to incorporate it into an existing project!

[2015-10-27 13:53] twhitacre commented on #497
:+1: Nice job!

[2015-10-27 13:53] twhitacre commented on #498
:+1: Ha, nice work!

[2015-10-27 13:57] jefdonmar commented on #495
Here is another link

delicious-throat.surge.sh

[2015-10-27 13:57] taheaton commented on #250
It is working now... the color changes are sometimes very gradual but i saw it change :)

http://taheaton.github.io/A9/
https://github.com/taheaton/A9/tree/gh-pages

[2015-10-27 13:57] #250 closed

[2015-10-27 14:01] twhitacre commented on #499
:+1: Great job!

[2015-10-27 14:01] twhitacre commented on #250
:+1: looks good! Thanks!

[2015-10-27 14:10] amitshah86 commented on #493
Okay thanks Tim.

Sent from my iPhone

[2015-10-27 14:10] twhitacre commented on #495
Looking good - let me know if you need help getting info on the page. Looks like you have a js error.

[2015-10-27 14:15] twhitacre commented on #501
:+1: Nice work!

[2015-10-27 14:17] JRob1991 commented on #503
Sorry about the delay. I thought I had it closed earlier but I guess not.

Surge: https://thundering-paper.surge.sh

Repo: https://github.com/JRob1991/Homework-18

Moved around some of the files to organize them the best way I could.

[2015-10-27 14:17] #503 closed

[2015-10-27 14:18] twhitacre commented on #502
:+1: Nice job!

[2015-10-27 14:20] jbrz commented on #500
nutty-army.surge.sh

https://github.com/jbrz/Parsing

Parse is dumb and wouldn't let me do things.  Is fix now.

[2015-10-27 14:20] #500 closed

[2015-10-27 14:27] jbrz commented on #444
Updated.

[2015-10-27 14:27] #444 closed

[2015-10-27 14:38] twhitacre commented on #500
:+1: Nice work! Parse can be dumb - you get to make it smart. :smile:

[2015-10-27 14:40] twhitacre commented on #503
:+1: Nice work!

[2015-10-27 14:40] twhitacre commented on #520
:+1: Nice job!

[2015-10-27 14:42] twhitacre commented on #518
@BoyzieLee looks like you have a JS error - I think if you fix that, it will load better.

See [here](https://github.com/BoyzieLee/BuildingATable/blob/master/BuildingATable/js/vehicleCollection.js#L2-L9) you are importing `vehicleModel` but calling it `VehicleModel` which are two different things, and why that error is being thrown.

[2015-10-27 14:43] twhitacre commented on #517
:+1: Nice work!

[2015-10-27 14:43] twhitacre commented on #516
:+1: Nice work!

[2015-10-27 14:44] twhitacre commented on #515
@vpdolan looks like the surge and repo are empty - let's take a look at this today when we meet.

[2015-10-27 14:44] twhitacre commented on #514
:+1: Nice work!

[2015-10-27 14:46] twhitacre commented on #513
:+1: nice work!

Also - I totes agree - TSwift is the only bit of awesome music on that list :smile: :notes:

[2015-10-27 14:47] twhitacre commented on #512
:+1: Nice job!

[2015-10-27 14:57] twhitacre commented on #511
:+1: Nice job - love the concept. I just transferred you millions.

[2015-10-27 14:57] twhitacre commented on #510
:+1: Nice work!

[2015-10-27 15:00] twhitacre commented on #509
:+1: Nice work - I'll add those movies to my watch list.

[2015-10-27 15:00] twhitacre commented on #508
:+1: nice work!

[2015-10-27 15:02] twhitacre commented on #507
@JefBlocker your project path in the notes above looks like this:

`project path: /Users/jefblocker/tiy/projects/assignment18/`

it should have the `app` folder at the end, since that is where your app lives. so it should be:

`project path: /Users/jefblocker/tiy/projects/assignment18/app`

We can look at it more later today if need be!

[2015-10-27 15:02] twhitacre commented on #506
:+1: Nice work!

[2015-10-27 15:03] twhitacre commented on #505
:+1: Nice work!

[2015-10-27 15:03] twhitacre commented on #504
:+1: Nice work!

[2015-10-27 15:03] twhitacre commented on #444
:+1: nice work!

[2015-10-27 19:29] JefBlocker commented on #507
Thanks, Tim.  Here's the surge URL: http://flaky-blow.surge.sh/.

[2015-10-27 19:29] #507 closed

[2015-10-27 20:08] twhitacre opened #521 "Assignment 19"
@amitshah86 this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:08] twhitacre opened #522 "Assignment 19"
@waspnx this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:08] twhitacre opened #523 "Assignment 19"
@jefdonmar this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:08] twhitacre opened #524 "Assignment 19"
@IsaacHardy this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:08] twhitacre opened #525 "Assignment 19"
@thedoublewolf this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:08] twhitacre opened #526 "Assignment 19"
@johnrae this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:08] twhitacre opened #527 "Assignment 19"
@sbesozzi this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:08] twhitacre opened #528 "Assignment 19"
@jbrz this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:08] twhitacre opened #529 "Assignment 19"
@charlahcodes this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:08] twhitacre opened #530 "Assignment 19"
@itawtitawapuddytat this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:08] twhitacre opened #531 "Assignment 19"
@Jrob1991 this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:08] twhitacre opened #532 "Assignment 19"
@shalmalidp this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:08] twhitacre opened #533 "Assignment 19"
@hopecrichlow this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #534 "Assignment 19"
@taheaton this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #535 "Assignment 19"
@JefBlocker this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #536 "Assignment 19"
@luketgriffith this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #537 "Assignment 19"
@MichaelGaynor this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #538 "Assignment 19"
@ceduncan1 this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #539 "Assignment 19"
@hyonakim this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #540 "Assignment 19"
@AirForcePierce this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #541 "Assignment 19"
@corifowler this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #542 "Assignment 19"
@kmooney517 this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #543 "Assignment 19"
@vpdolan this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #544 "Assignment 19"
@faircloth this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #545 "Assignment 19"
@havisk this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #546 "Assignment 19"
@BoyzieLee this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #547 "Assignment 19"
@hdannyyi this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 20:09] twhitacre opened #548 "Assignment 19"
@JesseSoldat this is your issue for *Assignment 19*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-27 21:26] kmooney517 commented on #542
piquant-fly.surge.sh
https://github.com/kmooney517/contactList

[2015-10-27 21:59] MichaelGaynor commented on #537
scared-copper.surge.sh

https://github.com/MichaelGaynor/BackboneRouterProject

pretty proud of how this one turned out!

[2015-10-27 21:59] #537 closed

[2015-10-27 22:42] AirForcePierce commented on #540
surge

http://spotless-cherry.surge.sh/

Please click the Contacts h2 element

Repo

https://github.com/AirForcePierce/contactsapp

[2015-10-27 22:42] #540 closed

[2015-10-28 01:09] Johnrae commented on #526
Im totally hitting a wall. Heres the repo for what I have now, I'm gonna try to get this to work tomorrow once I get some sleep.
https://github.com/Johnrae/assignment-19

[2015-10-28 01:09] corifowler commented on #541
Repository: https://github.com/corifowler/contact-list
Surge: http://obese-smile.surge.sh/

[2015-10-28 01:09] #541 closed

[2015-10-28 01:11] luketgriffith commented on #536
wandering-rice.surge.sh
https://github.com/luketgriffith/backbone;

[2015-10-28 01:11] #536 closed

[2015-10-28 01:15] JesseSoldat commented on #548
https://github.com/JesseSoldat/Contacts-List

grandiose-branch.surge.sh

If we have time this week could we go over the order of things starting at main.js and what happens when the user goes to the home page and later to individual contacts. Thanks

[2015-10-28 01:15] #548 closed

[2015-10-28 01:37] corifowler commented on #541
Re-opening and closing because I forgot to add the "back button". Repo is same, but I updated the surge link.

Surge: http://flippant-needle.surge.sh/

[2015-10-28 02:01] charlahcodes commented on #529
Repo: https://github.com/charlahcodes/backbone-contactlist
Surge: http://chivalrous-bottle.surge.sh

[2015-10-28 02:01] #529 closed

[2015-10-28 02:14] IsaacHardy commented on #524
RIPO: https://github.com/IsaacHardy/ContactList
LINK: wholesale-fork.surge.sh

[2015-10-28 02:14] #524 closed

[2015-10-28 03:39] JefBlocker commented on #535
surge: http://daffy-destruction.surge.sh/

gh-pages: http://jefblocker.github.io/assignment19/

git repository: https://github.com/JefBlocker/assignment19

On Tue, Oct 27, 2015 at 4:09 PM, Tim Whitacre <notifications@github.com>
wrote:

[2015-10-28 03:47] JefBlocker commented on #451
surge: http://adjoining-comfort.surge.sh/

[2015-10-28 03:47] #451 closed

[2015-10-28 03:50] JRob1991 commented on #531
Got a bit tired towards the end of the night. Kept having to restart Gulp every-time I worked with the views JS folder.  Doesn't look pretty but it's done how it was supposed to be.

Surge: https://vengeful-icicle.surge.sh/#users
Repo: https://github.com/JRob1991/Assignment-19

[2015-10-28 03:50] #531 closed

[2015-10-28 04:10] thedoublewolf commented on #525
repo:  https://github.com/thedoublewolf/The-Double-Wolf-Artwork
surge:  http://tacky-trouble.surge.sh

[2015-10-28 04:10] #525 closed

[2015-10-28 04:22] faircloth commented on #544
Repo: https://github.com/faircloth/contactListAssignment
Surge: goofy-sofa.surge.sh

[2015-10-28 04:22] #544 closed

[2015-10-28 04:39] Shalmalidp commented on #532
surge : router-backbone-collection-model-parse.surge.sh/

repo : https://github.com/Shalmalidp/RouterBackboneMYpeeps

Could not get the green Color in the single instructor view ...

[2015-10-28 06:27] sbesozzi commented on #527
https://github.com/sbesozzi/Backbone-Router-Contact-List

http://tiy.sarah.backbone.router.surge.sh/

* could not get instructorTemplate to appear on page in router.js

[2015-10-28 06:47] hyonakim commented on #539
repo --> https://github.com/hyonakim/MyPeeps_ContactList/tree/master
surge --> http://mypeeps.surge.sh/index.html

[2015-10-28 06:47] #539 closed

[2015-10-28 08:05] jbrz commented on #528
https://github.com/jbrz/TIYa19
http://alike-farm.surge.sh/

[2015-10-28 08:05] #528 closed

[2015-10-28 10:24] itawtitawapuddytat commented on #530
all of the code is complete, but I can't get anything to show on the browser, no errors in gulp or console :(

repo: https://github.com/itawtitawapuddytat/BackboneRouter

surge (posting link so I can update it when it's working): http://utter-cheese.surge.sh/

[2015-10-28 12:40] havisk commented on #545
https://github.com/havisk/Router

http://macho-pump.surge.sh/

[2015-10-28 12:40] #545 closed

[2015-10-28 12:55] vpdolan commented on #543
vinniesbackbonerouter-collar.surge.sh

https://github.com/vpdolan/backbonerouter19

[2015-10-28 13:08] amitshah86 commented on #521
https://github.com/amitshah86/Assignment19

still working on API stuff and some styling

[2015-10-28 13:11] kmooney517 commented on #542
unruly-control.surge.sh

updated the single view page to have a back button work

[2015-10-28 13:11] #542 closed

[2015-10-28 13:17] taheaton commented on #534
https://github.com/taheaton/contacts
http://meaty-drink.surge.sh/

[2015-10-28 13:17] #534 closed

[2015-10-28 13:19] hopecrichlow commented on #533
Repo
https://github.com/hopecrichlow/Assignment-19/tree/dev

Surge
http://spectacular-eggs.surge.sh/#contacts

[2015-10-28 13:31] jisaacks commented on #544
This looks great! Good job!

[2015-10-28 13:35] luketgriffith commented on #536
just realized i somehow put this homework in the same repo as the last assignment. It's the folder called 'router'.
also made it look nicer:
https://forgetful-brass.surge.sh

[2015-10-28 14:55] waspnx commented on #522
repo: https://github.com/waspnx/contactList/tree/dev
surge: http://tense-guitar.surge.sh

incomplete

[2015-10-28 14:58] JRob1991 commented on #419
Sorry about that Tim, I had something messed up with gulp and it wasn't running properly. It's all fixed up now.

Surge: http://tired-street.surge.sh/
Repo: https://github.com/JRob1991/Assignment-15-Constructor

[2015-10-28 14:58] #419 closed

[2015-10-28 15:28] jbrz commented on #215
cumbersome-kitty.surge.sh

[2015-10-28 15:28] #215 closed

[2015-10-28 15:42] twhitacre commented on #548
:+1: Great job.

We did a bit of review in class, but if you still have questions, let me know.

[2015-10-28 15:42] twhitacre commented on #545
:+1: Great work!

[2015-10-28 15:44] twhitacre commented on #543
@vpdolan your code is looking really good, but the deployment link doesn't' work. Let me know if I can help with that.

[2015-10-28 15:44] twhitacre commented on #542
:+1: Great work!

[2015-10-28 15:47] twhitacre commented on #541
:+1: Nice work!

[2015-10-28 15:47] twhitacre commented on #540
:+1: Nice job!

[2015-10-28 15:49] twhitacre commented on #539
:+1: Great Work!

[2015-10-28 15:49] twhitacre commented on #537
:+1: Great work!

[2015-10-28 15:49] twhitacre commented on #536
:+1: Nice work!

[2015-10-28 15:51] twhitacre commented on #535
@JefBlocker code is looking good, but I don't see any contacts on the page.

Let me know if you need help figuring out why.

[2015-10-28 15:51] twhitacre commented on #534
:+1: Great work! Love the concept :ghost: :ghost: :ghost:

[2015-10-28 15:52] twhitacre commented on #533
@hopecrichlow looking good so far, just missing the second route working.

[2015-10-28 15:53] twhitacre commented on #532
Great work!

[2015-10-28 15:54] twhitacre commented on #531
:+1: Great work!

[2015-10-28 15:54] twhitacre commented on #529
:+1: Great work!

[2015-10-28 15:55] twhitacre commented on #530
@itawtitawapuddytat code does look pretty good.

Let me know if you need help figuring out why nothing is showing up.

[2015-10-28 15:55] twhitacre commented on #527
@sbesozzi looks like you are close.

Let me know if you need help getting that next part to work.

[2015-10-28 15:56] twhitacre commented on #528
:+1: Great work!

[2015-10-28 15:56] twhitacre commented on #525
:+1: Awesome! Love the design and the concept.

Also, love your art. :art:

[2015-10-28 15:57] twhitacre commented on #524
:+1: Great work!

[2015-10-28 15:57] twhitacre commented on #526
@Johnrae no worries, thanks for turning in what you have.

Let me know if you need help wrapping it up.

[2015-10-28 15:58] twhitacre commented on #522
@waspnx getting there. Let us know if you need help with this.

[2015-10-28 15:58] twhitacre commented on #521
@amitshah86 no worries. Let us know if you need help.

[2015-10-28 15:58] twhitacre commented on #215
:+1: Nice work!

[2015-10-28 15:59] twhitacre commented on #419
:+1: Thanks! Looks good.

[2015-10-28 15:59] twhitacre commented on #451
:+1: Great work!

[2015-10-28 15:59] amitshah86 commented on #521
I think im getting the hang of it...this review has helped alot.

On Wed, Oct 28, 2015 at 11:58 AM, Tim Whitacre <notifications@github.com>
wrote:

[2015-10-28 15:59] twhitacre commented on #507
:+1: Thanks, looks good!

[2015-10-28 16:10] twhitacre opened #549 "Assignment 20"
@amitshah86 this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #550 "Assignment 20"
@waspnx this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #551 "Assignment 20"
@jefdonmar this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #552 "Assignment 20"
@IsaacHardy this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #553 "Assignment 20"
@thedoublewolf this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #554 "Assignment 20"
@johnrae this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #555 "Assignment 20"
@sbesozzi this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #556 "Assignment 20"
@jbrz this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #557 "Assignment 20"
@charlahcodes this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #558 "Assignment 20"
@itawtitawapuddytat this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #559 "Assignment 20"
@Jrob1991 this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #560 "Assignment 20"
@shalmalidp this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #561 "Assignment 20"
@hopecrichlow this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #562 "Assignment 20"
@taheaton this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #563 "Assignment 20"
@JefBlocker this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #564 "Assignment 20"
@luketgriffith this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #565 "Assignment 20"
@MichaelGaynor this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #566 "Assignment 20"
@ceduncan1 this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #567 "Assignment 20"
@hyonakim this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #568 "Assignment 20"
@AirForcePierce this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #569 "Assignment 20"
@corifowler this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #570 "Assignment 20"
@kmooney517 this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #571 "Assignment 20"
@vpdolan this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #572 "Assignment 20"
@faircloth this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #573 "Assignment 20"
@havisk this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #574 "Assignment 20"
@BoyzieLee this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #575 "Assignment 20"
@hdannyyi this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:10] twhitacre opened #576 "Assignment 20"
@JesseSoldat this is your issue for *Assignment 20*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-28 16:25] jbrz commented on #302
safe-beetle.surge.sh

[2015-10-28 16:25] #302 closed

[2015-10-28 17:09] BoyzieLee commented on #518
Thanks, that was it! the data uploads now.

Surge link: four-rice.surge.sh
GitHub link: https://github.com/BoyzieLee/BuildingATable

[2015-10-28 17:27] jbrz commented on #331
http://curious-corn.surge.sh/

[2015-10-28 19:14] sbesozzi commented on #527
@twhitacre I had the multi view listed instead of the single view for the navigate method of initialize! Just one word wrong.  It's up and running now I just need the profile pictures.

[2015-10-28 20:18] vpdolan commented on #543
https://github.com/vpdolan/backbonerouter19a

vinniesbackbonerouter19.surge.sh

[2015-10-28 22:25] corifowler commented on #569
Surge: http://roasted-tiger.surge.sh
Repository: https://github.com/corifowler/artist-list-with-update-opt

[2015-10-28 22:25] #569 closed

[2015-10-29 01:02] kmooney517 commented on #570
six-throne.surge.sh

https://github.com/kmooney517/contactUpdateable

[2015-10-29 01:02] #570 closed

[2015-10-29 01:11] charlahcodes commented on #557
Repo: https://github.com/charlahcodes/backbone-contactlist2
Surge: http://jittery-wind.surge.sh

[2015-10-29 01:11] #557 closed

[2015-10-29 01:32] jefdonmar commented on #523
here is a link my dev file... I keep getting some error on my ajax set up and would really love some one on one on explaining how to find my urlRoot and also putting data in parse.. for some reason my computer is doing something weird

https://github.com/jefdonmar/BackboneRouterHw/tree/jeff-dev

Will deploy to surge once I get help with this and also add styles

[2015-10-29 02:01] JesseSoldat commented on #576
untidy-flag.surge.sh

https://github.com/JesseSoldat/Contacts-List-2

[2015-10-29 02:02] #576 closed

[2015-10-29 02:36] waspnx commented on #550
repo: https://github.com/waspnx/contactList/tree/dev
surge: http://tense-guitar.surge.sh

[2015-10-29 02:36] luketgriffith commented on #564
https://github.com/luketgriffith/contact-list
anxious-feather.surge.sh

[2015-10-29 02:48] thedoublewolf commented on #553
repo:  https://github.com/thedoublewolf/favorite-bands
surge:  http://berserk-thunder.surge.sh/

[2015-10-29 02:48] #553 closed

[2015-10-29 03:02] JefBlocker commented on #535
I kept having numerous errors come up, so I started over using the new format from class today.  Git wouldn't allow me to upload, so I deleted the original repository and tried to reload it, but now I'm getting a fatal error.  Here's the link to the new respository: https://github.com/JefBlocker/assignment19.

I did upload the new files to surge and here is the link: http://faded-egg.surge.sh/#con

[2015-10-29 03:37] Johnrae commented on #554
heres what ive got. It kinda works, which is better than yesterday!
https://github.com/Johnrae/assignment20
^repo
animated-respect.surge.sh
^surge
this isn't done yet though, I'm having a really rough time wrapping my head around backbone.

[2015-10-29 03:46] JRob1991 commented on #559
Surge: https://oceanic-dogs.surge.sh/#users
Repo: https://github.com/JRob1991/Assignment-19

[2015-10-29 03:46] #559 closed

[2015-10-29 04:21] sbesozzi commented on #527
@twhitacre I had the multi view listed instead of the single view for the navigate method of initialize! Just one word wrong!

http://tiy.sarah.backbone.router.surge.sh/
https://github.com/sbesozzi/Backbone-Router-Contact-List

[2015-10-29 04:21] sbesozzi commented on #527
@twhitacre I had the multi view listed instead of the single view for the navigate method of initialize! Just one word wrong!

http://tiy.sarah.backbone.router.surge.sh/
https://github.com/sbesozzi/Backbone-Router-Contact-List

[2015-10-29 04:21] #527 closed

[2015-10-29 04:51] IsaacHardy commented on #552
RIPO: https://github.com/IsaacHardy/ContactList2
LINK: http://super-cloud.surge.sh/

[2015-10-29 04:51] #552 closed

[2015-10-29 06:34] sbesozzi commented on #555
Click event for add contact not working yet.

https://github.com/sbesozzi/Contact-List
http://tiy.sarah.friends.contact.surge.sh/#friends

[2015-10-29 06:51] hyonakim commented on #567
repo --> https://github.com/hyonakim/MasanHighDatabase
surge --> tight-pollution.surge.sh

Still working on my create student button.

[2015-10-29 09:57] itawtitawapuddytat commented on #530
working now
repo: https://github.com/itawtitawapuddytat/BackboneRouter
surge: http://utter-cheese.surge.sh/

[2015-10-29 09:57] #530 closed

[2015-10-29 11:01] itawtitawapuddytat commented on #558
https://github.com/itawtitawapuddytat/Backbone-Router-w-add-new-contact

[2015-10-29 11:29] faircloth commented on #572
Repo: https://github.com/faircloth/contactListPart2
Surge: https://breezy-fact.surge.sh

[2015-10-29 11:29] #572 closed

[2015-10-29 11:57] havisk commented on #573
added contacts showing up as undefined, can't

http://easy-teeth.surge.sh/

https://github.com/havisk/Router

[2015-10-29 12:26] jbrz commented on #556
awake-field.surge.sh
https://github.com/jbrz/TIYa20

[2015-10-29 12:26] #556 closed

[2015-10-29 12:30] Shalmalidp commented on #560
https://github.com/Shalmalidp/TheIronYard

INCOMPLETE ....

[2015-10-29 12:44] hdannyyi commented on #463
http://sophisticated-laugh.surge.sh/

https://github.com/hdannyyi/javascript-koans

[2015-10-29 12:46] AirForcePierce commented on #568
Repo

https://github.com/AirForcePierce/improvedcontactapp

Surge

http://redundant-deer.surge.sh/

form is not styled

[2015-10-29 12:46] #568 closed

[2015-10-29 13:08] hyonakim commented on #567
new surge link --> http://barbarous-houses.surge.sh
***Fixed Add Student button***

[2015-10-29 13:08] #567 closed

[2015-10-29 13:09] taheaton commented on #562
fabulous-gate.surge.sh - still working on format
https://github.com/taheaton/contacts2

[2015-10-29 13:09] #562 closed

[2015-10-29 14:29] ceduncan1 commented on #538
Hey Tim,

I know I'm behind.  I have been working on things.  It's just been a hellish week.  Here's something:

https://github.com/ceduncan1/contact-list
ceduncan_tiy_contact-list-1.surge.sh

[2015-10-29 14:29] #538 closed

[2015-10-29 15:53] twhitacre commented on #576
:+1: Nice work - the app feels very smooth, which is awesome. Not jumpy at all. Great job!

[2015-10-29 15:56] twhitacre commented on #573
@havisk this is _really_ close. See [here](https://github.com/havisk/Router/blob/master/js/router.js#L51-L54), it looks like you sent in the properties as lowercase, but on Parse they are uppercase, so that's why they are undefined on the page. You are doing everything else right though. See if you can update that and re-submit.

[2015-10-29 15:57] twhitacre commented on #572
:+1: Nice work!

[2015-10-29 15:58] twhitacre commented on #570
:+1: Nice job!

[2015-10-29 15:58] twhitacre commented on #569
:+1: Nice work!

[2015-10-29 15:59] twhitacre commented on #568
:+1: Nice work!

[2015-10-29 16:01] twhitacre commented on #567
:+1: Great work!

[2015-10-29 16:02] twhitacre commented on #564
@luketgriffith it's working pretty well, but see if you can get the list to refresh/reload after I've added someone to the list.

[2015-10-29 16:04] MichaelGaynor commented on #565
https://github.com/MichaelGaynor/BackboneRouterProject/tree/hardmode

This is where I am working on it, i didn't submit because it wasn't done, but here's what I have so far

[2015-10-29 16:08] hopecrichlow commented on #533
https://github.com/hopecrichlow/Assignment-20/tree/dev

nervous-mother.surge.sh

[2015-10-29 16:08] #533 closed

[2015-10-29 18:10] havisk commented on #573
http://bawdy-print.surge.sh/

https://github.com/havisk/Router

[2015-10-29 18:10] #573 closed

[2015-10-29 23:22] waspnx commented on #522
Finally got it.

[2015-10-29 23:22] #522 closed

[2015-10-29 23:27] jisaacks commented on #560
Thanks for turning in what you have. Please close again when you have it ready.

[2015-10-29 23:30] jisaacks commented on #559
Looks great!

[2015-10-29 23:31] jisaacks commented on #558
Thanks for turning this in. Is deployed somewhere?

[2015-10-29 23:32] jisaacks commented on #557
Looks great!

[2015-10-29 23:35] jisaacks commented on #556
Good job!

[2015-10-29 23:37] jisaacks commented on #554
What you have so far looks great. If you need any help grab me (or anyone).

[2015-10-29 23:37] jisaacks commented on #555
Thanks, what you have so far looks great. Make sure to close this again when it is finished.

[2015-10-29 23:41] jisaacks commented on #553
Love it! In your code it looks like you are using tabs. Can you start using spaces (2) please.

[2015-10-29 23:43] jisaacks commented on #552
Looks great! You defined the [edit/:id](https://github.com/IsaacHardy/ContactList2/blob/master/js/router.js#L11-L13) route twice tho.

[2015-10-29 23:44] jisaacks commented on #550
What you have looks great. You need to add the route to add a new record though.

[2015-10-29 23:46] jisaacks commented on #565
Thanks for submitting what you have. Please close when you have it ready

[2015-10-29 23:49] jisaacks commented on #562
Good job on this!

[2015-10-29 23:53] jisaacks commented on #538
Looks good to me!

[2015-10-29 23:54] jisaacks commented on #489
Cool, Kool. Please close this again when you have something closer.

[2015-10-29 23:55] jisaacks commented on #482
Hey, if you are still having trouble with this still tomorrow grab me so I can help you turn something in (so it is not a zero.)

[2015-10-29 23:57] jisaacks commented on #463
Danny I don't see any commits by you on your repo. Did you make any?

[2015-10-30 00:02] jisaacks commented on #573
:+1:

[2015-10-30 00:03] jisaacks commented on #543
I am still getting a page not found when I go to the link.

[2015-10-30 00:04] jisaacks commented on #535
Your deployed App looks great. Please grab me if you need help pushing to github.

[2015-10-30 00:06] jisaacks commented on #533
This looks great. Did you completely redo it since you last turned in what you had?

[2015-10-30 00:07] jisaacks commented on #530
Great!

[2015-10-30 00:08] jisaacks commented on #527
:+1:

[2015-10-30 00:10] jisaacks commented on #518
I do not see any JS errors but nothing happens when I click on a name. Please make the navigation work and reclose.

[2015-10-30 00:11] jisaacks commented on #495
Hey Jef, I am still not seeing any data on the screen.

[2015-10-30 00:12] jisaacks commented on #331
It'll do.

[2015-10-30 00:14] jisaacks commented on #302
Well being that you have assignment 12 working (which is a superset of this assignment) I'll accept that for this one as well.

[2015-10-30 01:40] Shalmalidp commented on #560
REPO : https://github.com/Shalmalidp/TheIronYard

surge :ablaze-silk.surge.sh

[2015-10-30 01:40] jefdonmar commented on #523
general-business.surge.sh

[2015-10-30 13:36] jisaacks commented on #560
Looks good.

[2015-10-30 13:37] Shalmalidp commented on #560
thanks

[2015-10-30 13:37] jisaacks commented on #523
Great job!

[2015-10-30 17:51] jefdonmar commented on #495
Here is my fixed assignment

useful-offer.surge.sh

[2015-10-30 18:01] twhitacre opened #577 "Assignment 21"
@amitshah86 this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #578 "Assignment 21"
@waspnx this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #579 "Assignment 21"
@jefdonmar this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #580 "Assignment 21"
@IsaacHardy this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #581 "Assignment 21"
@thedoublewolf this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #582 "Assignment 21"
@johnrae this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #583 "Assignment 21"
@sbesozzi this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #584 "Assignment 21"
@jbrz this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #585 "Assignment 21"
@charlahcodes this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #586 "Assignment 21"
@itawtitawapuddytat this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #587 "Assignment 21"
@Jrob1991 this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #588 "Assignment 21"
@shalmalidp this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #589 "Assignment 21"
@hopecrichlow this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #590 "Assignment 21"
@taheaton this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #591 "Assignment 21"
@JefBlocker this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #592 "Assignment 21"
@luketgriffith this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #593 "Assignment 21"
@MichaelGaynor this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #594 "Assignment 21"
@ceduncan1 this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #595 "Assignment 21"
@hyonakim this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #596 "Assignment 21"
@AirForcePierce this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #597 "Assignment 21"
@corifowler this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #598 "Assignment 21"
@kmooney517 this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #599 "Assignment 21"
@vpdolan this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #600 "Assignment 21"
@faircloth this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #601 "Assignment 21"
@havisk this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #602 "Assignment 21"
@BoyzieLee this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #603 "Assignment 21"
@hdannyyi this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 18:01] twhitacre opened #604 "Assignment 21"
@JesseSoldat this is your issue for *Assignment 21*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-10-30 22:04] waspnx commented on #550
got everything working finally

[2015-10-30 22:04] #550 closed

[2015-10-31 00:10] jisaacks commented on #550
Great work!

[2015-10-31 00:13] jisaacks commented on #495
It looks good Jef, can you please also post a link to your repo.

[2015-10-31 20:35] jefdonmar commented on #495
Sorry about that
https://github.com/jefdonmar/introToBackBone

[2015-10-31 20:35] #495 closed

[2015-11-01 04:53] jefdonmar commented on #551
here is my surge deployment page:

cowardly-nut.surge.sh

and my gh-pages:

https://github.com/jefdonmar/CartoonListRouter2/tree/jeff-dev

Everything works, but I have been trying to debug the reason why my individual cartoons information hasn't been being pulled correctly from parse for the past few hours and I still can't figure it out.. would love some assistance with this

[2015-11-01 15:27] jisaacks commented on #495
:+1:

[2015-11-01 15:33] jisaacks commented on #551
Jef in [this line](https://github.com/jefdonmar/CartoonListRouter2/blob/jeff-dev/js/router.js#L28):

[code]

This is why when you click on an item you are not getting the data.

Please fix that.

[2015-11-01 19:24] luketgriffith commented on #564
http://maddening-memory.surge.sh/#
i had location reload in the original one, i'm not sure why it wasn't working. I removed it and put it back in the same spot and now it seems to be working

[2015-11-01 19:24] #564 closed

[2015-11-01 21:44] jefdonmar commented on #551
Thanks JD. Here is my update "master" repo with this

https://github.com/jefdonmar/CartoonListRouter2/tree/master

[In the most joking and understanding way possible]  I have noticed that some of my comments have been given to me as ""Jef" (how Jef Blocker spells his name), versus "Jeff" ( how I spell my name). With the unfair nature of the class roster please fell free to call me Jeffrey. Again..

[2015-11-01 22:47] kmooney517 commented on #598
https://github.com/kmooney517/instagramClone
http://true-self.surge.sh/

I had trouble with setting the initial and updated states for the edit feature - i'd like to talk to one of y'all about it to see where the error is.  Everything will work now, as long as you enter in all values, if not, it will be updated with the blank values.

[2015-11-01 22:47] #598 closed

[2015-11-01 23:19] taheaton commented on #590
uncovered-finger.surge.sh

[2015-11-02 00:01] MichaelGaynor commented on #565
violet-train.surge.sh

OH MY GOD IT WORKS. Same github link!

[2015-11-02 00:01] #565 closed

[2015-11-02 01:42] jisaacks commented on #565
OH MY GOD IT DOES. :+1:

[2015-11-02 01:44] jisaacks commented on #551
Ahh, I thought you both spelled it __Jef__, since your username is __jef__ donmar.

I am still seeing the issue when I visit your page though.

[2015-11-02 01:55] faircloth commented on #600
surge: http://meet-cfp.surge.sh/
repo: https://github.com/faircloth/meetTheCFP

[2015-11-02 01:55] #600 closed

[2015-11-02 01:56] luketgriffith commented on #592
https://repulsive-achieve.surge.sh/#
https://github.com/luketgriffith/pictureDepot2

[2015-11-02 01:56] #592 closed

[2015-11-02 02:38] corifowler commented on #597
Repository: https://github.com/corifowler/corinstagram
Surge: http://wary-reading.surge.sh/

[2015-11-02 02:38] #597 closed

[2015-11-02 02:39] thedoublewolf commented on #581
I used the first method we learned in hopes of translating the code to use React, but I am having trouble wrapping my head around the syntax.  Everything is functional except for editing.

repo: https://github.com/thedoublewolf/favorite-bands-React/tree/master
surge:  http://tense-jump.surge.sh/

[2015-11-02 02:39] #581 closed

[2015-11-02 02:48] JesseSoldat commented on #604
https://github.com/JesseSoldat/reactAroundTheWorld

http://interesting-trade.surge.sh/

[2015-11-02 02:59] jefdonmar commented on #551
Didn't know I had to create another surge link. Here you go

insidious-potato.surge.sh

[2015-11-02 03:05] Shalmalidp commented on #588
REPO :   https://github.com/Shalmalidp/BombayTalkies

INCOMPLETE

[2015-11-02 03:07] IsaacHardy commented on #580
RIPO: https://github.com/IsaacHardy/ElloGram
LINK: http://tenuous-ants.surge.sh/#picture

[2015-11-02 03:07] #580 closed

[2015-11-02 03:39] charlahcodes commented on #585
Repo: https://github.com/charlahcodes/backbone-and-react
Surge: http://ill-informed-committee.surge.sh/

Had trouble getting the "edit" page to work...

[2015-11-02 03:39] #585 closed

[2015-11-02 04:01] JefBlocker commented on #222
Completed the JS coding to get answers to appear on page.  Need to modify styling to prevent overlapping.

[2015-11-02 04:58] JefBlocker commented on #591
repository: https://github.com/JefBlocker/oct30

surge: sleepy-border.surge.sh.

I think I have some old errors in my files because these files don't even exist anymore

[2015-11-02 05:53] hyonakim commented on #595
repo --> https://github.com/hyonakim/StudentProfiles

Incomplete. Cannot get my images to show. Running into weird errors.

[2015-11-02 07:00] sbesozzi commented on #583
https://github.com/sbesozzi/Fauxstagram

http://tiy.sarah.fauxstagram.surge.sh/#images

save buttons in add and edit views not working yet :(

[2015-11-02 07:00] #583 closed

[2015-11-02 07:49] waspnx commented on #578
repo: https://github.com/waspnx/instareact
surge: https://instareact.surge.sh

incomplete

[2015-11-02 08:38] havisk commented on #601
https://github.com/havisk/Router3

totally not working.. will continue to work on it.

[2015-11-02 12:11] itawtitawapuddytat commented on #586
needs more work, but this is what I have so far: https://github.com/itawtitawapuddytat/Instragramish

[2015-11-02 12:51] jefdonmar commented on #579
https://github.com/jefdonmar/Instaclone/tree/jeff-dev

I am still debugging my single picture view and add photo form... but it is coming along

[2015-11-02 13:30] vpdolan commented on #599
https://github.com/vpdolan/assign21
having problems with modules not being recognized. need to finish scss.  worked very hard trying to get the js coding over the weekend, especially noting the interrelationships b/w files.  all in all, beginning to make some sense!

[2015-11-02 13:40] #331 closed

[2015-11-02 13:42] jbrz commented on #472
https://elderly-disgust.surge.sh
https://github.com/jbrz/GoodGame

Sorry this is so late.  Between the tests not working forever (thanks for solving that, JD...I'm an idiot), and me not knowing how `git stash/pop` works and redoing a large chunk of code, this was like a nightmare project.  Still haven't gotten everything to appear on the page as it should, but I think all the javascript is good an

[2015-11-02 13:46] jbrz commented on #584
http://tricky-science.surge.sh
https://github.com/jbrz/Notstagram

tricky science indeed.  This is bollocks.  I'm gonna need someone who knows what they're doing to look at my stuff because I'm sure something about my handlers is wrong, but gulp just dies faster than Old Yeller, nothing pops up on the page, and I get about a billion lines of nonsense in terminal.

LOVE YOU GUYS THO <3

[2015-11-02 13:59] Johnrae commented on #582
heres the repo for what i got done this weekend, it still doesnt work yet, but its kinda getting there
https://github.com/Johnrae/insta

[2015-11-02 14:22] JesseSoldat commented on #604
https://github.com/JesseSoldat/instagramReact-

first attempt

[2015-11-02 14:22] #604 closed

[2015-11-02 15:26] twhitacre commented on #604
:+1: Great job.

One key thing to remember though, is when you are editing a resource, you should provide the current value as the initial value on the screen so a user knows what they are updating.

[2015-11-02 15:26] twhitacre commented on #600
:+1: Great work. Nice UX

[2015-11-02 15:27] twhitacre commented on #601
@havisk let JD or I know if you need any help!

[2015-11-02 16:03] twhitacre commented on #598
:+1: Great job. Let me know if you want to chat through setting the initial edit values.

[2015-11-02 16:05] twhitacre commented on #599
Let me know how I can help!

[2015-11-02 16:06] twhitacre commented on #597
:+1: Great job.

[2015-11-02 16:07] twhitacre commented on #595
@hyonakim no worries, let me know if you need help wrapping it up.

[2015-11-02 16:08] twhitacre commented on #592
:+1: Great work. Loved the photos

[2015-11-02 16:11] twhitacre commented on #591
@JefBlocker your code is looking good, but not much is on the screen. We can chat about it today or set up a different time, but let me know what piece you need help with.

[2015-11-02 16:13] twhitacre commented on #590
@taheaton The app is looking great! Seems like you are missing the add/edit features though. Let us know if you need help with that.

[2015-11-02 16:13] twhitacre commented on #588
@Shalmalidp let us know what you need help with.

[2015-11-02 16:15] twhitacre commented on #585
:+1: Looks good.

You should wrap up the edit page, but it's complete enough to be closed.

[2015-11-02 16:15] twhitacre commented on #586
@itawtitawapuddytat code is looking good. Let us know how we can help you wrap it up.

[2015-11-02 16:16] twhitacre commented on #583
:+1: Really great job!

Done enough to be closed, but let me know if you need help figuring out the edit button.

[2015-11-02 16:17] JRob1991 commented on #587
I am about 80-90% complete. I need to finish up a little bit of styling and finish up the Edit page. So I will finish that today.

Surge: https://amused-cars.surge.sh
Repo: https://github.com/JRob1991/Assignment-21---Project

[2015-11-02 16:17] #587 closed

[2015-11-02 16:18] twhitacre commented on #581
:+1: Excellent work! Love the design and concept.

^ Love this :smile:

[2015-11-02 16:18] twhitacre commented on #582
@Johnrae let us know how we can help you wrap it up.

[2015-11-02 16:19] twhitacre commented on #587
:+1: Great job!

Let me know if you need help wrapping up the edit screen, but I marked it closed.

[2015-11-02 16:20] twhitacre commented on #580
:+1: Excellent work! Love the design and the UX.

[2015-11-02 16:21] twhitacre commented on #578
@waspnx getting there - code is looking pretty good. Let me know how we can help wrap things up.

[2015-11-02 16:47] hopecrichlow commented on #589
https://github.com/hopecrichlow/Insta

http://natural-month.surge.sh/

[2015-11-02 18:18] JesseSoldat commented on #464
http://faulty-houses.surge.sh/
https://github.com/JesseSoldat/javascript-koans

[2015-11-02 18:18] #464 closed

[2015-11-02 18:28] ceduncan1 commented on #594
Tim,
We talked about how this just does not work.  Here's proof that I didn't just not write code this weekend.  I just hit a point where nothing was working or happening.

https://github.com/ceduncan1/Fauxstagram
ceduncan_tiy_instagram1.surge.sh

[2015-11-02 18:31] ceduncan1 commented on #482
Just saw this.  Sorry, thought I'd sent this in, once we figured out my issues with git.

Still haven't gotten to finish it; I got really thrown off by backbone and focussed on that this past week.  I'll come back once I feel like I've got my feet back under me.

https://github.com/ceduncan1/Turn-Game
ceduncan_tiy_turn-game.surge.sh

[2015-11-02 19:16] jefdonmar commented on #579
here is my updated repo

https://github.com/jefdonmar/Instaclone/tree/jeff-dev

once I catch up in class I am going to go back and add more styles

also here is my surge app link

abrupt-leaf.surge.sh

[2015-11-02 20:47] jisaacks commented on #551
Thanks Jeff, the routes work now which is a great step towards having this where you need it. However, when I add a new record, all the values are saved as undefined.

[2015-11-02 20:50] jisaacks commented on #222
Yep looks good. Let us know when you get that styling fixed.

[2015-11-03 15:22] taheaton commented on #590
Tim - edit actually works now.  I am going to do a lot more with the site but here it is as of now.

snobbish-liquid.surge.sh
https://github.com/taheaton/reactproject

[2015-11-03 15:22] #590 closed

[2015-11-03 19:04] twhitacre opened #605 "Assignment 22"
@amitshah86 this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #606 "Assignment 22"
@waspnx this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #607 "Assignment 22"
@jefdonmar this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #608 "Assignment 22"
@IsaacHardy this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #609 "Assignment 22"
@thedoublewolf this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #610 "Assignment 22"
@johnrae this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #611 "Assignment 22"
@sbesozzi this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #612 "Assignment 22"
@jbrz this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #613 "Assignment 22"
@charlahcodes this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #614 "Assignment 22"
@itawtitawapuddytat this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #615 "Assignment 22"
@Jrob1991 this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #616 "Assignment 22"
@shalmalidp this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #617 "Assignment 22"
@hopecrichlow this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #618 "Assignment 22"
@taheaton this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #619 "Assignment 22"
@JefBlocker this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #620 "Assignment 22"
@luketgriffith this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #621 "Assignment 22"
@MichaelGaynor this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #622 "Assignment 22"
@ceduncan1 this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #623 "Assignment 22"
@hyonakim this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #624 "Assignment 22"
@AirForcePierce this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #625 "Assignment 22"
@corifowler this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #626 "Assignment 22"
@kmooney517 this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #627 "Assignment 22"
@vpdolan this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #628 "Assignment 22"
@faircloth this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #629 "Assignment 22"
@havisk this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #630 "Assignment 22"
@BoyzieLee this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #631 "Assignment 22"
@hdannyyi this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 19:04] twhitacre opened #632 "Assignment 22"
@JesseSoldat this is your issue for *Assignment 22*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-03 21:15] jisaacks commented on #594
Thanks for turning in what you got. As always hit us up for help during lab or ask questions during review. Please re-close when you have it closer.

[2015-11-03 21:18] jefdonmar commented on #551
Ok... this should have fixed it.. I think it was just something on with the internet... because once i turned off gulp, re started it, then resurged it... it worked even with those bugs you were experiencing... even added two new characters

http://blue-jar.surge.sh/#cartoons

here is my updated repo

https://github.com/jefdonmar/CartoonListRouter2

[2015-11-03 21:19] jisaacks commented on #590
Good job! The info does not seem to be saving but the pictures are. So I will accept it.

[2015-11-03 21:19] twhitacre commented on #464
:+1: Great work! Thanks for wrapping this up.

[2015-11-03 21:20] jisaacks commented on #589
What you have so far looks great. Please close this back out when it is closer to complete.

[2015-11-03 21:21] twhitacre commented on #482
@ceduncan1 It works, and there are no errors, but yeah it needs some design around it.

This is usually a great portfolio piece for a student. Don't let it hold you back, _but_ for sure try to finish it up when you can.

[2015-11-03 21:22] twhitacre commented on #551
:+1: Looks good. Things seem to work better now.

[2015-11-03 21:23] twhitacre commented on #564
:+1: Nice job!

[2015-11-03 21:23] jisaacks commented on #579
Great job!

[2015-11-03 21:39] jisaacks commented on #584
I think we figured this out together. Also don't forget to close the issue. I almost didn't see this comment and marked it as a zero.

[2015-11-03 21:40] jisaacks commented on #472
Again, please don't forget to close things out.. Almost missed this. :)

[2015-11-03 21:40] #472 closed

[2015-11-04 01:15] luketgriffith commented on #620
https://github.com/tiy-atl-js-sept-2015/ReactRefactor/pull/1
https://ripe-clover.surge.sh

[2015-11-04 01:15] #620 closed

[2015-11-04 01:51] sbesozzi commented on #583
@twhitacre Thanks! I got the save and edit buttons working and finally done. Yay!

https://github.com/sbesozzi/Fauxstagram
http://tiy.sarah.fauxstagram.surge.sh/#images

[2015-11-04 02:35] IsaacHardy commented on #608
RIPO: https://github.com/IsaacHardy/ReactRefactor
LINK: young-laborer.surge.sh

[2015-11-04 03:05] charlahcodes commented on #613
Having a bit of a hard time with this one...
Repo (so far): https://github.com/charlahcodes/ReactRefactor

[2015-11-04 03:11] kmooney517 commented on #626
my gulp file hasnt worked for over an hour - i don't know if i've been doing good things or bad things for several hours. I have linked my repo - but need to do a lot of talking with you guys before being content with this. Sorry -
https://github.com/kmooney517/ReactRefactor

[2015-11-04 03:25] JesseSoldat commented on #632
not done yet

cheap-value.surge.sh

[2015-11-04 03:31] jefdonmar commented on #239
https://github.com/jefdonmar/JS_Hex_clock

[2015-11-04 04:18] thedoublewolf commented on #609
Turning in what I have so far.  Stuck on rendering the <li>'s.
https://github.com/tiy-atl-js-sept-2015/ReactRefactor/pull/5
http://painful-needle.surge.sh/

[2015-11-04 04:36] corifowler commented on #625
I'm not finished with this assignment, but I'm uploading what I have.

I am able to add list items, and I've semi worked out changing the states on the actual items so that the class changes when clicked, but it has some bugs and is not fully functional. (see my todo_list + main.js file)

Surge: http://burly-net.surge.sh/
Pull Request: https://github.com/tiy-atl-js-sept-2015/ReactRefactor/pull/6
R

[2015-11-04 04:40] faircloth commented on #628
http://neighborly-women.surge.sh/

Did not finish. Struggled with the class name completed feature.

[2015-11-04 04:46] sbesozzi commented on #611
https://github.com/tiy-atl-js-sept-2015/ReactRefactor/pull/7

http://tiy.sarah.reactrefactor.surge.sh/

[2015-11-04 05:01] JRob1991 commented on #615
Very difficult assignment. I ended up stopping halfway through and began to make my own from scratch as I wasn't getting very far. I still need to style it and some of the functions don't work as well as I'd like yet. But I will be working on this more tomorrow. I need sleep now!

Surge: https://sincere-position.surge.sh
Repo: https://github.com/JRob1991/Assignment22

Will probably be a completely

[2015-11-04 05:07] JefBlocker commented on #619
I haven't finished, but this is what I have so far.

pull request: https://github.com/tiy-atl-js-sept-2015/ReactRefactor/pull/8
surge: handsome-sofa.surge.sh

[2015-11-04 06:12] hyonakim commented on #623
repo --> https://github.com/tiy-atl-js-sept-2015/ReactRefactor/pull/9

Incomplete, still working on it

[2015-11-04 10:28] itawtitawapuddytat commented on #614
still needs work, this is what I have for now: https://github.com/itawtitawapuddytat/ReactRefactor

[2015-11-04 11:14] Shalmalidp commented on #616
https://github.com/Shalmalidp/ReactRefactor

incomplete

[2015-11-04 12:48] havisk commented on #629
can not get rid of gulp error will continue to work on it

repo so far  https://github.com/havisk/ReactRefactor/tree/reactreactorhw

[2015-11-04 12:53] vpdolan commented on #627
vinnies-multiple-router-paths.surge.sh

https://github.com/vpdolan/assign21

Good Morning Tim,
I worked more on this last night. Updated a few files so the page looked better and made more sense. Got a few other link buttons to work.  Not perfect yet. It looked like i could add a new photo w/new object id.  however, no new photo appeared on site nor did the new number update in Parse.  Thanks

[2015-11-04 13:30] vpdolan commented on #459
Hey Tim, it looks like all files' questions were answered  i re-pushed everything.  I see where only 47 were answered.  but after opening each file and looking at them in sublime, all 8 files are accounted for and I could not see where any questions were left unanswered.  I may need your help to figure out what I did not do correctly. Thanks

https://github.com/vpdolan/javascript-koans

[2015-11-04 14:23] waspnx commented on #606
https://github.com/waspnx/ReactRefactor

incomplete

[2015-11-04 14:43] jbrz commented on #612
https://github.com/tiy-atl-js-sept-2015/ReactRefactor/pull/13
https://github.com/jbrz/ReactRefactor

haven't surged it bc it's not done and that makes me sad.  Soon™

[2015-11-04 16:19] twhitacre commented on #239
@jefdonmar can you post a link to a deployed version of this?

[2015-11-04 16:21] twhitacre commented on #459
@vpdolan My guess is you have a JS error - did you check your Chrome console?

[2015-11-04 16:22] twhitacre commented on #584
@jbrz are you able to post a new `surge.sh` link?

[2015-11-04 16:30] jefdonmar commented on #239
http://infamous-seashore.surge.sh/

Here ya go

[2015-11-04 16:30] #239 closed

[2015-11-04 19:20] jisaacks commented on #608
Thanks for turning this in. Please close it back out when it is ready.

[2015-11-04 19:23] jisaacks commented on #628
What you have so far looks good.

[2015-11-04 19:24] jisaacks commented on #625
What you have so far looks good. Close back out when it is a little closer.

[2015-11-04 19:26] jisaacks commented on #609
What you have so far looks good. Close back out when it is a little closer.

[2015-11-04 19:27] jisaacks commented on #632
What you have so far looks good. Close back out when it is a little closer.

[2015-11-04 19:28] jisaacks commented on #626
Sorry you were having issues. If you still have issues feel free to grab myself or Tim for help.

[2015-11-04 19:29] jisaacks commented on #629
OK, what was the gulp error? Did you ask someone for help?

[2015-11-04 19:31] jisaacks commented on #627
Hey Vinnie, I get an error when I go to your surge. Also I see you mentioning photos, this homework assignment was just the todo list, not the photo gallery.

[2015-11-04 19:31] jisaacks commented on #623
Thanks. Close back out when it is a little closer.

[2015-11-04 19:34] jisaacks commented on #620
Thanks for actually making the Pull Request like you were supposed to. Only one so far I have seen that actually did that :+1:

Also good job!!

[2015-11-04 19:36] jisaacks commented on #619
Your code looks like a great start. Your deployment it still using the original non react version.

[2015-11-04 19:37] jisaacks commented on #616
Thanks for turning something in. Close back out when it is a little closer.

[2015-11-04 19:38] jisaacks commented on #615
What you have so far looks good. Don't forget you'll need to make a PR when done.

[2015-11-04 19:39] jisaacks commented on #614
Thanks for turning in what you have. Don't forget to make a PR next time you close this out.

[2015-11-04 19:40] jisaacks commented on #612
What you have so far looks good. Close back out when it is a little closer.

[2015-11-04 19:42] jisaacks commented on #611
Thanks Sarah. You have written some react code but your app is still rendering the old non react version.

[2015-11-04 19:43] jisaacks commented on #606
Please close back out when it is a little closer.

[2015-11-04 19:44] jisaacks commented on #239
:+1:

[2015-11-05 07:29] havisk commented on #601
http://obsolete-war.surge.sh/?#

https://github.com/havisk/Router3

Tim you said you would look and see if you can get the file upload to work. if you have time

[2015-11-05 07:29] #601 closed

[2015-11-05 14:55] hdannyyi commented on #463
yeah i made 7 commits. it should be on the completed branch

[2015-11-05 15:08] hdannyyi commented on #205
https://github.com/hdannyyi/js-exercises

http://hdannyyi.github.io/js-exercises gh-pages seems to not be working

still have a couple problems left on exercise 2 and the arrays. will finish later

[2015-11-09 04:03] twhitacre commented on #463
@hdannyyi looks like only 50/50 - it should be 53/53

Let me know if you need help with the last three.

[2015-11-09 04:04] twhitacre commented on #601
:+1: Nice work!

We did meet, but let me know if there is anything else you want to look over.

[2015-11-09 04:04] twhitacre commented on #205
Cool - let me know if you need help with any of these!

[2015-11-09 04:07] #204 closed

[2015-11-09 04:07] #233 closed

[2015-11-09 04:07] #262 closed

[2015-11-09 04:07] #320 closed

[2015-11-09 04:07] #349 closed

[2015-11-09 04:07] #462 closed

[2015-11-09 04:07] #490 closed

[2015-11-09 04:07] #518 closed

[2015-11-09 04:07] #546 closed

[2015-11-09 04:07] #574 closed

[2015-11-09 04:07] #602 closed

[2015-11-09 04:07] #630 closed

[2015-11-09 18:41] twhitacre opened #633 "Assignment 23"
@amitshah86 this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #634 "Assignment 23"
@waspnx this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #635 "Assignment 23"
@jefdonmar this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #636 "Assignment 23"
@IsaacHardy this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #637 "Assignment 23"
@thedoublewolf this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #638 "Assignment 23"
@johnrae this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #639 "Assignment 23"
@sbesozzi this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #640 "Assignment 23"
@jbrz this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #641 "Assignment 23"
@charlahcodes this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #642 "Assignment 23"
@itawtitawapuddytat this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #643 "Assignment 23"
@Jrob1991 this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #644 "Assignment 23"
@shalmalidp this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #645 "Assignment 23"
@hopecrichlow this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #646 "Assignment 23"
@taheaton this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #647 "Assignment 23"
@JefBlocker this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #648 "Assignment 23"
@luketgriffith this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #649 "Assignment 23"
@MichaelGaynor this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #650 "Assignment 23"
@ceduncan1 this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #651 "Assignment 23"
@hyonakim this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #652 "Assignment 23"
@AirForcePierce this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #653 "Assignment 23"
@corifowler this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #654 "Assignment 23"
@kmooney517 this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #655 "Assignment 23"
@vpdolan this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #656 "Assignment 23"
@faircloth this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #657 "Assignment 23"
@havisk this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #658 "Assignment 23"
@hdannyyi this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:41] twhitacre opened #659 "Assignment 23"
@JesseSoldat this is your issue for *Assignment 23*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-09 18:42] MichaelGaynor commented on #649
http://somber-pies.surge.sh/

https://github.com/MichaelGaynor/AngularButton/blob/master/js/ThisController.js

enjoy the fire!

[2015-11-09 18:42] #649 closed

[2015-11-09 18:42] AirForcePierce commented on #652
surge

http://pleaselikemebutton.surge.sh

repo

https://github.com/AirForcePierce/LikeButton

I like Angular!!!!!

[2015-11-09 18:42] #652 closed

[2015-11-09 18:52] havisk commented on #657
http://illini-likes.surge.sh/

https://github.com/havisk/Likes

[2015-11-09 18:52] #657 closed

[2015-11-09 19:00] IsaacHardy commented on #636
RIPO: https://github.com/IsaacHardy/LikeBTN
LINK: dangerous-heat.surge.sh

[2015-11-09 19:00] #636 closed

[2015-11-09 20:29] faircloth commented on #656
http://graceful-fruit.surge.sh/

[2015-11-09 20:29] #656 closed

[2015-11-09 20:37] kmooney517 commented on #654
stormy-limit.surge.sh

https://github.com/kmooney517/angularLike

[2015-11-09 20:38] #654 closed

[2015-11-09 21:00] jbrz commented on #640
https://github.com/jbrz/LikeButton

gruesome-eggnog.surge.sh

[2015-11-09 21:00] #640 closed

[2015-11-09 21:09] luketgriffith commented on #648
charming-question.surge.sh
https://github.com/luketgriffith/angularday1

[2015-11-09 21:09] #648 closed

[2015-11-09 21:17] Johnrae commented on #638
https://material-muscle.surge.sh
^surgeee
https://github.com/Johnrae/ngbutton
^repo

[2015-11-09 21:17] #638 closed

[2015-11-09 21:24] corifowler commented on #653
Repository: https://github.com/corifowler/like-button-angular
Surge: http://wide-servant.surge.sh/

[2015-11-09 21:24] #653 closed

[2015-11-09 21:30] charlahcodes commented on #641
Repo: https://github.com/charlahcodes/angular-like-button
Surge: http://decisive-machine.surge.sh/

[2015-11-09 21:30] #641 closed

[2015-11-09 21:31] Shalmalidp commented on #644
SURGE :   outstanding-metal.surge.sh

REPO :  https://github.com/Shalmalidp/AngularButton-day1

[2015-11-09 21:31] #644 closed

[2015-11-09 21:32] amitshah86 commented on #633
https://github.com/amitshah86/Assignment23

[2015-11-09 21:35] amitshah86 commented on #633
willing-slip.surge.sh

[2015-11-09 21:35] #633 closed

[2015-11-09 21:39] waspnx commented on #634
surge: https://allofthelikes.surge.sh

repo: https://github.com/waspnx/allOfTheLikes

[2015-11-09 21:39] #634 closed

[2015-11-09 21:48] sbesozzi commented on #639
https://github.com/sbesozzi/Angular-Like-Button

http://sarah.besozzi.angular.likebutton.surge.sh/

[2015-11-09 21:48] #639 closed

[2015-11-09 22:22] sbesozzi commented on #555
@jisaacks Fixed the add click event!

https://github.com/sbesozzi/Contact-List
http://sarah.besozzi.contactlist.surge.sh/#friends

[2015-11-09 22:22] #555 closed

[2015-11-09 23:23] JesseSoldat commented on #659
obnoxious-trade.surge.sh

[2015-11-09 23:23] JesseSoldat commented on #659
https://github.com/JesseSoldat/angular-like-btn

[2015-11-09 23:23] #659 closed

[2015-11-09 23:32] thedoublewolf commented on #637
repo: https://github.com/thedoublewolf/LikeButton
surge: http://inexpensive-care.surge.sh
click the button 50 times!

[2015-11-09 23:32] #637 closed

[2015-11-09 23:44] thedoublewolf commented on #637
so, i'm spoiling the suprise, but surge isn't showing this image on the 50th like: https://github.com/thedoublewolf/LikeButton/blob/master/app/doge.JPG

[2015-11-10 00:45] hopecrichlow commented on #645
Repo
https://github.com/hopecrichlow/Like-Button

Surge
http://shnuckums-graduation.surge.sh/

[2015-11-10 00:45] #645 closed

[2015-11-10 02:35] taheaton commented on #646
shy-chin.surge.sh
https://github.com/taheaton/angulaire

[2015-11-10 04:25] #191 closed

[2015-11-10 05:26] JefBlocker commented on #647
repository: https://github.com/JefBlocker/assignment23
surge: subsequent-can.surge.sh

[2015-11-10 05:26] #647 closed

[2015-11-10 05:37] hyonakim commented on #651
repo -> https://github.com/hyonakim/LikeButton
surge -> http://that-likebutton.surge.sh

[2015-11-10 05:37] #651 closed

[2015-11-10 07:11] havisk commented on #489
https://github.com/havisk/The-Game

http://dizzy-distance.surge.sh/

[2015-11-10 07:11] #489 closed

[2015-11-10 08:24] itawtitawapuddytat commented on #642
repo: https://github.com/itawtitawapuddytat/Angular-Like-Button
surge: http://cat-duck.surge.sh/

[2015-11-10 08:24] #642 closed

[2015-11-10 12:58] vpdolan commented on #655
https://github.com/vpdolan/AngularButton

vinnies-angularjs-like-button.surge.sh

[2015-11-10 13:32] jisaacks commented on #659
Good job!

[2015-11-10 13:36] jisaacks commented on #657
Looks good.

[2015-11-10 13:37] jisaacks commented on #656
:+1:

[2015-11-10 13:38] jisaacks commented on #654
:+1: :+1:

[2015-11-10 13:39] jisaacks commented on #655
@vpdolan when I go to your surge page I get an error.

[2015-11-10 13:39] jisaacks commented on #652
:+1:

[2015-11-10 13:40] jisaacks commented on #653
:+1:

[2015-11-10 13:41] jisaacks commented on #651
:+1:

[2015-11-10 13:42] jisaacks commented on #649
:+1:

[2015-11-10 13:44] jisaacks commented on #648
:heart: it.

[2015-11-10 13:46] jisaacks commented on #647
:+1:

[2015-11-10 13:47] jisaacks commented on #645
:+1:

[2015-11-10 13:51] jisaacks commented on #644
:+1:

[2015-11-10 13:52] jisaacks commented on #642
:+1:

[2015-11-10 13:56] jisaacks commented on #640
:+1:

[2015-11-10 13:56] jisaacks commented on #641
:+1:

[2015-11-10 13:56] jisaacks commented on #639
:+1:

[2015-11-10 13:57] jisaacks commented on #637
:+1:

[2015-11-10 13:57] jisaacks commented on #638
:+1:

[2015-11-10 13:58] jisaacks commented on #636
:+1:

[2015-11-10 13:59] jisaacks commented on #634
:+1:

[2015-11-10 13:59] jisaacks commented on #633
:+1:

[2015-11-10 14:08] ceduncan1 commented on #650
ceduncan_tiy_angular-like-button.surge.sh
https://github.com/ceduncan1/Like-Button

[2015-11-10 14:08] #650 closed

[2015-11-10 17:15] twhitacre opened #660 "Assignment 24"
@amitshah86 this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #661 "Assignment 24"
@waspnx this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #662 "Assignment 24"
@jefdonmar this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #663 "Assignment 24"
@IsaacHardy this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #664 "Assignment 24"
@thedoublewolf this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #665 "Assignment 24"
@johnrae this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #666 "Assignment 24"
@sbesozzi this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #667 "Assignment 24"
@jbrz this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #668 "Assignment 24"
@charlahcodes this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #669 "Assignment 24"
@itawtitawapuddytat this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #670 "Assignment 24"
@Jrob1991 this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #671 "Assignment 24"
@shalmalidp this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #672 "Assignment 24"
@hopecrichlow this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #673 "Assignment 24"
@taheaton this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #674 "Assignment 24"
@JefBlocker this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #675 "Assignment 24"
@luketgriffith this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #676 "Assignment 24"
@MichaelGaynor this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #677 "Assignment 24"
@ceduncan1 this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #678 "Assignment 24"
@hyonakim this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #679 "Assignment 24"
@AirForcePierce this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #680 "Assignment 24"
@corifowler this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #681 "Assignment 24"
@kmooney517 this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #682 "Assignment 24"
@vpdolan this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #683 "Assignment 24"
@faircloth this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #684 "Assignment 24"
@havisk this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #685 "Assignment 24"
@hdannyyi this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:15] twhitacre opened #686 "Assignment 24"
@JesseSoldat this is your issue for *Assignment 24*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-10 17:16] #605 closed

[2015-11-10 17:16] #606 closed

[2015-11-10 17:16] #607 closed

[2015-11-10 17:16] #608 closed

[2015-11-10 17:16] #609 closed

[2015-11-10 17:16] #610 closed

[2015-11-10 17:16] #611 closed

[2015-11-10 17:16] #612 closed

[2015-11-10 17:16] #613 closed

[2015-11-10 17:16] #614 closed

[2015-11-10 17:16] #615 closed

[2015-11-10 17:16] #616 closed

[2015-11-10 17:16] #617 closed

[2015-11-10 17:16] #618 closed

[2015-11-10 17:16] #619 closed

[2015-11-10 17:16] #621 closed

[2015-11-10 17:16] #622 closed

[2015-11-10 17:16] #623 closed

[2015-11-10 17:16] #624 closed

[2015-11-10 17:16] #625 closed

[2015-11-10 17:16] #626 closed

[2015-11-10 17:16] #627 closed

[2015-11-10 17:16] #629 closed

[2015-11-10 17:16] #631 closed

[2015-11-10 17:16] #632 closed

[2015-11-10 18:47] jefdonmar commented on #607
Hey Tim,

Don't the group projects not count for 4%? Just noticed it was marked as complete and wanted to make sure that things were being counted correctly or if I misunderstood something

[2015-11-10 18:47] taheaton commented on #646
https://github.com/taheaton/angulaire
http://torpid-scent.surge.sh/

[2015-11-10 18:47] #646 closed

[2015-11-10 19:09] vpdolan commented on #655
http://vinnies-angular-button.surge.sh/

figured out the problem: haven't been typing app after the project path.  sorry!

[2015-11-10 22:29] Shalmalidp commented on #588
SURGE :   uneven-island.surge.sh

REPO : https://github.com/Shalmalidp/BombayTalkies

FINALLYYYYYYYY!!!!!!!!!!!

[2015-11-11 02:11] jefdonmar commented on #635
defiant-plantation.surge.sh

[2015-11-11 13:31] vpdolan commented on #543
http://vinnies-backbonerouter-19a.surge.sh/#people

i have been neglect in typing "app" after typing surge in iterm.  lesson learned. i appreciate your patience!

[2015-11-11 13:31] #543 closed

[2015-11-11 16:29] jisaacks commented on #655
Vinnie, your app looks great! However your repo says it is empty.

[2015-11-11 16:30] jisaacks commented on #543
Great!!

[2015-11-11 16:37] jisaacks commented on #650
:+1:

[2015-11-11 16:37] jisaacks commented on #635
Looks good. Repo?

[2015-11-11 16:39] jisaacks commented on #555
:+1:

[2015-11-11 16:40] jisaacks commented on #489
:+1:

[2015-11-11 16:43] jisaacks commented on #191
:+1:

[2015-11-11 16:45] jefdonmar commented on #635
Sorry about that

https://github.com/jefdonmar/ohhIThinkILikeit

[2015-11-11 16:47] jisaacks commented on #635
:+1:

[2015-11-12 19:25] #628 closed

[2015-11-13 15:43] MichaelGaynor commented on #676
caring-gun.surge.sh

https://github.com/MichaelGaynor/AngularPage

[2015-11-13 15:43] #676 closed

[2015-11-13 18:18] MichaelGaynor commented on #676
improved

tasteful-shake.surge.sh

[2015-11-13 18:22] AirForcePierce commented on #679
Repo
https://github.com/AirForcePierce/VidG-Reviews

Surge
http://vidgreviewstiy.surge.sh/

[2015-11-13 19:10] thedoublewolf commented on #664
https://github.com/thedoublewolf/SketchCloud/tree/master

surge link in readme

[2015-11-13 19:32] MichaelGaynor commented on #676
and even better, because now there's a tiger

actually-stone.surge.sh

[2015-11-13 19:36] luketgriffith commented on #675
brewbook.surge.sh
https://github.com/luketgriffith/homebrew

[2015-11-13 19:36] #675 closed

[2015-11-13 19:57] JesseSoldat commented on #686
https://github.com/JesseSoldat/angProject

http://naruto_vs_bleach.surge.sh/#/single2/nAuNISwD1z

[2015-11-13 19:57] #686 closed

[2015-11-13 20:01] Johnrae commented on #665
https://tasteless-advice.surge.sh
^surge!!
https://github.com/Johnrae/shows
^repo!!

[2015-11-13 20:01] #665 closed

[2015-11-13 20:08] kmooney517 commented on #681
http://gradient.surge.sh
https://github.com/kmooney517/Gradient

[2015-11-13 20:08] #681 closed

[2015-11-13 20:56] itawtitawapuddytat commented on #669
repo: https://github.com/itawtitawapuddytat/Angular-Application

surge: http://obeisant-shoe.surge.sh

[2015-11-13 20:56] #669 closed

[2015-11-13 21:17] taheaton commented on #673
http://daffy-error.surge.sh/#/
https://github.com/taheaton/hayes

If this readme isn't sufficient, please let me know what else I can do.

[2015-11-13 21:31] corifowler commented on #680
Repository: https://github.com/corifowler/cori-list-app
Surge: http://acidic-touch.surge.sh/

[2015-11-13 21:31] #680 closed

[2015-11-13 21:34] Shalmalidp commented on #671
SURGE : curryandcream.surge.sh

REPO : https://github.com/Shalmalidp/Angular-RecipeCollection

[2015-11-13 21:46] faircloth commented on #683
Surge: http://primer-sports.surge.sh/#/
Repo: https://github.com/faircloth/PrimerWebApp

[2015-11-13 21:46] #683 closed

[2015-11-13 21:49] IsaacHardy commented on #663
RIPO: https://github.com/IsaacHardy/The-Pong-Yard
LINK: wrathful-curtain.surge.sh

[2015-11-13 21:54] hyonakim commented on #678
repo -> https://github.com/hyonakim/LANParty
surge -> http://lan-party.surge.sh

[2015-11-13 21:56] charlahcodes commented on #668
Repo: https://github.com/charlahcodes/ng-portfolio
Surge: http://glossy-kite.surge.sh/#/photography

[2015-11-13 21:56] #668 closed

[2015-11-13 21:57] sbesozzi commented on #666
http://sarah.besozzi.thriftedfinds.surge.sh/#/

https://github.com/sbesozzi/Thrifted-Finds-App

[2015-11-13 21:57] #666 closed

[2015-11-13 22:00] waspnx commented on #661
repo: https://github.com/waspnx/ngTodo
surge: https://dusty-comparison.surge.sh

I think I have all the functionality working, just need readME and styling

[2015-11-13 22:02] JefBlocker commented on #674
gh-pages: https://github.com/JefBlocker/assignment24

surge: http://innocent-island.surge.sh/#/

[2015-11-13 22:02] #674 closed

[2015-11-13 22:17] vpdolan commented on #682
github.com/vpdolan/Angularjsassign24

vinnies-angularjs-breakfastrecipes.surge.sh

[2015-11-13 22:21] ceduncan1 commented on #677
Hey!

I'd like to make changes to this (sort by date added, title, artist, or who suggested it) and work on how the soundcloud results show up on the page.

Also, one of the artists' names includes a %, which throws off the search. I'll likely ask you how you'd get around that issue.

Anyways, it's not quite done, but here's what I've got so far:
https://github.com/ceduncan1/MusicSuggestions
cedun

[2015-11-13 22:21] #677 closed

[2015-11-13 22:23] vpdolan commented on #655
https://github.com/vpdolan/AngularButton

My apologies, JD.  I think all is in order now.

Thanks!

[2015-11-13 22:23] #655 closed

[2015-11-13 22:31] IsaacHardy commented on #663
New Link: languid-surprise.surge.sh

[2015-11-13 23:03] amitshah86 commented on #660
http://insidious-powder.surge.sh/#/

[2015-11-13 23:04] amitshah86 commented on #660
https://github.com/amitshah86/AngularMusic

[2015-11-14 15:12] ceduncan1 commented on #677
Dammit, I forgot the Readme.  I'll fix it.

[2015-11-15 19:45] havisk commented on #684
http://get-heard.surge.sh/#/

https://github.com/havisk/Git-Heard

working on getting files upload to parse. then I can pull it down.  then i noticed when i pushed it to surge the dynamic background is not acting right.

[2015-11-16 16:45] jisaacks commented on #686
:+1:

[2015-11-16 16:48] jisaacks commented on #684
When I tried to register I got this error:

Also what part of your app is CRUD?

[2015-11-16 16:54] jisaacks commented on #682
I got some errors when I tried to create a new recipe:

[2015-11-16 16:57] jisaacks commented on #683
:+1:

[2015-11-16 17:03] jisaacks commented on #681
This looks great. When I created an account it said I had already logged 4 river days. I am guessing the entries are not scoped to the user so they all count for everyone. Good work though!

[2015-11-16 17:07] jisaacks commented on #679
Looks great but I could not add a review.

[2015-11-16 17:11] jisaacks commented on #680
:+1:

[2015-11-16 17:13] jisaacks commented on #678
Looks great, I was getting some errors when I tried to add a game though.

[2015-11-16 17:17] jisaacks commented on #676
Thanks. This looks good, I would have preferred you went with an original idea tho.

[2015-11-16 17:17] AirForcePierce commented on #679
I see a couple of Dark Souls 3 reviews ill check and see whats wrong there

[2015-11-16 17:20] jisaacks commented on #677
This looks good enough for me :+1:

[2015-11-16 17:25] jisaacks commented on #675
:+1:

[2015-11-16 17:26] AirForcePierce commented on #679
Repo
https://github.com/AirForcePierce/VidG-Reviews
Surge
http://vidgfinal.surge.sh/

Changes Made
-I added the code to make the input fields clear after the review has been made.  This should let the user know that the data has been submitted!

[2015-11-16 17:26] #679 closed

[2015-11-16 17:26] jisaacks commented on #673
This looks good but I do not see any part using CRUD is there one?

[2015-11-16 17:30] jisaacks commented on #674
This looks good, however when I add an entry, it should take me back the list and display the new entry. I didn't get any indication so I kept hitting the save button so when I went back to the home page I had added it several times. Thats not really a coding problem but a UX problem.

[2015-11-16 17:32] jisaacks commented on #671
What you have so far looks good but I am getting this error when I try to add an entry:

[2015-11-16 17:34] jisaacks commented on #669
:+1:

[2015-11-16 17:37] jisaacks commented on #668
Love it! Looks great! Did you take those photos?

[2015-11-16 17:40] jisaacks commented on #665
This looks great! When I edit an entry I do not see it reflected unless I manually refresh the page. Good job though! :)

[2015-11-16 17:43] jisaacks commented on #666
Love the look! :+1:

[2015-11-16 17:45] jisaacks commented on #664
This looks great but I am getting this error when I try to update an entry:

[2015-11-16 17:50] jisaacks commented on #663
Great idea but I am unable to log a game.

[2015-11-16 17:52] jisaacks commented on #661
Cool, when I try to update an entry I get this error:

[2015-11-16 17:53] IsaacHardy commented on #663
The most recent link is the finsihed version. The "last game" feature was bugged with the last push, so it doesn't show the actually last game. But it is on my parse data.

[2015-11-16 17:53] jisaacks commented on #660
Thanks Amit, the assignment was to have some sort of CRUD implementation (creating, editing, deleting) entries. I do not see that here?

[2015-11-16 17:54] IsaacHardy commented on #663
Step three updates your win/lost record.

[2015-11-16 17:56] jisaacks commented on #679
Got it. I have to refresh the page to see the new entry tho. I am seeing that a lot among all the submissions actually. :+1:

[2015-11-16 17:57] AirForcePierce commented on #679
I will add a redirect after the data is submitted so that users dont get stuck trying to refresh

[2015-11-16 18:06] amitshah86 commented on #660
Yes...I still have work left to do. I am going to work on all assignments
that need work this week and next week to get caught up. Thank You!

On Mon, Nov 16, 2015 at 12:53 PM, JD Isaacks <notifications@github.com>
wrote:

[2015-11-16 18:48] jisaacks commented on #663
:+1:

[2015-11-16 18:49] jisaacks commented on #660
Sounds good! :+1:

[2015-11-16 18:49] jisaacks commented on #679
Awesome, I talked to Tim about this bc I am seeing it a lot so he is going to cover that tomorrow I think.

[2015-11-16 19:21] #663 closed

[2015-11-16 19:25] taheaton commented on #673
A contact entered on the contact form goes to a parse app.  Do you want to see a list view on the site somewhere???

[2015-11-16 19:26] thedoublewolf commented on #664
Fixed it.

[2015-11-16 19:26] #664 closed

[2015-11-16 19:49] jisaacks commented on #673
Yes please!

[2015-11-16 19:50] jisaacks commented on #664
Perfect!

[2015-11-16 21:33] JefBlocker commented on #535
GitHub issue was resolved with Tim.  Here's the link to the repo: https://github.com/JefBlocker/assignment19

[2015-11-16 21:33] #535 closed

[2015-11-16 21:38] Shalmalidp commented on #671
SURGE : curryandcream.surge.sh

REPO : https://github.com/Shalmalidp/Angular-RecipeCollection

then() undefined error resolved

[2015-11-16 21:38] #671 closed

[2015-11-16 21:41] twhitacre commented on #535
:+1: Looks great, thanks Jef!

[2015-11-16 21:42] twhitacre commented on #671
:+1: Nice work!

[2015-11-16 22:07] hyonakim commented on #595
repo --> https://github.com/hyonakim/StudentProfiles
surge --> http://masan-studentdatabase.surge.sh

Finally working.

[2015-11-16 22:07] #595 closed

[2015-11-17 04:35] waspnx commented on #661
ah. I forgot to include a $ when I injected $state... Should be good now.

[2015-11-17 04:35] #661 closed

[2015-11-17 13:52] jisaacks commented on #595
:+1:

[2015-11-17 13:54] jisaacks commented on #678
I took another look, it looks like the error I was seeing was from a chrome extension. Sorry about that!

[2015-11-17 13:54] #678 closed

[2015-11-17 20:00] twhitacre opened #687 "Assignment 25"
@amitshah86 this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #688 "Assignment 25"
@waspnx this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #689 "Assignment 25"
@jefdonmar this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #690 "Assignment 25"
@IsaacHardy this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #691 "Assignment 25"
@thedoublewolf this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #692 "Assignment 25"
@johnrae this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #693 "Assignment 25"
@sbesozzi this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #694 "Assignment 25"
@jbrz this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #695 "Assignment 25"
@charlahcodes this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #696 "Assignment 25"
@itawtitawapuddytat this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #697 "Assignment 25"
@Jrob1991 this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #698 "Assignment 25"
@shalmalidp this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #699 "Assignment 25"
@hopecrichlow this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #700 "Assignment 25"
@taheaton this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #701 "Assignment 25"
@JefBlocker this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #702 "Assignment 25"
@luketgriffith this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #703 "Assignment 25"
@MichaelGaynor this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #704 "Assignment 25"
@ceduncan1 this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #705 "Assignment 25"
@hyonakim this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #706 "Assignment 25"
@AirForcePierce this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #707 "Assignment 25"
@corifowler this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #708 "Assignment 25"
@kmooney517 this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #709 "Assignment 25"
@vpdolan this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #710 "Assignment 25"
@faircloth this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #711 "Assignment 25"
@havisk this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #712 "Assignment 25"
@hdannyyi this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:00] twhitacre opened #713 "Assignment 25"
@JesseSoldat this is your issue for *Assignment 25*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-17 20:18] taheaton commented on #700
https://github.com/taheaton/A25contactform
mysterious-amusement.surge.sh

[2015-11-17 20:18] #700 closed

[2015-11-18 02:01] faircloth commented on #710
http://well-made-veil.surge.sh/
https://github.com/faircloth/ng-ContactForm

[2015-11-18 02:18] luketgriffith commented on #702
abundant-rainstorm.surge.sh
https://github.com/luketgriffith/contactList

[2015-11-18 02:20] kmooney517 commented on #708
https://github.com/kmooney517/ngContactForm
loose-transport.surge.sh

[2015-11-18 02:20] #708 closed

[2015-11-18 02:26] charlahcodes commented on #695
Repo: https://github.com/charlahcodes/Angular-contact-form
Surge: http://uncovered-volcano.surge.sh

[2015-11-18 02:26] #695 closed

[2015-11-18 02:28] charlahcodes commented on #668
Thanks!  I did (not the pizza-related ones)

[2015-11-18 02:51] jbrz commented on #584
Sorry, never saw this.  updated everything.

still @ http://tricky-science.surge.sh/

Tried to add a GIF from imgur.  didn't work.  Think because it's a '.webm' filetype and the html img tag can't handle it.  oh well.

[2015-11-18 02:51] #584 closed

[2015-11-18 02:56] JesseSoldat commented on #713
https://github.com/JesseSoldat/ngForm

literate-monkey.surge.sh

[2015-11-18 02:56] #713 closed

[2015-11-18 03:47] corifowler commented on #707
Surge: http://changeable-building.surge.sh/
Repository: https://github.com/corifowler/ng-comments

[2015-11-18 03:47] #707 closed

[2015-11-18 04:21] Shalmalidp commented on #698
Surge : Angular-Contact-List.surge.sh

Repo : https://github.com/Shalmalidp/ngContactList

[2015-11-18 04:41] IsaacHardy commented on #690
RIPO: https://github.com/IsaacHardy/ngForm
LINK: http://woebegone-company.surge.sh

[2015-11-18 04:41] #690 closed

[2015-11-18 05:05] AirForcePierce commented on #706
repo
https://github.com/AirForcePierce/contactchecker

surge
http://serious-wren.surge.sh

[2015-11-18 05:05] #706 closed

[2015-11-18 05:34] thedoublewolf commented on #691
https://github.com/thedoublewolf/angular-contact-form

surge link in ReadMe.

[2015-11-18 05:34] #691 closed

[2015-11-18 05:58] hyonakim commented on #705
repo --> https://github.com/hyonakim/FooContact/tree/master
surge --> http://foo-contactform.surge.sh

[2015-11-18 05:58] #705 closed

[2015-11-18 06:16] jbrz commented on #694
![screen shot 2015-11-17 at 2153 26](https://cloud.githubusercontent.com/assets/14303017/11231376/c6e33fa4-8d75-11e5-9fa8-84ac7faba2be.png)

My.  Eyes.

[2015-11-18 07:12] sbesozzi commented on #693
https://github.com/sbesozzi/Angular-Contact-Form
http://sbesozzi.angularcontactform.surge.sh/#/

[2015-11-18 07:13] sbesozzi commented on #693
https://github.com/sbesozzi/Angular-Contact-Form
http://sbesozzi.angularcontactform.surge.sh/#/

[2015-11-18 07:13] #693 closed

[2015-11-18 07:58] itawtitawapuddytat commented on #696
repo: https://github.com/itawtitawapuddytat/Angular-Validation-Form
surge: http://snapple-facts.surge.sh/#/

[2015-11-18 12:30] JefBlocker commented on #701
repository: https://github.com/JefBlocker/assignment25
surge: http://guarded-rail.surge.sh/#/

I'm receiving the following errors as undefined, yet when I check the files, I see them defined:

undefined at /Users/jefblocker/Desktop/assignment25/js/config.js :
    11 |        url: '/',
    12 |        controller: 'HomeController as vm'
    13 |        templateUrl: 'templates/home.tpl.html'
--------

[2015-11-18 14:09] amitshah86 commented on #687
https://github.com/amitshah86/Assignment25

I kept getting a ui-router modular error even though i installed it and imported it, so nothing would display on the page. I need to add my if/then statements to create the message for input fields.

[2015-11-18 14:11] ceduncan1 commented on #704
I had issues with the watch function; I'm going to get help today with that. It doesn't totally work, but I'm going to keep working on it.

https://github.com/ceduncan1/Angular-Form
ceduncan_tiy_angular-form.surge.sh

[2015-11-18 14:14] havisk commented on #711
ten-hobbies.surge.sh

https://github.com/havisk/Form

[2015-11-18 14:15] #711 closed

[2015-11-18 14:19] waspnx commented on #688
surge: http://ngContact-detail.surge.sh

repo: https://github.com/waspnx/ngContactForm

incomplete

[2015-11-18 14:19] #688 closed

[2015-11-18 14:35] taheaton commented on #673
https://github.com/taheaton/hayes
ripe-relation.surge.sh

I have added a list page - admin - which lists contacts from the form.  You can also click on the contact to see detail

[2015-11-18 14:35] #673 closed

[2015-11-18 15:31] vpdolan commented on #709
angularjs-contactformerrors.surge.sh

https://github.com/vpdolan/Angularjsassign25

have basic form in place.  was pulling data into parse, but need to correct a gulp error in controller.js

i used a plugin from jquery for the validation coding.

[2015-11-18 15:38] vpdolan commented on #709
here is the refreshed version of github:
https://github.com/vpdolan/Angularjsassign25

thanks

[2015-11-18 17:35] twhitacre opened #714 "Assignment 26"
@amitshah86 this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #715 "Assignment 26"
@waspnx this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #716 "Assignment 26"
@jefdonmar this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #717 "Assignment 26"
@IsaacHardy this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #718 "Assignment 26"
@thedoublewolf this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #719 "Assignment 26"
@johnrae this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #720 "Assignment 26"
@sbesozzi this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #721 "Assignment 26"
@jbrz this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #722 "Assignment 26"
@charlahcodes this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #723 "Assignment 26"
@itawtitawapuddytat this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #724 "Assignment 26"
@Jrob1991 this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #725 "Assignment 26"
@shalmalidp this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #726 "Assignment 26"
@hopecrichlow this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #727 "Assignment 26"
@taheaton this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #728 "Assignment 26"
@JefBlocker this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #729 "Assignment 26"
@luketgriffith this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #730 "Assignment 26"
@MichaelGaynor this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #731 "Assignment 26"
@ceduncan1 this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #732 "Assignment 26"
@hyonakim this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #733 "Assignment 26"
@AirForcePierce this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #734 "Assignment 26"
@corifowler this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #735 "Assignment 26"
@kmooney517 this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #736 "Assignment 26"
@vpdolan this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #737 "Assignment 26"
@faircloth this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #738 "Assignment 26"
@havisk this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:35] twhitacre opened #739 "Assignment 26"
@hdannyyi this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-18 17:36] twhitacre opened #740 "Assignment 26"
@JesseSoldat this is your issue for *Assignment 26*. Please comment below with the required deliverable(s) and close this issue when you are finished.

[2015-11-19 02:03] waspnx commented on #715
repo: https://github.com/waspnx/ngGram
surge: http://talented-girls.surge.sh

[2015-11-19 02:13] JesseSoldat commented on #740
mute-sort.surge.sh

https://github.com/JesseSoldat/ngGram

[2015-11-19 02:13] #740 closed

[2015-11-19 02:24] faircloth commented on #737
http://motionless-square.surge.sh/#/
https://github.com/faircloth/ngGram

[2015-11-19 03:27] luketgriffith commented on #729
https://github.com/luketgriffith/angularPhotoBin
grandiose-ice.surge.sh

[2015-11-19 03:27] #729 closed

[2015-11-19 03:42] thedoublewolf commented on #718
Needs more work http://seemly-peace.surge.sh/#/

[2015-11-19 04:50] kmooney517 commented on #735
flaky-oven.surge.sh
https://github.com/kmooney517/hngaGram

Booyah

[2015-11-19 04:50] #735 closed

[2015-11-19 05:06] IsaacHardy commented on #717
RIPO: https://github.com/IsaacHardy/ngGram
LINK: http://silent-desk.surge.sh

[2015-11-19 05:06] #717 closed

[2015-11-19 05:08] corifowler commented on #734
Surge: http://threatening-milk.surge.sh/
Repo: https://github.com/corifowler/ng-corinstagram

[2015-11-19 05:08] #734 closed

[2015-11-19 07:12] sbesozzi commented on #720
https://github.com/sbesozzi/ngGram

http://sbesozzi.tiy.nggram.surge.sh/#/

*Could not get photos to show on home view and implement likes and hearts.  Still debugging!

[2015-11-19 12:52] thedoublewolf commented on #718
work in progress:
https://github.com/thedoublewolf/InstaNoir-angular-directives
http://seemly-peace.surge.sh

[2015-11-19 12:52] #718 closed

[2015-11-19 13:55] vpdolan commented on #736
https://github.com/vpdolan/AngularDirectivesInstaGram

having some issues with the click/like function.  still a few files left to build.

[2015-11-19 13:57] jbrz commented on #694
Enjoy - I know your eyes will :+1:

https://like-playground.surge.sh
https://github.com/jbrz/TIYassign25

[2015-11-19 13:57] #694 closed

[2015-11-19 14:56] IsaacHardy commented on #717
Updated LINK: http://obsolete-degree.surge.sh

Added some polish

[2015-11-19 19:57] taheaton commented on #727
https://github.com/taheaton/A26insta
handy-ear.surge.sh

[2015-11-19 19:57] #727 closed

[2015-11-19 20:06] taheaton commented on #727
This one should work better woozy-crow.surge.sh

[2015-11-20 02:49] Shalmalidp commented on #725
REPO :https://github.com/Shalmalidp/ngGram

surge : ng-gram-beautiful-goose.surge.sh

the count is on the side not on the heart

[2015-11-20 03:01] Shalmalidp commented on #725
FINAL COMMIT DONE COUNTER CENTERED IN THE HEART  :+1:

[2015-11-20 03:01] #725 closed

[2015-11-20 04:14] charlahcodes commented on #722
Repo: https://github.com/charlahcodes/angular-instagram-clone
Surge: http://wistful-care.surge.sh

[2015-11-20 04:14] #722 closed

[2015-11-20 06:43] hyonakim commented on #732
repo --> https://github.com/hyonakim/Angstagram
surge --> http://angstagram.surge.sh

[2015-11-20 06:43] #732 closed

[2015-11-20 12:27] JefBlocker commented on #728
blog post about ATL AngularJS meetup: http://www.jefblocker.com/?p=4666
respository: https://github.com/JefBlocker/assignment26
surge: loving-nut.surge.sh (nothing much to see yet)

I've built out most of the files and need to add the dblclick-increment/heart functionality and test adding images.  I'm receiving the following errors, which I'll need to fix later:

[07:17:54] gulp-notify: [Error run

[2015-11-20 12:46] itawtitawapuddytat commented on #696
home page styled correctly: http://snapple-facts.surge.sh/#/

[2015-11-20 23:50] havisk commented on #738
http://befitting-feeling.surge.sh/#/

https://github.com/havisk/Angular-Directives

[2015-11-20 23:50] #738 closed

[2015-11-21 20:20] vpdolan commented on #230
https://github.com/vpdolan/JSAssignmentOct1

file:///Users/vinniedolan/tiy/TIYProjects/JSAssignmentOct1/index.html

Wow what a frustrating time I had with this trying to get the answers to print.  I finally figured out the problem (no matter what I changed in main.js repeatedly getting appendChild as null).   I wrote about it in the ReadMe file.

[2015-11-21 20:20] #230 closed

[2015-11-22 21:55] JefBlocker commented on #280
repository:  https://github.com/JefBlocker/accordion
gh-pages: http://jefblocker.github.io/accordion/

[2015-11-22 21:55] #280 closed

[2015-11-25 17:32] jbrz commented on #721
https://github.com/jbrz/PseudoGram2.0
http://changeable-discussion.surge.sh

haven't quite figured out the timeout, do that later this week.

[2015-11-25 17:32] #721 closed

[2015-11-25 22:20] JefBlocker commented on #563
repository: https://github.com/JefBlocker/assignment20
surge: http://overwrought-fairies.surge.sh/#contacts

[2015-11-25 22:20] #563 closed

[2015-11-28 21:14] JefBlocker commented on #222
repository: https://github.com/JefBlocker/etsy/tree/gh-pages
gh-pages: http://jefblocker.github.io/etsy/

[2015-11-28 21:14] #222 closed

[2015-11-29 01:04] jefdonmar commented on #297
Hi There,

Hope you break has been well! I finally got around to working on this project and everything looks fine, but for some reason I cannot render my searches onto the screen. Any help with this would be greatly appreciated

Repo: https://github.com/jefdonmar/EstyRedo/tree/jeff-dev

Deployment: http://new-cook.surge.sh/